smart-energy-finance/flows.json
[{"id":"de7ec194b337d33f","type":"tab","label":"Smart Energy Finance","disabled":false,"info":""},{"id":"8608f11798f73aab","type":"tab","label":"SEF Discovery","disabled":false,"info":""},{"id":"4a3ba93185f54d31","type":"tab","label":"SEF Premium","disabled":false,"info":""},{"id":"a3a2e19c805d4c6b","type":"tab","label":"dashboard prenium","disabled":false,"info":"","env":[]},{"id":"49450dbb7d879ab5","type":"tab","label":"bip","disabled":false,"info":"","env":[]},{"id":"b5d00f243f572b42","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"21e1474893225a70","type":"group","z":"49450dbb7d879ab5","name":"Check OS type","style":{"stroke":"#92d04f","label":true,"color":"#ff0000"},"nodes":["49a9340a349f4267","3af403fd0be33e48","dc1f1d12f35609dd","801343754e5eccf9","f7f0fe7eef2fce8d","a3cb67ca7522c71a","991dc0533e0d8906","4096ec4ef60fdf3c","b781a7e6e5af752a","20733e2fee6ab282","29c270e789d45f57","241535a819102c37","e83ac98cc765668f","58146e629a2fc675","fc498b06c97f9560"],"x":114,"y":119,"w":1112,"h":302},{"id":"mqtt_broker_main","type":"mqtt-broker","name":"HA MQTT Broker","broker":"core-mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"smart_energy_finance/availability","birthQos":"0","birthRetain":"true","birthPayload":"online","closeTopic":"smart_energy_finance/availability","closeQos":"0","closeRetain":"true","closePayload":"offline","willTopic":"smart_energy_finance/availability","willQos":"0","willRetain":"true","willPayload":"offline","userProps":"","sessionExpiry":""},{"id":"b74587937de222a2","type":"inject","z":"de7ec194b337d33f","name":"Startup","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":90,"y":100,"wires":[["d505cd6e0c45a522"]]},{"id":"08e5737355f6e617","type":"inject","z":"de7ec194b337d33f","name":"Loop 10s","props":[],"repeat":"10","crontab":"","once":false,"onceDelay":"","topic":"","x":70,"y":220,"wires":[["07bc48684c4cc0ca"]]},{"id":"07bc48684c4cc0ca","type":"function","z":"de7ec194b337d33f","name":"Prepare + Read Config","func":"const tz = env.get(\"ADDON_TIMEZONE\") || \"UTC\";\nconst contractType = String(env.get(\"CONTRACT_TYPE\") || \"fixed\").trim();\nconst currency = String(env.get(\"CURRENCY\") || \"EUR\").trim();\nconst lang = String(env.get(\"DASHBOARD_LANGUAGE\") || \"en\").trim().toLowerCase();\nconst sendBip = String(env.get(\"SEND_BIP\") || \"true\") === \"true\";\n\nconst dashboardCustomCardsInstalled = String(env.get(\"DASHBOARD_CUSTOM_CARDS_INSTALLED\") || \"false\") === \"true\";\nconst premiumKey = String(env.get(\"SMART_ENERGY_FINANCE_PREMIUM_KEY\") || env.get(\"PREMIUM_KEY\") || \"\").trim();\nconst premiumKeyConfigured = premiumKey.length > 0;\n\nglobal.set(\"config.dashboardLanguage\", lang === \"fr\" ? \"fr\" : \"en\");\nglobal.set(\"dashboard.language\", lang === \"fr\" ? \"fr\" : \"en\");\nglobal.set(\"config.dashboardCustomCardsInstalled\", dashboardCustomCardsInstalled);\nglobal.set(\"dashboard.custom_cards_installed\", dashboardCustomCardsInstalled);\nglobal.set(\"config.sendBip\", sendBip);\nglobal.set(\"send_bip\", sendBip);\nglobal.set(\"premium.key\", premiumKey);\nglobal.set(\"premium.key_configured\", premiumKeyConfigured);\n\nif (global.get(\"premium.active\") === undefined) global.set(\"premium.active\", false);\nif (!global.get(\"premium.status\")) global.set(\"premium.status\", premiumKeyConfigured ? \"pending_validation\" : \"missing_key\");\nif (global.get(\"premium.tier\") === undefined) global.set(\"premium.tier\", null);\n\nmsg.cfg = {\n    tz,\n    contractType,\n    currency,\n    lang,\n    sendBip,\n\n    monthlySubscriptionPrice: Number(env.get(\"MONTHLY_SUBSCRIPTION_PRICE\") || 0),\n    fixedImportPrice: Number(env.get(\"FIXED_IMPORT_PRICE\") || 0),\n    fixedExportPrice: Number(env.get(\"FIXED_EXPORT_PRICE\") || 0),\n\n    tariff1: {\n        name: String(env.get(\"TARIFF_1_NAME\") || \"\").trim(),\n        price: Number(env.get(\"TARIFF_1_PRICE\") || 0),\n        start: String(env.get(\"TARIFF_1_START\") || \"\").trim(),\n        end: String(env.get(\"TARIFF_1_END\") || \"\").trim()\n    },\n    tariff2: {\n        name: String(env.get(\"TARIFF_2_NAME\") || \"\").trim(),\n        price: Number(env.get(\"TARIFF_2_PRICE\") || 0),\n        start: String(env.get(\"TARIFF_2_START\") || \"\").trim(),\n        end: String(env.get(\"TARIFF_2_END\") || \"\").trim()\n    },\n    tariff3: {\n        name: String(env.get(\"TARIFF_3_NAME\") || \"\").trim(),\n        price: Number(env.get(\"TARIFF_3_PRICE\") || 0),\n        start: String(env.get(\"TARIFF_3_START\") || \"\").trim(),\n        end: String(env.get(\"TARIFF_3_END\") || \"\").trim()\n    },\n    tariff4: {\n        name: String(env.get(\"TARIFF_4_NAME\") || \"\").trim(),\n        price: Number(env.get(\"TARIFF_4_PRICE\") || 0),\n        start: String(env.get(\"TARIFF_4_START\") || \"\").trim(),\n        end: String(env.get(\"TARIFF_4_END\") || \"\").trim()\n    },\n\n    tempo: {\n        colorEntity: String(env.get(\"TEMPO_COLOR_ENTITY\") || \"\").trim(),\n        blueHc: Number(env.get(\"TEMPO_BLUE_HC_PRICE\") || 0),\n        blueHp: Number(env.get(\"TEMPO_BLUE_HP_PRICE\") || 0),\n        whiteHc: Number(env.get(\"TEMPO_WHITE_HC_PRICE\") || 0),\n        whiteHp: Number(env.get(\"TEMPO_WHITE_HP_PRICE\") || 0),\n        redHc: Number(env.get(\"TEMPO_RED_HC_PRICE\") || 0),\n        redHp: Number(env.get(\"TEMPO_RED_HP_PRICE\") || 0),\n        hcSlot1Start: String(env.get(\"TEMPO_HC_SLOT_1_START\") || \"22:00\").trim(),\n        hcSlot1End: String(env.get(\"TEMPO_HC_SLOT_1_END\") || \"06:00\").trim(),\n        hcSlot2Start: String(env.get(\"TEMPO_HC_SLOT_2_START\") || \"\").trim(),\n        hcSlot2End: String(env.get(\"TEMPO_HC_SLOT_2_END\") || \"\").trim()\n    },\n\n    solarEnabled: String(env.get(\"SOLAR_ENABLED\") || \"false\") === \"true\",\n    solarInputMode: String(env.get(\"SOLAR_INPUT_MODE\") || \"energy\").trim(),\n    solarEnergyEntity: String(env.get(\"SOLAR_ENERGY_ENTITY\") || \"\").trim(),\n    solarPowerEntity: String(env.get(\"SOLAR_POWER_ENTITY\") || \"\").trim(),\n\n    loadEnabled: String(env.get(\"LOAD_ENABLED\") || \"false\") === \"true\",\n    loadInputMode: String(env.get(\"LOAD_INPUT_MODE\") || \"energy\").trim(),\n    loadEnergyEntity: String(env.get(\"LOAD_ENERGY_ENTITY\") || \"\").trim(),\n    loadPowerEntity: String(env.get(\"LOAD_POWER_ENTITY\") || \"\").trim(),\n\n    batteryEnabled: String(env.get(\"BATTERY_ENABLED\") || \"false\") === \"true\",\n    batteryInputMode: String(env.get(\"BATTERY_INPUT_MODE\") || \"energy\").trim(),\n    batteryChargeEnergyEntity: String(env.get(\"BATTERY_CHARGE_ENERGY_ENTITY\") || \"\").trim(),\n    batteryDischargeEnergyEntity: String(env.get(\"BATTERY_DISCHARGE_ENERGY_ENTITY\") || \"\").trim(),\n    batteryChargePowerEntity: String(env.get(\"BATTERY_CHARGE_POWER_ENTITY\") || \"\").trim(),\n    batteryDischargePowerEntity: String(env.get(\"BATTERY_DISCHARGE_POWER_ENTITY\") || \"\").trim(),\n    batteryCapacityAh: Number(env.get(\"BATTERY_CAPACITY_AH\") || 0),\n    batteryTotalCapacityKwh: Number(env.get(\"BATTERY_TOTAL_CAPACITY_KWH\") || 0),\n\n    gridEnabled: String(env.get(\"GRID_ENABLED\") || \"false\") === \"true\",\n    gridInputMode: String(env.get(\"GRID_INPUT_MODE\") || \"energy\").trim(),\n    gridImportEnergyEntity: String(env.get(\"GRID_IMPORT_ENERGY_ENTITY\") || \"\").trim(),\n    gridExportEnergyEntity: String(env.get(\"GRID_EXPORT_ENERGY_ENTITY\") || \"\").trim(),\n    gridImportPowerEntity: String(env.get(\"GRID_IMPORT_POWER_ENTITY\") || \"\").trim(),\n    gridExportPowerEntity: String(env.get(\"GRID_EXPORT_POWER_ENTITY\") || \"\").trim()\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":200,"wires":[["74eaeade48491602"]]},{"id":"74eaeade48491602","type":"function","z":"de7ec194b337d33f","name":"Build HA States Request","func":"const token = env.get(\"SUPERVISOR_TOKEN\") || \"\";\nif (!token) {\n    node.error(\"SUPERVISOR_TOKEN introuvable\");\n    return null;\n}\n\nmsg.method = \"GET\";\nmsg.url = \"http://supervisor/core/api/states\";\nmsg.headers = {\n    Authorization: `Bearer ${token}`,\n    \"Content-Type\": \"application/json\"\n};\nreturn msg;","outputs":1,"x":370,"y":280,"wires":[["ace4f590b130e405"]]},{"id":"ace4f590b130e405","type":"http request","z":"de7ec194b337d33f","name":"Read HA States API","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":580,"y":200,"wires":[["440dcda0b8f81530"]]},{"id":"440dcda0b8f81530","type":"function","z":"de7ec194b337d33f","name":"Extract Configured Entities","func":"const cfg = msg.cfg;\nconst list = Array.isArray(msg.payload) ? msg.payload : [];\n\nconst states = {};\nfor (const item of list) {\n    if (item && item.entity_id) states[item.entity_id] = item;\n}\n\nfunction num(entityId) {\n    if (!entityId || !states[entityId]) return 0;\n    const n = Number(states[entityId].state);\n    return Number.isFinite(n) ? n : 0;\n}\n\nfunction str(entityId) {\n    if (!entityId || !states[entityId]) return \"\";\n    return String(states[entityId].state || \"\").trim();\n}\n\nmsg.inputs = {\n    solarDay: cfg.solarEnabled && cfg.solarInputMode === \"energy\" ? num(cfg.solarEnergyEntity) : 0,\n    loadDay: cfg.loadEnabled && cfg.loadInputMode === \"energy\" ? num(cfg.loadEnergyEntity) : 0,\n    gridImportDay: cfg.gridEnabled && cfg.gridInputMode === \"energy\" ? num(cfg.gridImportEnergyEntity) : 0,\n    gridExportDay: cfg.gridEnabled && cfg.gridInputMode === \"energy\" ? num(cfg.gridExportEnergyEntity) : 0,\n    batteryChargeDay: cfg.batteryEnabled && cfg.batteryInputMode === \"energy\" ? num(cfg.batteryChargeEnergyEntity) : 0,\n    batteryDischargeDay: cfg.batteryEnabled && cfg.batteryInputMode === \"energy\" ? num(cfg.batteryDischargeEnergyEntity) : 0,\n\n    solarPower: cfg.solarEnabled && cfg.solarInputMode === \"power\" ? num(cfg.solarPowerEntity) : 0,\n    loadPower: cfg.loadEnabled && cfg.loadInputMode === \"power\" ? num(cfg.loadPowerEntity) : 0,\n    gridImportPower: cfg.gridEnabled && cfg.gridInputMode === \"power\" ? num(cfg.gridImportPowerEntity) : 0,\n    gridExportPower: cfg.gridEnabled && cfg.gridInputMode === \"power\" ? num(cfg.gridExportPowerEntity) : 0,\n    batteryChargePower: cfg.batteryEnabled && cfg.batteryInputMode === \"power\" ? num(cfg.batteryChargePowerEntity) : 0,\n    batteryDischargePower: cfg.batteryEnabled && cfg.batteryInputMode === \"power\" ? num(cfg.batteryDischargePowerEntity) : 0,\n\n    tempoColorRaw: cfg.contractType === \"tempo\" ? str(cfg.tempo.colorEntity) : \"\"\n};\n\nreturn msg;","outputs":1,"x":700,"y":280,"wires":[["f9ff4f6692b06c85"]]},{"id":"f9ff4f6692b06c85","type":"function","z":"de7ec194b337d33f","name":"Free Engine","func":"const cfg = msg.cfg;\nconst inputs = msg.inputs || {};\nconst premiumActive = global.get(\"premium.active\") === true;\n\nfunction round(v, d = 2) {\n    return Number((Number(v || 0)).toFixed(d));\n}\n\nfunction hhmmToMinutes(s) {\n    if (!s || !/^\\d{2}:\\d{2}$/.test(s)) return null;\n    const [h, m] = s.split(\":\").map(Number);\n    if (!Number.isInteger(h) || !Number.isInteger(m)) return null;\n    if (h < 0 || h > 23 || m < 0 || m > 59) return null;\n    return h * 60 + m;\n}\n\nfunction minuteOfDay(t) {\n    return (Number(t.hour) * 60) + Number(t.minute);\n}\n\nfunction isMinuteInRange(minute, start, end) {\n    const s = hhmmToMinutes(start);\n    const e = hhmmToMinutes(end);\n    if (s === null || e === null) return false;\n    if (s === e) return true;\n    if (s < e) return minute >= s && minute < e;\n    return minute >= s || minute < e;\n}\n\nfunction normalizeTempoColor(v) {\n    const s = String(v || \"\").trim().toLowerCase();\n    if (s === \"bleu\") return \"blue\";\n    if (s === \"blanc\") return \"white\";\n    if (s === \"rouge\") return \"red\";\n    if (s === \"blue\") return \"blue\";\n    if (s === \"white\") return \"white\";\n    if (s === \"red\") return \"red\";\n    return \"unknown\";\n}\n\nfunction isTempoHc(minute, tempoCfg) {\n    return (\n        isMinuteInRange(minute, tempoCfg.hcSlot1Start, tempoCfg.hcSlot1End) ||\n        (tempoCfg.hcSlot2Start && tempoCfg.hcSlot2End && isMinuteInRange(minute, tempoCfg.hcSlot2Start, tempoCfg.hcSlot2End))\n    );\n}\n\nfunction dateParts(tz) {\n    const parts = new Intl.DateTimeFormat(\"en-CA\", {\n        timeZone: tz,\n        year: \"numeric\",\n        month: \"2-digit\",\n        day: \"2-digit\",\n        hour: \"2-digit\",\n        minute: \"2-digit\",\n        second: \"2-digit\",\n        hour12: false\n    }).formatToParts(new Date());\n\n    const m = {};\n    for (const p of parts) {\n        if (p.type !== \"literal\") m[p.type] = p.value;\n    }\n\n    return {\n        year: m.year,\n        month: m.month,\n        day: m.day,\n        hour: m.hour,\n        minute: m.minute,\n        second: m.second,\n        dayKey: `${m.year}-${m.month}-${m.day}`,\n        monthKey: `${m.year}-${m.month}`,\n        yearKey: `${m.year}`\n    };\n}\n\nfunction emptyEnergy() {\n    return {\n        solar: 0,\n        load: 0,\n        gridImport: 0,\n        gridExport: 0,\n        batteryCharge: 0,\n        batteryDischarge: 0\n    };\n}\n\nfunction emptyFinance() {\n    return {\n        import_cost: 0,\n        export_revenue: 0,\n        theoretical_no_solar_cost: 0,\n        solar_production_value: 0,\n        battery_discharge_value: 0,\n        home_supply_savings: 0\n    };\n}\n\nfunction currentDaySnapshot(inputs) {\n    return {\n        solar: Number(inputs.solarDay || 0),\n        load: Number(inputs.loadDay || 0),\n        gridImport: Number(inputs.gridImportDay || 0),\n        gridExport: Number(inputs.gridExportDay || 0),\n        batteryCharge: Number(inputs.batteryChargeDay || 0),\n        batteryDischarge: Number(inputs.batteryDischargeDay || 0)\n    };\n}\n\nfunction safeEnergyValue(v) {\n    const n = Number(v);\n    return Number.isFinite(n) && n >= 0 ? n : 0;\n}\n\nfunction sanitizeEnergySnapshot(s) {\n    return {\n        solar: safeEnergyValue(s && s.solar),\n        load: safeEnergyValue(s && s.load),\n        gridImport: safeEnergyValue(s && s.gridImport),\n        gridExport: safeEnergyValue(s && s.gridExport),\n        batteryCharge: safeEnergyValue(s && s.batteryCharge),\n        batteryDischarge: safeEnergyValue(s && s.batteryDischarge)\n    };\n}\n\nfunction sumEnergy(s) {\n    return (\n        Number(s.solar || 0) +\n        Number(s.load || 0) +\n        Number(s.gridImport || 0) +\n        Number(s.gridExport || 0) +\n        Number(s.batteryCharge || 0) +\n        Number(s.batteryDischarge || 0)\n    );\n}\n\nfunction addEnergy(a, b) {\n    return {\n        solar: round(Number(a.solar || 0) + Number(b.solar || 0), 6),\n        load: round(Number(a.load || 0) + Number(b.load || 0), 6),\n        gridImport: round(Number(a.gridImport || 0) + Number(b.gridImport || 0), 6),\n        gridExport: round(Number(a.gridExport || 0) + Number(b.gridExport || 0), 6),\n        batteryCharge: round(Number(a.batteryCharge || 0) + Number(b.batteryCharge || 0), 6),\n        batteryDischarge: round(Number(a.batteryDischarge || 0) + Number(b.batteryDischarge || 0), 6)\n    };\n}\n\nfunction addFinance(a, b) {\n    return {\n        import_cost: round(Number(a.import_cost || 0) + Number(b.import_cost || 0), 6),\n        export_revenue: round(Number(a.export_revenue || 0) + Number(b.export_revenue || 0), 6),\n        theoretical_no_solar_cost: round(Number(a.theoretical_no_solar_cost || 0) + Number(b.theoretical_no_solar_cost || 0), 6),\n        solar_production_value: round(Number(a.solar_production_value || 0) + Number(b.solar_production_value || 0), 6),\n        battery_discharge_value: round(Number(a.battery_discharge_value || 0) + Number(b.battery_discharge_value || 0), 6),\n        home_supply_savings: round(Number(a.home_supply_savings || 0) + Number(b.home_supply_savings || 0), 6)\n    };\n}\n\nfunction proratedSubscription(periodName, monthlyPrice, time) {\n    const p = Number(monthlyPrice || 0);\n    if (!p) return 0;\n    if (periodName === \"day\") {\n        const daysInMonth = new Date(Number(time.year), Number(time.month), 0).getDate();\n        return p / daysInMonth;\n    }\n    if (periodName === \"month\") return p;\n    if (periodName === \"year\") return p * 12;\n    return 0;\n}\n\nfunction buildPeriodFinance(accEnergy, accFinance, periodName, cfg, now) {\n    const importEnergy = Number(accEnergy.gridImport || 0);\n    const exportEnergy = Number(accEnergy.gridExport || 0);\n    const loadEnergy = Number(accEnergy.load || 0);\n    const solarEnergy = Number(accEnergy.solar || 0);\n    const batteryCharge = Number(accEnergy.batteryCharge || 0);\n    const batteryDischarge = Number(accEnergy.batteryDischarge || 0);\n\n    const importCost = Number(accFinance.import_cost || 0);\n    const exportRevenue = Number(accFinance.export_revenue || 0);\n    const theoreticalNoSolarCost = Number(accFinance.theoretical_no_solar_cost || 0);\n    const solarProductionValue = Number(accFinance.solar_production_value || 0);\n    const batteryDischargeValue = Number(accFinance.battery_discharge_value || 0);\n    const homeSupplySavings = Number(accFinance.home_supply_savings || 0);\n\n    const subscriptionCost = proratedSubscription(periodName, cfg.monthlySubscriptionPrice, now);\n    const realTotalWithSubscription = importCost + subscriptionCost - exportRevenue;\n    const savingsVsNoSolar = theoreticalNoSolarCost - importCost + exportRevenue;\n\n    let selfSufficiencyPct = 0;\n    if (loadEnergy > 0) {\n        selfSufficiencyPct = ((Math.max(0, loadEnergy - importEnergy)) / loadEnergy) * 100;\n    }\n\n    let gridDependencyPct = 0;\n    if (loadEnergy > 0) {\n        gridDependencyPct = (importEnergy / loadEnergy) * 100;\n    }\n\n    return {\n        energy: {\n            solar_kwh: round(solarEnergy),\n            load_kwh: round(loadEnergy),\n            grid_import_kwh: round(importEnergy),\n            grid_export_kwh: round(exportEnergy),\n            battery_charge_kwh: round(batteryCharge),\n            battery_discharge_kwh: round(batteryDischarge)\n        },\n        finance: {\n            import_cost: round(importCost),\n            export_revenue: round(exportRevenue),\n            subscription_cost: round(subscriptionCost),\n            theoretical_no_solar_cost: round(theoreticalNoSolarCost),\n            solar_production_value: round(solarProductionValue),\n            battery_discharge_value: round(batteryDischargeValue),\n            home_supply_savings: round(homeSupplySavings),\n            real_total_with_subscription: round(realTotalWithSubscription),\n            savings_vs_no_solar: round(savingsVsNoSolar)\n        },\n        ratios: {\n            self_sufficiency_pct: round(selfSufficiencyPct, 2),\n            grid_dependency_pct: round(gridDependencyPct, 2)\n        }\n    };\n}\n\nfunction clone(v) {\n    return JSON.parse(JSON.stringify(v));\n}\n\nfunction trimHistory(arr, maxLen) {\n    const a = Array.isArray(arr) ? arr : [];\n    while (a.length > maxLen) a.shift();\n    return a;\n}\n\nfunction makeHistoryEntry(key, periodData) {\n    return {\n        key,\n        import_cost: round(periodData.finance.import_cost),\n        export_revenue: round(periodData.finance.export_revenue),\n        theoretical_no_solar_cost: round(periodData.finance.theoretical_no_solar_cost),\n        solar_production_value: round(periodData.finance.solar_production_value),\n        battery_discharge_value: round(periodData.finance.battery_discharge_value),\n        home_supply_savings: round(periodData.finance.home_supply_savings),\n        real_total_with_subscription: round(periodData.finance.real_total_with_subscription),\n        savings_vs_no_solar: round(periodData.finance.savings_vs_no_solar),\n        grid_import_kwh: round(periodData.energy.grid_import_kwh),\n        grid_export_kwh: round(periodData.energy.grid_export_kwh),\n        solar_kwh: round(periodData.energy.solar_kwh),\n        load_kwh: round(periodData.energy.load_kwh),\n        battery_charge_kwh: round(periodData.energy.battery_charge_kwh),\n        battery_discharge_kwh: round(periodData.energy.battery_discharge_kwh),\n        self_sufficiency_pct: round(periodData.ratios.self_sufficiency_pct, 2),\n        grid_dependency_pct: round(periodData.ratios.grid_dependency_pct, 2)\n    };\n}\n\nfunction diff(cur, prev) {\n    return round(Number(cur || 0) - Number(prev || 0), 6);\n}\n\n/*\n  Protection reboot HA / redémarrage add-on :\n  - si un compteur baisse = rebase sans ajouter de finance\n  - si HA renvoie 0 temporairement = on garde l'ancien baseline\n  - si gros delta impossible juste après restore/restart = rebase sans ajout\n*/\nfunction buildDeltaWithProtection(cur, prev, store, nowMs) {\n    const fields = [\"solar\", \"load\", \"gridImport\", \"gridExport\", \"batteryCharge\", \"batteryDischarge\"];\n    const delta = emptyEnergy();\n\n    const lastRunMs = Number(store.runtime.lastRunMs || 0);\n    const elapsedSec = lastRunMs > 0 ? Math.max(10, (nowMs - lastRunMs) / 1000) : 10;\n\n    const maxPowerKw = Number(store.runtime.maxAcceptedPowerKw || 60);\n    const maxDeltaKwh = Math.max(0.35, (maxPowerKw * elapsedSec / 3600) * 3);\n\n    let hasReset = false;\n    let hasProgress = false;\n    let hasImpossibleJump = false;\n    let impossibleField = \"\";\n\n    const curSum = sumEnergy(cur);\n    const prevSum = sumEnergy(prev);\n\n    if (curSum === 0 && prevSum > 0) {\n        return {\n            delta,\n            hasReset: false,\n            hasProgress: false,\n            hasImpossibleJump: true,\n            impossibleField: \"all_zero_after_restart\",\n            keepPreviousBaseline: true\n        };\n    }\n\n    for (const f of fields) {\n        const d = diff(cur[f], prev[f]);\n\n        if (d < 0) {\n            hasReset = true;\n            delta[f] = 0;\n            continue;\n        }\n\n        if (d > maxDeltaKwh) {\n            hasImpossibleJump = true;\n            impossibleField = f;\n            delta[f] = 0;\n            continue;\n        }\n\n        delta[f] = d;\n        if (d > 0) hasProgress = true;\n    }\n\n    return {\n        delta,\n        hasReset,\n        hasProgress,\n        hasImpossibleJump,\n        impossibleField,\n        keepPreviousBaseline: false\n    };\n}\n\nconst now = dateParts(cfg.tz || \"UTC\");\nconst nowMs = Date.now();\nconst liveDay = sanitizeEnergySnapshot(currentDaySnapshot(inputs));\n\nfunction createDefaultStore() {\n    return {\n        keys: { dayKey: now.dayKey, monthKey: now.monthKey, yearKey: now.yearKey },\n        prevLiveDay: liveDay,\n        closedDayMonthAccumulator: emptyEnergy(),\n        closedDayYearAccumulator: emptyEnergy(),\n        currentDayFinanceAccumulator: emptyFinance(),\n        closedDayMonthFinanceAccumulator: emptyFinance(),\n        closedDayYearFinanceAccumulator: emptyFinance(),\n        currentDaySnapshot: liveDay,\n        lastClosedDayKey: \"\",\n        runtime: {\n            initialized: false,\n            lastRebaseReason: \"\",\n            lastRebaseAt: \"\",\n            lastRunMs: 0,\n            restartGuardUntilMs: 0,\n            maxAcceptedPowerKw: 60\n        },\n        history: {\n            daily: [],\n            monthly: [],\n            yearly: [],\n            lastArchivedMonthKey: \"\",\n            lastArchivedYearKey: \"\"\n        },\n        meta: {\n            lastTempoColor: \"\",\n            lastTariffName: \"\",\n            lastTariffPeriod: \"\",\n            lastRun: \"\"\n        }\n    };\n}\n\nlet store = flow.get(\"finance_store\", \"persistent\") || global.get(\"sef.persisted_store\");\nif (!store || typeof store !== \"object\") {\n    store = createDefaultStore();\n}\n\nstore.history = store.history || {};\nstore.history.daily = Array.isArray(store.history.daily) ? store.history.daily : [];\nstore.history.monthly = Array.isArray(store.history.monthly) ? store.history.monthly : [];\nstore.history.yearly = Array.isArray(store.history.yearly) ? store.history.yearly : [];\nstore.history.lastArchivedMonthKey = String(store.history.lastArchivedMonthKey || \"\");\nstore.history.lastArchivedYearKey = String(store.history.lastArchivedYearKey || \"\");\n\nstore.runtime = store.runtime || {};\nstore.runtime.initialized = store.runtime.initialized === true;\nstore.runtime.lastRebaseReason = String(store.runtime.lastRebaseReason || \"\");\nstore.runtime.lastRebaseAt = String(store.runtime.lastRebaseAt || \"\");\nstore.runtime.lastRunMs = Number(store.runtime.lastRunMs || 0);\nstore.runtime.restartGuardUntilMs = Number(store.runtime.restartGuardUntilMs || 0);\nstore.runtime.maxAcceptedPowerKw = Number(store.runtime.maxAcceptedPowerKw || 60);\n\nif (msg.restore && msg.restore.financeStoreRestored === true) {\n    store.runtime.restartGuardUntilMs = nowMs + 120000;\n    store.runtime.lastRebaseReason = \"restore_guard_started\";\n    store.runtime.lastRebaseAt = new Date().toISOString();\n}\n\nstore.prevLiveDay = sanitizeEnergySnapshot(store.prevLiveDay || emptyEnergy());\nstore.currentDaySnapshot = sanitizeEnergySnapshot(store.currentDaySnapshot || emptyEnergy());\nstore.closedDayMonthAccumulator = sanitizeEnergySnapshot(store.closedDayMonthAccumulator || emptyEnergy());\nstore.closedDayYearAccumulator = sanitizeEnergySnapshot(store.closedDayYearAccumulator || emptyEnergy());\nstore.currentDayFinanceAccumulator = store.currentDayFinanceAccumulator || emptyFinance();\nstore.closedDayMonthFinanceAccumulator = store.closedDayMonthFinanceAccumulator || emptyFinance();\nstore.closedDayYearFinanceAccumulator = store.closedDayYearFinanceAccumulator || emptyFinance();\n\nconst oldDayKey = String(store.keys?.dayKey || now.dayKey);\nconst oldMonthKey = String(store.keys?.monthKey || now.monthKey);\nconst oldYearKey = String(store.keys?.yearKey || now.yearKey);\n\nfunction getCurrentTariff() {\n    const minute = minuteOfDay(now);\n\n    if (cfg.contractType === \"fixed\") {\n        return {\n            mode: \"fixed\",\n            name: \"fixed\",\n            period: \"fixed\",\n            importPrice: Number(cfg.fixedImportPrice || 0),\n            exportPrice: Number(cfg.fixedExportPrice || 0),\n            tempoColor: \"\",\n            tempoColorRaw: \"\",\n            isTempoHc: false\n        };\n    }\n\n    if (cfg.contractType === \"time_based\") {\n        const tariffs = [cfg.tariff1, cfg.tariff2, cfg.tariff3, cfg.tariff4]\n            .filter(t => t && t.name && t.start && t.end);\n\n        for (const t of tariffs) {\n            if (isMinuteInRange(minute, t.start, t.end)) {\n                return {\n                    mode: \"time_based\",\n                    name: t.name,\n                    period: t.name,\n                    importPrice: Number(t.price || 0),\n                    exportPrice: Number(cfg.fixedExportPrice || 0),\n                    tempoColor: \"\",\n                    tempoColorRaw: \"\",\n                    isTempoHc: false\n                };\n            }\n        }\n\n        return {\n            mode: \"time_based\",\n            name: \"unmatched\",\n            period: \"unmatched\",\n            importPrice: 0,\n            exportPrice: Number(cfg.fixedExportPrice || 0),\n            tempoColor: \"\",\n            tempoColorRaw: \"\",\n            isTempoHc: false\n        };\n    }\n\n    if (cfg.contractType === \"tempo\") {\n        const colorRaw = String(inputs.tempoColorRaw || \"\").trim();\n        const color = normalizeTempoColor(colorRaw);\n        const hc = isTempoHc(minute, cfg.tempo);\n\n        let importPrice = 0;\n        let name = \"tempo_unknown\";\n        const period = hc ? \"hc\" : \"hp\";\n\n        if (color === \"blue\") {\n            importPrice = hc ? Number(cfg.tempo.blueHc || 0) : Number(cfg.tempo.blueHp || 0);\n            name = hc ? \"tempo_blue_hc\" : \"tempo_blue_hp\";\n        } else if (color === \"white\") {\n            importPrice = hc ? Number(cfg.tempo.whiteHc || 0) : Number(cfg.tempo.whiteHp || 0);\n            name = hc ? \"tempo_white_hc\" : \"tempo_white_hp\";\n        } else if (color === \"red\") {\n            importPrice = hc ? Number(cfg.tempo.redHc || 0) : Number(cfg.tempo.redHp || 0);\n            name = hc ? \"tempo_red_hc\" : \"tempo_red_hp\";\n        }\n\n        return {\n            mode: \"tempo\",\n            name,\n            period,\n            importPrice,\n            exportPrice: Number(cfg.fixedExportPrice || 0),\n            tempoColor: color,\n            tempoColorRaw: colorRaw || \"inconnu\",\n            isTempoHc: hc\n        };\n    }\n\n    return {\n        mode: \"fixed\",\n        name: \"fixed\",\n        period: \"fixed\",\n        importPrice: Number(cfg.fixedImportPrice || 0),\n        exportPrice: Number(cfg.fixedExportPrice || 0),\n        tempoColor: \"\",\n        tempoColorRaw: \"\",\n        isTempoHc: false\n    };\n}\n\nconst tariff = getCurrentTariff();\n\nif (oldDayKey !== now.dayKey) {\n    if (store.lastClosedDayKey !== oldDayKey) {\n        const closedDayData = buildPeriodFinance(\n            clone(store.currentDaySnapshot || emptyEnergy()),\n            clone(store.currentDayFinanceAccumulator || emptyFinance()),\n            \"day\",\n            cfg,\n            {\n                year: oldDayKey.slice(0, 4),\n                month: oldDayKey.slice(5, 7),\n                day: oldDayKey.slice(8, 10)\n            }\n        );\n\n        store.history.daily.push(makeHistoryEntry(oldDayKey, closedDayData));\n        store.history.daily = trimHistory(store.history.daily, 62);\n\n        store.closedDayMonthAccumulator = addEnergy(store.closedDayMonthAccumulator, store.currentDaySnapshot);\n        store.closedDayYearAccumulator = addEnergy(store.closedDayYearAccumulator, store.currentDaySnapshot);\n        store.closedDayMonthFinanceAccumulator = addFinance(store.closedDayMonthFinanceAccumulator, store.currentDayFinanceAccumulator);\n        store.closedDayYearFinanceAccumulator = addFinance(store.closedDayYearFinanceAccumulator, store.currentDayFinanceAccumulator);\n        store.lastClosedDayKey = oldDayKey;\n    }\n\n    if (oldMonthKey !== now.monthKey) {\n        if (store.history.lastArchivedMonthKey !== oldMonthKey) {\n            const closedMonthData = buildPeriodFinance(\n                clone(store.closedDayMonthAccumulator || emptyEnergy()),\n                clone(store.closedDayMonthFinanceAccumulator || emptyFinance()),\n                \"month\",\n                cfg,\n                {\n                    year: oldMonthKey.slice(0, 4),\n                    month: oldMonthKey.slice(5, 7)\n                }\n            );\n\n            store.history.monthly.push(makeHistoryEntry(oldMonthKey, closedMonthData));\n            store.history.monthly = trimHistory(store.history.monthly, 24);\n            store.history.lastArchivedMonthKey = oldMonthKey;\n        }\n\n        store.closedDayMonthAccumulator = emptyEnergy();\n        store.closedDayMonthFinanceAccumulator = emptyFinance();\n    }\n\n    if (oldYearKey !== now.yearKey) {\n        if (store.history.lastArchivedYearKey !== oldYearKey) {\n            const closedYearData = buildPeriodFinance(\n                clone(store.closedDayYearAccumulator || emptyEnergy()),\n                clone(store.closedDayYearFinanceAccumulator || emptyFinance()),\n                \"year\",\n                cfg,\n                { year: oldYearKey }\n            );\n\n            store.history.yearly.push(makeHistoryEntry(oldYearKey, closedYearData));\n            store.history.yearly = trimHistory(store.history.yearly, 10);\n            store.history.lastArchivedYearKey = oldYearKey;\n        }\n\n        store.closedDayYearAccumulator = emptyEnergy();\n        store.closedDayYearFinanceAccumulator = emptyFinance();\n    }\n\n    store.currentDayFinanceAccumulator = emptyFinance();\n    store.prevLiveDay = liveDay;\n    store.currentDaySnapshot = liveDay;\n    store.runtime.initialized = true;\n    store.runtime.lastRebaseReason = \"new_day\";\n    store.runtime.lastRebaseAt = new Date().toISOString();\n    store.runtime.restartGuardUntilMs = nowMs + 60000;\n}\n\nif (oldDayKey === now.dayKey) {\n    if (!store.runtime.initialized) {\n        store.prevLiveDay = liveDay;\n        store.currentDaySnapshot = liveDay;\n        store.runtime.initialized = true;\n        store.runtime.lastRebaseReason = \"startup_init\";\n        store.runtime.lastRebaseAt = new Date().toISOString();\n        store.runtime.restartGuardUntilMs = nowMs + 120000;\n    } else {\n        const inRestartGuard = nowMs < Number(store.runtime.restartGuardUntilMs || 0);\n        const calc = buildDeltaWithProtection(liveDay, store.prevLiveDay || emptyEnergy(), store, nowMs);\n        const delta = calc.delta;\n\n        if (inRestartGuard) {\n            store.prevLiveDay = liveDay;\n            store.currentDaySnapshot = liveDay;\n            store.runtime.lastRebaseReason = \"restart_guard_rebase\";\n            store.runtime.lastRebaseAt = new Date().toISOString();\n\n            node.status({\n                fill: \"yellow\",\n                shape: \"ring\",\n                text: \"restart guard: baseline only\"\n            });\n        } else if (calc.keepPreviousBaseline) {\n            store.currentDaySnapshot = store.currentDaySnapshot || store.prevLiveDay;\n            store.runtime.lastRebaseReason = \"ignored_zero_states_after_restart\";\n            store.runtime.lastRebaseAt = new Date().toISOString();\n\n            node.status({\n                fill: \"yellow\",\n                shape: \"ring\",\n                text: \"ignored temporary zero states\"\n            });\n        } else if (calc.hasReset) {\n            store.prevLiveDay = liveDay;\n            store.currentDaySnapshot = liveDay;\n            store.runtime.lastRebaseReason = \"counter_reset_or_restart\";\n            store.runtime.lastRebaseAt = new Date().toISOString();\n\n            node.status({\n                fill: \"yellow\",\n                shape: \"ring\",\n                text: \"rebase after reset/restart\"\n            });\n        } else if (calc.hasImpossibleJump) {\n            store.prevLiveDay = liveDay;\n            store.currentDaySnapshot = liveDay;\n            store.runtime.lastRebaseReason = `ignored_impossible_jump_${calc.impossibleField || \"unknown\"}`;\n            store.runtime.lastRebaseAt = new Date().toISOString();\n\n            node.status({\n                fill: \"red\",\n                shape: \"ring\",\n                text: `ignored spike ${calc.impossibleField || \"\"}`\n            });\n        } else {\n            store.currentDayFinanceAccumulator.import_cost = round(\n                Number(store.currentDayFinanceAccumulator.import_cost || 0) +\n                Number(delta.gridImport || 0) * Number(tariff.importPrice || 0),\n                6\n            );\n\n            store.currentDayFinanceAccumulator.export_revenue = round(\n                Number(store.currentDayFinanceAccumulator.export_revenue || 0) +\n                Number(delta.gridExport || 0) * Number(tariff.exportPrice || 0),\n                6\n            );\n\n            store.currentDayFinanceAccumulator.theoretical_no_solar_cost = round(\n                Number(store.currentDayFinanceAccumulator.theoretical_no_solar_cost || 0) +\n                Number(delta.load || 0) * Number(tariff.importPrice || 0),\n                6\n            );\n\n            store.currentDayFinanceAccumulator.solar_production_value = round(\n                Number(store.currentDayFinanceAccumulator.solar_production_value || 0) +\n                Number(delta.solar || 0) * Number(tariff.importPrice || 0),\n                6\n            );\n\n            store.currentDayFinanceAccumulator.battery_discharge_value = round(\n                Number(store.currentDayFinanceAccumulator.battery_discharge_value || 0) +\n                Number(delta.batteryDischarge || 0) * Number(tariff.importPrice || 0),\n                6\n            );\n\n            const coveredBySystem = Math.max(0, Number(delta.load || 0) - Number(delta.gridImport || 0));\n            store.currentDayFinanceAccumulator.home_supply_savings = round(\n                Number(store.currentDayFinanceAccumulator.home_supply_savings || 0) +\n                coveredBySystem * Number(tariff.importPrice || 0),\n                6\n            );\n\n            store.prevLiveDay = liveDay;\n            store.currentDaySnapshot = liveDay;\n\n            if (cfg.contractType === \"tempo\") {\n                node.status({\n                    fill: tariff.tempoColor === \"unknown\" ? \"grey\" : \"green\",\n                    shape: \"dot\",\n                    text: `tempo ${tariff.tempoColorRaw || \"inconnu\"} / ${tariff.period}`\n                });\n            } else {\n                node.status({\n                    fill: \"blue\",\n                    shape: \"dot\",\n                    text: `${cfg.contractType} / ${tariff.name}`\n                });\n            }\n        }\n    }\n}\n\nstore.keys = {\n    dayKey: now.dayKey,\n    monthKey: now.monthKey,\n    yearKey: now.yearKey\n};\n\nstore.meta.lastRun = new Date().toISOString();\nstore.meta.lastTempoColor = tariff.tempoColor;\nstore.meta.lastTariffName = tariff.name;\nstore.meta.lastTariffPeriod = tariff.period;\nstore.runtime.lastRunMs = nowMs;\n\nconst dayEnergy = liveDay;\nconst dayFinance = store.currentDayFinanceAccumulator;\nconst monthEnergy = addEnergy(store.closedDayMonthAccumulator, liveDay);\nconst yearEnergy = addEnergy(store.closedDayYearAccumulator, liveDay);\nconst monthFinance = addFinance(store.closedDayMonthFinanceAccumulator, dayFinance);\nconst yearFinance = addFinance(store.closedDayYearFinanceAccumulator, dayFinance);\n\nflow.set(\"finance_store\", store, \"persistent\");\nglobal.set(\"sef.persisted_store\", store);\n\nconst history = {\n    daily: clone(store.history.daily),\n    monthly: clone(store.history.monthly),\n    yearly: clone(store.history.yearly)\n};\n\nmsg.sef = {\n    cfg,\n    now,\n    tariff,\n    premiumActive,\n    dayEnergy,\n    dayFinance,\n    monthEnergy,\n    monthFinance,\n    yearEnergy,\n    yearFinance,\n    history\n};\n\nmsg.payload = {\n    info: {\n        module: \"smart_energy_finance\",\n        version: \"0.1.2\",\n        currency: cfg.currency,\n        timezone: cfg.tz,\n        contract_type: cfg.contractType,\n        premium_active: premiumActive,\n        premium_status: global.get(\"premium.status\") || (premiumActive ? \"valid\" : \"missing_key\"),\n        premium_tier: global.get(\"premium.tier\") || null,\n        premium_install_id: global.get(\"premium.install_id\") || null,\n        dashboard_language: global.get(\"config.dashboardLanguage\") || cfg.lang || \"en\",\n        dashboard_custom_cards_installed: global.get(\"config.dashboardCustomCardsInstalled\") === true,\n        active_tariff_name: tariff.name,\n        active_tariff_period: tariff.period,\n        active_import_price: round(tariff.importPrice, 4),\n        active_export_price: round(tariff.exportPrice, 4),\n        tempo_color: tariff.tempoColor,\n        tempo_color_raw: tariff.tempoColorRaw || \"inconnu\",\n        tempo_is_hc: tariff.isTempoHc,\n        day_key: now.dayKey,\n        month_key: now.monthKey,\n        year_key: now.yearKey,\n        premium_teaser_month: premiumActive ? \"active\" : \"premium_required\",\n        premium_teaser_battery: premiumActive ? \"active\" : \"premium_required\",\n        runtime_initialized: store.runtime.initialized === true,\n        last_rebase_reason: store.runtime.lastRebaseReason || \"\",\n        last_rebase_at: store.runtime.lastRebaseAt || \"\",\n        updated_at: new Date().toISOString()\n    },\n    current_inputs: {\n        solar_day_kwh: inputs.solarDay,\n        load_day_kwh: inputs.loadDay,\n        grid_import_day_kwh: inputs.gridImportDay,\n        grid_export_day_kwh: inputs.gridExportDay,\n        battery_charge_day_kwh: inputs.batteryChargeDay,\n        battery_discharge_day_kwh: inputs.batteryDischargeDay,\n        solar_power_w: inputs.solarPower,\n        load_power_w: inputs.loadPower,\n        grid_import_power_w: inputs.gridImportPower,\n        grid_export_power_w: inputs.gridExportPower,\n        battery_charge_power_w: inputs.batteryChargePower,\n        battery_discharge_power_w: inputs.batteryDischargePower\n    },\n    free: {\n        day: buildPeriodFinance(dayEnergy, dayFinance, \"day\", cfg, now)\n    },\n    history\n};\n\nconst persistMsg = {\n    filename: \"/config/smart_energy_finance_store.json\",\n    payload: JSON.stringify(store, null, 2)\n};\n\nreturn [msg, persistMsg];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":200,"wires":[["454505e3e1f8f6ef"],["d67556adc9bc0128"]]},{"id":"454505e3e1f8f6ef","type":"function","z":"de7ec194b337d33f","name":"Premium Engine","func":"const premiumActive = global.get(\"premium.active\") === true;\nconst ctx = msg.sef || {};\n\nfunction round(v, d = 2) {\n    return Number((Number(v || 0)).toFixed(d));\n}\n\nfunction clone(v) {\n    return JSON.parse(JSON.stringify(v));\n}\n\nfunction proratedSubscription(periodName, monthlyPrice, time) {\n    const p = Number(monthlyPrice || 0);\n    if (!p) return 0;\n\n    if (periodName === \"day\") {\n        const daysInMonth = new Date(Number(time.year), Number(time.month), 0).getDate();\n        return p / daysInMonth;\n    }\n\n    if (periodName === \"month\") return p;\n    if (periodName === \"year\") return p * 12;\n\n    return 0;\n}\n\nfunction buildPeriodFinance(accEnergy, accFinance, periodName, cfg, now) {\n    const importEnergy = Number(accEnergy.gridImport || 0);\n    const exportEnergy = Number(accEnergy.gridExport || 0);\n    const loadEnergy = Number(accEnergy.load || 0);\n    const solarEnergy = Number(accEnergy.solar || 0);\n    const batteryCharge = Number(accEnergy.batteryCharge || 0);\n    const batteryDischarge = Number(accEnergy.batteryDischarge || 0);\n\n    const importCost = Number(accFinance.import_cost || 0);\n    const exportRevenue = Number(accFinance.export_revenue || 0);\n    const theoreticalNoSolarCost = Number(accFinance.theoretical_no_solar_cost || 0);\n    const solarProductionValue = Number(accFinance.solar_production_value || 0);\n    const batteryDischargeValue = Number(accFinance.battery_discharge_value || 0);\n    const homeSupplySavings = Number(accFinance.home_supply_savings || 0);\n\n    const subscriptionCost = proratedSubscription(periodName, cfg.monthlySubscriptionPrice, now);\n    const realTotalWithSubscription = importCost + subscriptionCost - exportRevenue;\n    const savingsVsNoSolar = theoreticalNoSolarCost - importCost + exportRevenue;\n\n    let selfSufficiencyPct = 0;\n    if (loadEnergy > 0) {\n        selfSufficiencyPct = ((Math.max(0, loadEnergy - importEnergy)) / loadEnergy) * 100;\n    }\n\n    let gridDependencyPct = 0;\n    if (loadEnergy > 0) {\n        gridDependencyPct = (importEnergy / loadEnergy) * 100;\n    }\n\n    return {\n        energy: {\n            solar_kwh: round(solarEnergy),\n            load_kwh: round(loadEnergy),\n            grid_import_kwh: round(importEnergy),\n            grid_export_kwh: round(exportEnergy),\n            battery_charge_kwh: round(batteryCharge),\n            battery_discharge_kwh: round(batteryDischarge)\n        },\n        finance: {\n            import_cost: round(importCost),\n            export_revenue: round(exportRevenue),\n            subscription_cost: round(subscriptionCost),\n            theoretical_no_solar_cost: round(theoreticalNoSolarCost),\n            solar_production_value: round(solarProductionValue),\n            battery_discharge_value: round(batteryDischargeValue),\n            home_supply_savings: round(homeSupplySavings),\n            real_total_with_subscription: round(realTotalWithSubscription),\n            savings_vs_no_solar: round(savingsVsNoSolar)\n        },\n        ratios: {\n            self_sufficiency_pct: round(selfSufficiencyPct, 2),\n            grid_dependency_pct: round(gridDependencyPct, 2)\n        }\n    };\n}\n\nif (!msg.payload || !ctx.cfg || !ctx.now) {\n    node.error(\"Contexte SEF manquant pour le noeud premium\");\n    return null;\n}\n\nif (premiumActive) {\n    const month = buildPeriodFinance(\n        ctx.monthEnergy,\n        ctx.monthFinance,\n        \"month\",\n        ctx.cfg,\n        ctx.now\n    );\n\n    const year = buildPeriodFinance(\n        ctx.yearEnergy,\n        ctx.yearFinance,\n        \"year\",\n        ctx.cfg,\n        ctx.now\n    );\n\n    msg.payload.premium = {\n        month,\n        year,\n        battery: {\n            day_charge_kwh: round(ctx.dayEnergy.batteryCharge),\n            day_discharge_kwh: round(ctx.dayEnergy.batteryDischarge),\n            day_discharge_value: round(Number(ctx.dayFinance?.battery_discharge_value || 0)),\n\n            month_charge_kwh: round(ctx.monthEnergy.batteryCharge),\n            month_discharge_kwh: round(ctx.monthEnergy.batteryDischarge),\n            month_discharge_value: round(Number(ctx.monthFinance?.battery_discharge_value || 0)),\n\n            year_charge_kwh: round(ctx.yearEnergy.batteryCharge),\n            year_discharge_kwh: round(ctx.yearEnergy.batteryDischarge),\n            year_discharge_value: round(Number(ctx.yearFinance?.battery_discharge_value || 0))\n        },\n        history: clone(ctx.history || { daily: [], monthly: [], yearly: [] })\n    };\n\n    node.status({\n        fill: \"green\",\n        shape: \"dot\",\n        text: \"premium actif\"\n    });\n} else {\n    const required = \"premium_required\";\n    msg.payload.premium = {\n        month: {\n            energy: {\n                solar_kwh: required,\n                load_kwh: required,\n                grid_import_kwh: required,\n                grid_export_kwh: required,\n                battery_charge_kwh: required,\n                battery_discharge_kwh: required\n            },\n            finance: {\n                import_cost: required,\n                export_revenue: required,\n                subscription_cost: required,\n                theoretical_no_solar_cost: required,\n                solar_production_value: required,\n                battery_discharge_value: required,\n                home_supply_savings: required,\n                real_total_with_subscription: required,\n                savings_vs_no_solar: required\n            },\n            ratios: {\n                self_sufficiency_pct: required,\n                grid_dependency_pct: required\n            }\n        },\n        year: {\n            energy: {\n                solar_kwh: required,\n                load_kwh: required,\n                grid_import_kwh: required,\n                grid_export_kwh: required,\n                battery_charge_kwh: required,\n                battery_discharge_kwh: required\n            },\n            finance: {\n                import_cost: required,\n                export_revenue: required,\n                subscription_cost: required,\n                theoretical_no_solar_cost: required,\n                solar_production_value: required,\n                battery_discharge_value: required,\n                home_supply_savings: required,\n                real_total_with_subscription: required,\n                savings_vs_no_solar: required\n            },\n            ratios: {\n                self_sufficiency_pct: required,\n                grid_dependency_pct: required\n            }\n        },\n        battery: {\n            day_charge_kwh: required,\n            day_discharge_kwh: required,\n            day_discharge_value: required,\n            month_charge_kwh: required,\n            month_discharge_kwh: required,\n            month_discharge_value: required,\n            year_charge_kwh: required,\n            year_discharge_kwh: required,\n            year_discharge_value: required\n        },\n        history: {\n            daily: [],\n            monthly: [],\n            yearly: []\n        }\n    };\n\n    node.status({\n        fill: \"grey\",\n        shape: \"ring\",\n        text: \"premium inactif\"\n    });\n}\n\ndelete msg.sef;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":180,"wires":[["0ce62b296cb91a55"]]},{"id":"0ce62b296cb91a55","type":"json","z":"de7ec194b337d33f","name":"To JSON","property":"payload","action":"str","pretty":false,"x":1000,"y":120,"wires":[["519a874e48de4a0e"]]},{"id":"519a874e48de4a0e","type":"mqtt out","z":"de7ec194b337d33f","name":"MQTT State","topic":"smart_energy_finance/state","qos":"0","retain":"true","broker":"mqtt_broker_main","x":1190,"y":120,"wires":[]},{"id":"d505cd6e0c45a522","type":"file in","z":"de7ec194b337d33f","name":"Load persistent finance store","filename":"/config/smart_energy_finance_store.json","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":320,"y":40,"wires":[["f6eb06b7e6615a3d"]]},{"id":"f6eb06b7e6615a3d","type":"function","z":"de7ec194b337d33f","name":"Restore persistent finance store","func":"let restored = false;\nlet restoreStatus = \"no_store_file\";\n\nif (msg.payload !== undefined && msg.payload !== null && msg.payload !== \"\") {\n    try {\n        const parsed = (typeof msg.payload === \"string\") ? JSON.parse(msg.payload) : msg.payload;\n\n        if (parsed && typeof parsed === \"object\") {\n            global.set(\"sef.persisted_store\", parsed);\n            flow.set(\"finance_store\", parsed, \"persistent\");\n            restored = true;\n            restoreStatus = \"restored\";\n            node.status({ fill: \"green\", shape: \"dot\", text: \"finance store restored\" });\n        } else {\n            restoreStatus = \"invalid_store_object\";\n            node.status({ fill: \"yellow\", shape: \"ring\", text: \"invalid finance store object\" });\n        }\n    } catch (e) {\n        restoreStatus = \"restore_parse_error\";\n        node.warn(\"Unable to restore persistent finance store: \" + e.message);\n        node.status({ fill: \"yellow\", shape: \"ring\", text: \"finance store restore parse error\" });\n    }\n} else {\n    node.status({ fill: \"grey\", shape: \"ring\", text: \"no finance store file\" });\n}\n\nmsg.restore = {\n    financeStoreRestored: restored,\n    financeStoreRestoreStatus: restoreStatus,\n    restoredAt: new Date().toISOString()\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":40,"wires":[["07bc48684c4cc0ca"]]},{"id":"d67556adc9bc0128","type":"file","z":"de7ec194b337d33f","name":"Save persistent finance store","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1020,"y":280,"wires":[[]]},{"id":"220c3a0c7abc4412","type":"inject","z":"8608f11798f73aab","name":"Discovery at startup","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","x":140,"y":120,"wires":[["193a8b306da2a4e6","ddf747348199dcc4"]]},{"id":"193a8b306da2a4e6","type":"function","z":"8608f11798f73aab","name":"Build Discovery (FR/EN + Premium)","func":"const currency = String(env.get(\"CURRENCY\") || \"EUR\").trim() || \"EUR\";\n\nconst stateTopic = \"smart_energy_finance/state\";\nconst availabilityTopic = \"smart_energy_finance/availability\";\nconst deviceRoot = \"smart_energy_finance\";\nconst discoveryPrefix = \"homeassistant\";\n\nconst device = {\n  identifiers: [deviceRoot],\n  name: \"Smart Energy Finance\",\n  manufacturer: \"OpenAI User Project\",\n  model: \"Node-RED Energy Finance Engine\",\n  sw_version: \"0.1.1\"\n};\n\nconst LABELS = {\n  day_import_cost: \"Day import cost\",\n  day_export_revenue: \"Day export revenue\",\n  day_subscription_cost: \"Day subscription cost\",\n  day_theoretical_no_solar_cost: \"Day theoretical no solar cost\",\n  day_solar_production_value: \"Day solar production value\",\n  day_home_supply_savings: \"Day home supply savings\",\n  day_real_total_with_subscription: \"Day real total with subscription\",\n  day_savings_vs_no_solar: \"Day savings vs no solar\",\n  day_grid_import_kwh: \"Day grid import\",\n  day_grid_export_kwh: \"Day grid export\",\n  day_solar_kwh: \"Day solar production\",\n  day_load_kwh: \"Day load consumption\",\n  day_self_sufficiency_pct: \"Day self sufficiency\",\n  day_grid_dependency_pct: \"Day grid dependency\",\n  active_tariff_name: \"Active tariff\",\n  active_import_price: \"Active import price\",\n  tempo_color: \"Tempo color\",\n  premium_teaser_month: \"Monthly analytics (Premium)\",\n  premium_teaser_battery: \"Battery analytics (Premium)\",\n\n  month_savings_vs_no_solar: \"Month savings vs no solar\",\n  month_solar_production_value: \"Month solar production value\",\n  month_home_supply_savings: \"Month home supply savings\",\n\n  year_savings_vs_no_solar: \"Year savings vs no solar\",\n  year_solar_production_value: \"Year solar production value\",\n  year_home_supply_savings: \"Year home supply savings\",\n\n  battery_day_charge_kwh: \"Battery charge day\",\n  battery_day_discharge_kwh: \"Battery discharge day\",\n  battery_day_savings: \"Battery savings vs grid day\",\n  battery_month_charge_kwh: \"Battery charge month\",\n  battery_month_discharge_kwh: \"Battery discharge month\",\n  battery_month_savings: \"Battery savings vs grid month\",\n  battery_year_charge_kwh: \"Battery charge year\",\n  battery_year_discharge_kwh: \"Battery discharge year\",\n  battery_year_savings: \"Battery savings vs grid year\",\n\n  history_archive: \"Economy history archive\"\n};\n\nfunction stableObjectId(objectId) {\n  return `smart_energy_finance_${objectId}`;\n}\n\nfunction discoveryTopic(domain, objectId) {\n  const uid = stableObjectId(objectId);\n  return `${discoveryPrefix}/${domain}/${uid}/config`;\n}\n\nfunction sensor(objectId, name, valueTemplate, options = {}) {\n  const uid = stableObjectId(objectId);\n  const payload = {\n    name,\n    unique_id: uid,\n    object_id: uid,\n    default_entity_id: `sensor.${uid}`,\n    state_topic: stateTopic,\n    availability_topic: availabilityTopic,\n    payload_available: \"online\",\n    payload_not_available: \"offline\",\n    value_template: valueTemplate,\n    force_update: true,\n    device\n  };\n\n  if (options.icon) payload.icon = options.icon;\n  if (options.unit) payload.unit_of_measurement = options.unit;\n  if (options.deviceClass) payload.device_class = options.deviceClass;\n  if (options.stateClass) payload.state_class = options.stateClass;\n  if (options.entityCategory) payload.entity_category = options.entityCategory;\n  if (options.enabledByDefault === false) payload.enabled_by_default = false;\n\n  return {\n    topic: discoveryTopic(\"sensor\", objectId),\n    payload: JSON.stringify(payload),\n    retain: true\n  };\n}\n\nfunction sensorWithAttributes(objectId, name, valueTemplate, attributesTemplate, options = {}) {\n  const uid = stableObjectId(objectId);\n  const payload = {\n    name,\n    unique_id: uid,\n    object_id: uid,\n    default_entity_id: `sensor.${uid}`,\n    state_topic: stateTopic,\n    availability_topic: availabilityTopic,\n    payload_available: \"online\",\n    payload_not_available: \"offline\",\n    value_template: valueTemplate,\n    json_attributes_topic: stateTopic,\n    json_attributes_template: attributesTemplate,\n    force_update: true,\n    device\n  };\n\n  if (options.icon) payload.icon = options.icon;\n  if (options.unit) payload.unit_of_measurement = options.unit;\n  if (options.deviceClass) payload.device_class = options.deviceClass;\n  if (options.stateClass) payload.state_class = options.stateClass;\n  if (options.entityCategory) payload.entity_category = options.entityCategory;\n  if (options.enabledByDefault === false) payload.enabled_by_default = false;\n\n  return {\n    topic: discoveryTopic(\"sensor\", objectId),\n    payload: JSON.stringify(payload),\n    retain: true\n  };\n}\n\nconst msgs = [];\n\nconst legacyIdsToClear = [\n  \"sef_day_import_cost\",\n  \"sef_day_export_revenue\",\n  \"sef_day_subscription_cost\",\n  \"sef_day_theoretical_no_solar_cost\",\n  \"sef_day_solar_production_value\",\n  \"sef_day_real_total_with_subscription\",\n  \"sef_day_savings_vs_no_solar\",\n  \"sef_day_grid_import_kwh\",\n  \"sef_day_grid_export_kwh\",\n  \"sef_day_solar_kwh\",\n  \"sef_day_load_kwh\",\n  \"sef_day_self_sufficiency_pct\",\n  \"sef_day_grid_dependency_pct\",\n  \"sef_active_tariff_name\",\n  \"sef_active_import_price\",\n  \"sef_tempo_color\",\n  \"sef_premium_teaser_month\",\n  \"sef_premium_teaser_battery\",\n  \"sef_month_savings_vs_no_solar\",\n  \"sef_month_solar_production_value\",\n  \"sef_month_home_supply_savings\",\n  \"sef_year_savings_vs_no_solar\",\n  \"sef_year_solar_production_value\",\n  \"sef_year_home_supply_savings\",\n  \"sef_battery_day_charge_kwh\",\n  \"sef_battery_day_discharge_kwh\",\n  \"sef_battery_day_discharge_value\",\n  \"sef_battery_month_charge_kwh\",\n  \"sef_battery_month_discharge_kwh\",\n  \"sef_battery_month_discharge_value\",\n  \"sef_battery_year_charge_kwh\",\n  \"sef_battery_year_discharge_kwh\",\n  \"sef_battery_year_discharge_value\",\n  \"sef_history_archive\"\n];\n\nfor (const oldId of legacyIdsToClear) {\n  msgs.push({\n    topic: `${discoveryPrefix}/sensor/smart_energy_finance_${oldId}/config`,\n    payload: \"\",\n    retain: true\n  });\n}\n\n// FREE\nmsgs.push(sensor(\"day_import_cost\", LABELS.day_import_cost, \"{{ value_json.free.day.finance.import_cost | default(0, true) }}\", { unit: currency, icon: \"mdi:cash\" }));\nmsgs.push(sensor(\"day_export_revenue\", LABELS.day_export_revenue, \"{{ value_json.free.day.finance.export_revenue | default(0, true) }}\", { unit: currency, icon: \"mdi:cash-plus\" }));\nmsgs.push(sensor(\"day_subscription_cost\", LABELS.day_subscription_cost, \"{{ value_json.free.day.finance.subscription_cost | default(0, true) }}\", { unit: currency, icon: \"mdi:calendar-month\" }));\nmsgs.push(sensor(\"day_theoretical_no_solar_cost\", LABELS.day_theoretical_no_solar_cost, \"{{ value_json.free.day.finance.theoretical_no_solar_cost | default(0, true) }}\", { unit: currency, icon: \"mdi:cash-remove\" }));\nmsgs.push(sensor(\"day_solar_production_value\", LABELS.day_solar_production_value, \"{{ value_json.free.day.finance.solar_production_value | default(0, true) }}\", { unit: currency, icon: \"mdi:solar-power-variant\" }));\nmsgs.push(sensor(\"day_home_supply_savings\", LABELS.day_home_supply_savings, \"{{ value_json.free.day.finance.home_supply_savings | default(0, true) }}\", { unit: currency, icon: \"mdi:home-lightning-bolt\" }));\nmsgs.push(sensor(\"day_real_total_with_subscription\", LABELS.day_real_total_with_subscription, \"{{ value_json.free.day.finance.real_total_with_subscription | default(0, true) }}\", { unit: currency, icon: \"mdi:receipt\" }));\nmsgs.push(sensor(\"day_savings_vs_no_solar\", LABELS.day_savings_vs_no_solar, \"{{ value_json.free.day.finance.savings_vs_no_solar | default(0, true) }}\", { unit: currency, icon: \"mdi:cash-check\" }));\n\nmsgs.push(sensor(\"day_grid_import_kwh\", LABELS.day_grid_import_kwh, \"{{ value_json.free.day.energy.grid_import_kwh | default(0, true) }}\", { unit: \"kWh\", icon: \"mdi:transmission-tower-import\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"day_grid_export_kwh\", LABELS.day_grid_export_kwh, \"{{ value_json.free.day.energy.grid_export_kwh | default(0, true) }}\", { unit: \"kWh\", icon: \"mdi:transmission-tower-export\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"day_solar_kwh\", LABELS.day_solar_kwh, \"{{ value_json.free.day.energy.solar_kwh | default(0, true) }}\", { unit: \"kWh\", icon: \"mdi:solar-power\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"day_load_kwh\", LABELS.day_load_kwh, \"{{ value_json.free.day.energy.load_kwh | default(0, true) }}\", { unit: \"kWh\", icon: \"mdi:home-lightning-bolt\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"day_self_sufficiency_pct\", LABELS.day_self_sufficiency_pct, \"{{ value_json.free.day.ratios.self_sufficiency_pct | default(0, true) }}\", { unit: \"%\", icon: \"mdi:percent\" }));\nmsgs.push(sensor(\"day_grid_dependency_pct\", LABELS.day_grid_dependency_pct, \"{{ value_json.free.day.ratios.grid_dependency_pct | default(0, true) }}\", { unit: \"%\", icon: \"mdi:percent-box\" }));\nmsgs.push(sensor(\"active_tariff_name\", LABELS.active_tariff_name, \"{{ value_json.info.active_tariff_name | default('', true) }}\", { icon: \"mdi:label\" }));\nmsgs.push(sensor(\"active_import_price\", LABELS.active_import_price, \"{{ value_json.info.active_import_price | default(0, true) }}\", { unit: currency, icon: \"mdi:cash-clock\" }));\nmsgs.push(sensor(\"tempo_color\", LABELS.tempo_color, \"{{ value_json.info.tempo_color_raw | default('', true) }}\", { icon: \"mdi:palette\" }));\nmsgs.push(sensor(\"premium_teaser_month\", LABELS.premium_teaser_month, \"{{ 'active' if value_json.info.premium_active else 'premium_required' }}\", { icon: \"mdi:lock\" }));\nmsgs.push(sensor(\"premium_teaser_battery\", LABELS.premium_teaser_battery, \"{{ 'active' if value_json.info.premium_active else 'premium_required' }}\", { icon: \"mdi:battery-lock\" }));\n\n// PREMIUM\nmsgs.push(sensor(\"month_savings_vs_no_solar\", LABELS.month_savings_vs_no_solar, \"{{ value_json.premium.month.finance.savings_vs_no_solar | default('premium_required', true) }}\", { unit: currency, icon: \"mdi:cash-check\" }));\nmsgs.push(sensor(\"month_solar_production_value\", LABELS.month_solar_production_value, \"{{ value_json.premium.month.finance.solar_production_value | default('premium_required', true) }}\", { unit: currency, icon: \"mdi:solar-power-variant\" }));\nmsgs.push(sensor(\"month_home_supply_savings\", LABELS.month_home_supply_savings, \"{{ value_json.premium.month.finance.home_supply_savings | default('premium_required', true) }}\", { unit: currency, icon: \"mdi:home-lightning-bolt\" }));\n\nmsgs.push(sensor(\"year_savings_vs_no_solar\", LABELS.year_savings_vs_no_solar, \"{{ value_json.premium.year.finance.savings_vs_no_solar | default('premium_required', true) }}\", { unit: currency, icon: \"mdi:cash-check\" }));\nmsgs.push(sensor(\"year_solar_production_value\", LABELS.year_solar_production_value, \"{{ value_json.premium.year.finance.solar_production_value | default('premium_required', true) }}\", { unit: currency, icon: \"mdi:solar-power-variant\" }));\nmsgs.push(sensor(\"year_home_supply_savings\", LABELS.year_home_supply_savings, \"{{ value_json.premium.year.finance.home_supply_savings | default('premium_required', true) }}\", { unit: currency, icon: \"mdi:home-lightning-bolt\" }));\n\nmsgs.push(sensor(\"battery_day_charge_kwh\", LABELS.battery_day_charge_kwh, \"{{ value_json.premium.battery.day_charge_kwh | default('premium_required', true) }}\", { unit: \"kWh\", icon: \"mdi:battery-plus\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"battery_day_discharge_kwh\", LABELS.battery_day_discharge_kwh, \"{{ value_json.premium.battery.day_discharge_kwh | default('premium_required', true) }}\", { unit: \"kWh\", icon: \"mdi:battery-minus\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"battery_day_savings\", LABELS.battery_day_savings, \"{{ value_json.premium.battery.day_discharge_value | default('premium_required', true) }}\", { unit: currency, icon: \"mdi:battery-heart-variant\" }));\n\nmsgs.push(sensor(\"battery_month_charge_kwh\", LABELS.battery_month_charge_kwh, \"{{ value_json.premium.battery.month_charge_kwh | default('premium_required', true) }}\", { unit: \"kWh\", icon: \"mdi:battery-plus\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"battery_month_discharge_kwh\", LABELS.battery_month_discharge_kwh, \"{{ value_json.premium.battery.month_discharge_kwh | default('premium_required', true) }}\", { unit: \"kWh\", icon: \"mdi:battery-minus\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"battery_month_savings\", LABELS.battery_month_savings, \"{{ value_json.premium.battery.month_discharge_value | default('premium_required', true) }}\", { unit: currency, icon: \"mdi:battery-heart-variant\" }));\n\nmsgs.push(sensor(\"battery_year_charge_kwh\", LABELS.battery_year_charge_kwh, \"{{ value_json.premium.battery.year_charge_kwh | default('premium_required', true) }}\", { unit: \"kWh\", icon: \"mdi:battery-plus\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"battery_year_discharge_kwh\", LABELS.battery_year_discharge_kwh, \"{{ value_json.premium.battery.year_discharge_kwh | default('premium_required', true) }}\", { unit: \"kWh\", icon: \"mdi:battery-minus\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"battery_year_savings\", LABELS.battery_year_savings, \"{{ value_json.premium.battery.year_discharge_value | default('premium_required', true) }}\", { unit: currency, icon: \"mdi:battery-heart-variant\" }));\n\n// HISTORY ARCHIVE\nmsgs.push(\n  sensorWithAttributes(\n    \"history_archive\",\n    LABELS.history_archive,\n    \"{{ value_json.info.updated_at | default('', true) }}\",\n    \"{{ value_json.premium.history | tojson }}\",\n    { icon: \"mdi:chart-bar\" }\n  )\n);\n\nmsgs.push({\n  topic: availabilityTopic,\n  payload: \"online\",\n  retain: true\n});\n\nmsg.payload = msgs;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":80,"wires":[["95ca8d9776a430c1"]]},{"id":"95ca8d9776a430c1","type":"split","z":"8608f11798f73aab","name":"One by one","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":730,"y":80,"wires":[["09fac973fe01ecef"]]},{"id":"09fac973fe01ecef","type":"function","z":"8608f11798f73aab","name":"Normalize Split Item","func":"if (!msg.payload || typeof msg.payload !== \"object\") {\n    return null;\n}\n\nif (!msg.payload.topic) {\n    return null;\n}\n\nmsg.topic = msg.payload.topic;\nmsg.retain = msg.payload.retain === true;\nmsg.qos = 0;\nmsg.payload = msg.payload.payload;\n\nreturn msg;","outputs":1,"x":940,"y":80,"wires":[["403766910f241f1c"]]},{"id":"403766910f241f1c","type":"mqtt out","z":"8608f11798f73aab","name":"MQTT Discovery Out","topic":"","qos":"0","retain":"true","broker":"mqtt_broker_main","x":1200,"y":120,"wires":[]},{"id":"ddf747348199dcc4","type":"function","z":"8608f11798f73aab","name":"MQTT discovery system","func":"const discoveryPrefix = \"homeassistant\";\nconst uniqueBase = \"smart_energy_finance_system\";\nconst stateTopic = \"smart_energy_finance/system/info\";\nconst device = {\n    identifiers: [\"smart_energy_finance_system\"],\n    name: \"Smart Energy Finance System\",\n    manufacturer: \"Smart Energy Finance\",\n    model: \"Node-RED Add-on\",\n    sw_version: \"0.1.0\"\n};\nfunction sensorPayload(name, unique_id, template, icon) {\n    return { name, unique_id, state_topic: stateTopic, value_template: template, icon, entity_category: \"diagnostic\", device };\n}\nconst payloadInstallId = sensorPayload(\"Smart Energy Finance Premium Install ID\", `${uniqueBase}_premium_install_id`, \"{{ value_json.install_id }}\", \"mdi:key\");\nconst payloadPremiumActive = { name: \"Smart Energy Finance Premium Active\", unique_id: `${uniqueBase}_premium_active`, state_topic: stateTopic, value_template: \"{{ value_json.premium_active }}\", payload_on: \"ON\", payload_off: \"OFF\", icon: \"mdi:crown\", entity_category: \"diagnostic\", device };\nconst payloadPremiumStatus = sensorPayload(\"Smart Energy Finance Premium Status\", `${uniqueBase}_premium_status`, \"{{ value_json.premium_status }}\", \"mdi:shield-check\");\nconst payloadPremiumTier = sensorPayload(\"Smart Energy Finance Premium Tier\", `${uniqueBase}_premium_tier`, \"{{ value_json.premium_tier }}\", \"mdi:crown-outline\");\nconst payloadDashboardLanguage = sensorPayload(\"Smart Energy Finance Dashboard Language\", `${uniqueBase}_dashboard_language`, \"{{ value_json.dashboard_language }}\", \"mdi:translate\");\nconst payloadDashboardCards = { name: \"Smart Energy Finance Dashboard Custom Cards\", unique_id: `${uniqueBase}_dashboard_custom_cards_installed`, state_topic: stateTopic, value_template: \"{{ value_json.dashboard_custom_cards_installed }}\", payload_on: \"ON\", payload_off: \"OFF\", icon: \"mdi:view-dashboard\", entity_category: \"diagnostic\", device };\nmsg.payload = [\n    { topic: `${discoveryPrefix}/sensor/smart_energy_finance_system/premium_install_id/config`, payload: JSON.stringify(payloadInstallId), retain: true },\n    { topic: `${discoveryPrefix}/binary_sensor/smart_energy_finance_system/premium_active/config`, payload: JSON.stringify(payloadPremiumActive), retain: true },\n    { topic: `${discoveryPrefix}/sensor/smart_energy_finance_system/premium_status/config`, payload: JSON.stringify(payloadPremiumStatus), retain: true },\n    { topic: `${discoveryPrefix}/sensor/smart_energy_finance_system/premium_tier/config`, payload: JSON.stringify(payloadPremiumTier), retain: true },\n    { topic: `${discoveryPrefix}/sensor/smart_energy_finance_system/dashboard_language/config`, payload: JSON.stringify(payloadDashboardLanguage), retain: true },\n    { topic: `${discoveryPrefix}/binary_sensor/smart_energy_finance_system/dashboard_custom_cards_installed/config`, payload: JSON.stringify(payloadDashboardCards), retain: true }\n];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":160,"wires":[["e6da973a280f8cd1"]]},{"id":"e6da973a280f8cd1","type":"split","z":"8608f11798f73aab","name":"One by one system","splt":"\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":690,"y":160,"wires":[["6ec5fde312268238"]]},{"id":"6ec5fde312268238","type":"function","z":"8608f11798f73aab","name":"Normalize Split Item system","func":"if (!msg.payload || typeof msg.payload !== \"object\") {\n    return null;\n}\n\nif (!msg.payload.topic) {\n    return null;\n}\n\nmsg.topic = msg.payload.topic;\nmsg.retain = msg.payload.retain === true;\nmsg.qos = 0;\nmsg.payload = msg.payload.payload;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":160,"wires":[["403766910f241f1c"]]},{"id":"8851b16f2081e67a","type":"inject","z":"4a3ba93185f54d31","name":"Init premium startup","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","x":130,"y":80,"wires":[["a3a1b1a720ea7a19"]]},{"id":"a3a1b1a720ea7a19","type":"function","z":"4a3ba93185f54d31","name":"PREMIUM STORAGE INIT","func":"const crypto = global.get(\"crypto\");\nconst fs = global.get(\"fs\");\nconst path = global.get(\"path\");\n\nfunction normStr(v) { return (v ?? \"\").toString().trim(); }\n\nfunction generateInstallId() {\n    if (crypto && typeof crypto.randomUUID === \"function\") return crypto.randomUUID();\n    return \"sef-\" + Date.now().toString(36) + \"-\" + Math.random().toString(36).slice(2, 10);\n}\n\nconst PREMIUM_FILE = \"/config/smart_energy_finance_premium.json\";\nlet installId = null;\nlet createdAt = null;\nlet fileStatus = \"unknown\";\n\nif (!fs || !path) {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"fs/path unavailable\" });\n    node.error(\"PREMIUM STORAGE INIT -> fs/path unavailable in functionGlobalContext\", msg);\n    return null;\n}\n\ntry {\n    if (fs.existsSync(PREMIUM_FILE)) {\n        const raw = fs.readFileSync(PREMIUM_FILE, \"utf8\");\n        const data = JSON.parse(raw);\n        installId = normStr(data.install_id);\n        createdAt = data.created_at || null;\n        fileStatus = installId ? \"loaded\" : \"invalid_file\";\n    } else {\n        fileStatus = \"missing_file\";\n    }\n} catch (e) {\n    node.warn(\"PREMIUM STORAGE INIT -> read error: \" + e.message);\n    fileStatus = \"read_error\";\n}\n\nif (!installId) {\n    installId = generateInstallId();\n    createdAt = Date.now();\n    const dataToSave = { version: 1, install_id: installId, created_at: createdAt };\n    try {\n        fs.mkdirSync(path.dirname(PREMIUM_FILE), { recursive: true });\n        fs.writeFileSync(PREMIUM_FILE, JSON.stringify(dataToSave, null, 2), \"utf8\");\n        fileStatus = \"created\";\n    } catch (e) {\n        node.status({ fill: \"red\", shape: \"ring\", text: \"write error\" });\n        node.error(\"PREMIUM STORAGE INIT -> write error: \" + e.message, msg);\n        return null;\n    }\n}\n\nglobal.set(\"premium.install_id\", installId);\nglobal.set(\"premium.install_created_at\", createdAt);\n\nnode.status({ fill: \"green\", shape: \"dot\", text: `install_id ${fileStatus}` });\n\nmsg.payload = msg.payload && typeof msg.payload === \"object\" ? msg.payload : {};\nmsg.payload.premium_storage = { install_id: installId, created_at: createdAt, file_status: fileStatus, file: PREMIUM_FILE };\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":80,"wires":[["6969f456a07e9810"]]},{"id":"6969f456a07e9810","type":"function","z":"4a3ba93185f54d31","name":"premium init","func":"/* =========================\n   PREMIUM INIT\n   Format licence :\n   SVP|premium|INSTALL_ID|SIGNATURE\n   ========================= */\nconst crypto = global.get(\"crypto\");\nfunction normStr(v) { return (v ?? \"\").toString().trim(); }\nconst LICENSE_SECRET = \"SVP_2026_9f7c2e51b4d84f38a1e9c7b6d5e4f301_ULTRA_LONG_SECRET\";\nfunction signPayload(payload) {\n    return crypto.createHmac(\"sha256\", LICENSE_SECRET).update(payload, \"utf8\").digest(\"hex\");\n}\nfunction safeEqual(a, b) {\n    const aa = Buffer.from(String(a || \"\"), \"utf8\");\n    const bb = Buffer.from(String(b || \"\"), \"utf8\");\n    if (aa.length !== bb.length) return false;\n    return crypto.timingSafeEqual(aa, bb);\n}\nconst premiumKey = normStr(global.get(\"premium.key\"));\nconst installId = normStr(global.get(\"premium.install_id\"));\nlet premiumActive = false;\nlet premiumStatus = \"missing_key\";\nlet premiumTier = null;\nif (!crypto) premiumStatus = \"crypto_missing\";\nelse if (!installId) premiumStatus = \"missing_install_id\";\nelse if (!premiumKey) premiumStatus = \"missing_key\";\nelse {\n    const parts = premiumKey.split(\"|\");\n    if (parts.length !== 4) premiumStatus = \"invalid_format\";\n    else {\n        const prefix = normStr(parts[0]);\n        const tier = normStr(parts[1]);\n        const licenseInstallId = normStr(parts[2]);\n        const signature = normStr(parts[3]);\n        if (prefix !== \"SVP\") premiumStatus = \"invalid_prefix\";\n        else if (tier !== \"premium\") premiumStatus = \"invalid_tier\";\n        else if (!licenseInstallId) premiumStatus = \"missing_license_install_id\";\n        else if (!signature) premiumStatus = \"missing_signature\";\n        else if (licenseInstallId !== installId) premiumStatus = \"install_id_mismatch\";\n        else {\n            const payload = `${prefix}|${tier}|${licenseInstallId}`;\n            const expected = signPayload(payload);\n            if (!safeEqual(signature, expected)) premiumStatus = \"invalid_signature\";\n            else {\n                premiumActive = true;\n                premiumStatus = \"valid\";\n                premiumTier = \"premium\";\n                global.set(\"premium.last_valid\", Date.now());\n            }\n        }\n    }\n}\nglobal.set(\"premium.active\", premiumActive);\nglobal.set(\"premium.status\", premiumStatus);\nglobal.set(\"premium.tier\", premiumTier);\nconst premiumState = { install_id: installId || null, active: premiumActive, status: premiumStatus, tier: premiumTier };\nif (premiumActive) node.status({ fill: \"green\", shape: \"dot\", text: \"Premium active\" });\nelse if ([\"invalid_format\",\"invalid_prefix\",\"invalid_tier\",\"missing_license_install_id\",\"missing_signature\",\"install_id_mismatch\",\"invalid_signature\",\"crypto_missing\"].includes(premiumStatus)) node.status({ fill: \"red\", shape: \"ring\", text: \"Premium \" + premiumStatus });\nelse node.status({ fill: \"yellow\", shape: \"ring\", text: \"Free / \" + premiumStatus });\nmsg.payload = msg.payload && typeof msg.payload === \"object\" ? msg.payload : {};\nmsg.payload.premium = premiumState;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":120,"wires":[["8d42d656d9faa9f5"]]},{"id":"8d42d656d9faa9f5","type":"function","z":"4a3ba93185f54d31","name":"MQTT system state","func":"const installId = global.get(\"premium.install_id\") || null;\nconst premiumActive = global.get(\"premium.active\") === true ? \"ON\" : \"OFF\";\nconst premiumStatus = global.get(\"premium.status\") || \"unknown\";\nconst premiumTier = global.get(\"premium.tier\") || null;\nconst dashboardLanguage = global.get(\"config.dashboardLanguage\") || \"en\";\nconst dashboardCustomCardsInstalled = global.get(\"config.dashboardCustomCardsInstalled\") === true ? \"ON\" : \"OFF\";\nmsg.topic = \"smart_energy_finance/system/info\";\nmsg.payload = {\n    install_id: installId,\n    premium_active: premiumActive,\n    premium_status: premiumStatus,\n    premium_tier: premiumTier,\n    dashboard_language: dashboardLanguage,\n    dashboard_custom_cards_installed: dashboardCustomCardsInstalled\n};\nmsg.retain = true;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":120,"wires":[["eb049ad2a4b6d23e"]]},{"id":"eb049ad2a4b6d23e","type":"json","z":"4a3ba93185f54d31","name":"To JSON","property":"payload","action":"str","pretty":false,"x":1100,"y":120,"wires":[["3737ceca7090787a"]]},{"id":"3737ceca7090787a","type":"mqtt out","z":"4a3ba93185f54d31","name":"MQTT System Info","topic":"smart_energy_finance/system/info","qos":"0","retain":"true","broker":"mqtt_broker_main","x":1310,"y":120,"wires":[]},{"id":"872844476eb649ce","type":"inject","z":"a3a2e19c805d4c6b","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"15","x":110,"y":80,"wires":[["7207203b57e8a993"]]},{"id":"7207203b57e8a993","type":"function","z":"a3a2e19c805d4c6b","name":"CHECK PREMIUM","func":"const premiumActive = global.get(\"premium.active\") === true;\nif (premiumActive) return [msg, null];\nreturn [null, msg];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":80,"wires":[["cbc260ba37c3c405"],["1bb48ff1a640a508"]]},{"id":"cbc260ba37c3c405","type":"function","z":"a3a2e19c805d4c6b","name":"BUILD PREMIUM DASHBOARD ","func":"const premiumActive = global.get(\"premium.active\") === true;\nif (!premiumActive) {\n    node.warn(\"Premium inactive -> no premium dashboard\");\n    return null;\n}\n\nconst customCardsInstalled = global.get(\"config.dashboardCustomCardsInstalled\") === true;\nconst lang = String(global.get(\"config.dashboardLanguage\") || \"en\").trim().toLowerCase() === \"fr\" ? \"fr\" : \"en\";\n\nconst HAS_APEXCHARTS = customCardsInstalled;\nconst HAS_CARD_MOD = customCardsInstalled;\n\nconst i18n = {\n    fr: {\n        dashboard_title: \"Smart Energy Finance Premium\",\n        dashboard_icon: \"mdi:finance\",\n\n        view_energy: \"Énergie\",\n        view_economy: \"Économie\",\n        view_battery: \"Batterie\",\n        view_stats: \"Statistiques économie\",\n\n        energy_sub: \"Synthèse énergétique premium\",\n        economy_sub: \"Analyse économique premium\",\n        battery_sub: \"Analyse batterie premium\",\n        stats_sub: \"Historique économique journalier, mensuel et annuel\",\n\n        summary: \"Résumé\",\n        current_context: \"Contexte actuel\",\n        energy_mix: \"Mix énergie\",\n\n        economy_day_split: \"Répartition économique jour\",\n        economy_month_split: \"Répartition économique mois\",\n        economy_year_split: \"Répartition économique année\",\n\n        battery_day_split: \"Répartition batterie jour\",\n        battery_month_split: \"Répartition batterie mois\",\n        battery_year_split: \"Répartition batterie année\",\n\n        import_cost: \"Coût import\",\n        export_revenue: \"Revenu export\",\n        solar_value: \"Valeur solaire\",\n        battery_savings: \"Économie batterie\",\n        subscription: \"Abonnement\",\n\n        savings_day: \"Économie jour\",\n        savings_month: \"Économie mois\",\n        savings_year: \"Économie année\",\n        real_total_day: \"Coût réel jour\",\n\n        solar: \"Solaire\",\n        battery: \"Batterie\",\n        grid: \"Réseau\",\n\n        charge_day: \"Charge jour\",\n        discharge_day: \"Décharge jour\",\n        value_day: \"Valeur jour\",\n\n        charge_month: \"Charge mois\",\n        discharge_month: \"Décharge mois\",\n        value_month: \"Valeur mois\",\n\n        charge_year: \"Charge année\",\n        discharge_year: \"Décharge année\",\n        value_year: \"Valeur année\",\n\n        tariff: \"Tarif actif\",\n        import_price: \"Prix import actif\",\n        tempo_color: \"Couleur tempo\",\n        self_sufficiency: \"Autosuffisance\",\n        grid_dependency: \"Dépendance réseau\",\n\n        daily_history: \"Historique journalier\",\n        monthly_history: \"Historique mensuel\",\n        yearly_history: \"Historique annuel\",\n        history_source: \"Source historique\",\n        history_waiting: \"L'historique apparaîtra dès que le moteur publiera daily / monthly / yearly.\",\n        history_hint: \"Si les graphes sont vides, vérifie que sensor.smart_energy_finance_history_archive contient bien les attributs daily, monthly et yearly.\"\n    },\n    en: {\n        dashboard_title: \"Smart Energy Finance Premium\",\n        dashboard_icon: \"mdi:finance\",\n\n        view_energy: \"Energy\",\n        view_economy: \"Economy\",\n        view_battery: \"Battery\",\n        view_stats: \"Economy statistics\",\n\n        energy_sub: \"Premium energy overview\",\n        economy_sub: \"Premium economic analytics\",\n        battery_sub: \"Premium battery analytics\",\n        stats_sub: \"Daily, monthly and yearly economic history\",\n\n        summary: \"Summary\",\n        current_context: \"Current context\",\n        energy_mix: \"Energy mix\",\n\n        economy_day_split: \"Day economic split\",\n        economy_month_split: \"Month economic split\",\n        economy_year_split: \"Year economic split\",\n\n        battery_day_split: \"Battery day split\",\n        battery_month_split: \"Battery month split\",\n        battery_year_split: \"Battery year split\",\n\n        import_cost: \"Import cost\",\n        export_revenue: \"Export revenue\",\n        solar_value: \"Solar value\",\n        battery_savings: \"Battery savings\",\n        subscription: \"Subscription\",\n\n        savings_day: \"Day savings\",\n        savings_month: \"Month savings\",\n        savings_year: \"Year savings\",\n        real_total_day: \"Day real total\",\n\n        solar: \"Solar\",\n        battery: \"Battery\",\n        grid: \"Grid\",\n\n        charge_day: \"Day charge\",\n        discharge_day: \"Day discharge\",\n        value_day: \"Day value\",\n\n        charge_month: \"Month charge\",\n        discharge_month: \"Month discharge\",\n        value_month: \"Month value\",\n\n        charge_year: \"Year charge\",\n        discharge_year: \"Year discharge\",\n        value_year: \"Year value\",\n\n        tariff: \"Active tariff\",\n        import_price: \"Active import price\",\n        tempo_color: \"Tempo color\",\n        self_sufficiency: \"Self sufficiency\",\n        grid_dependency: \"Grid dependency\",\n\n        daily_history: \"Daily history\",\n        monthly_history: \"Monthly history\",\n        yearly_history: \"Yearly history\",\n        history_source: \"History source\",\n        history_waiting: \"History will appear once the engine publishes daily / monthly / yearly.\",\n        history_hint: \"If graphs are empty, check that sensor.smart_energy_finance_history_archive contains daily, monthly and yearly attributes.\"\n    }\n};\n\nconst t = i18n[lang] || i18n.en;\n\nfunction entity(objectId) {\n    return `sensor.smart_energy_finance_${objectId}`;\n}\n\nconst E = {\n    dayImportCost: entity(\"day_import_cost\"),\n    dayExportRevenue: entity(\"day_export_revenue\"),\n    daySubscriptionCost: entity(\"day_subscription_cost\"),\n    daySolarProductionValue: entity(\"day_solar_production_value\"),\n    dayRealTotal: entity(\"day_real_total_with_subscription\"),\n    daySavings: entity(\"day_savings_vs_no_solar\"),\n\n    dayGridImport: entity(\"day_grid_import_kwh\"),\n    dayGridExport: entity(\"day_grid_export_kwh\"),\n    daySolar: entity(\"day_solar_kwh\"),\n    dayLoad: entity(\"day_load_kwh\"),\n    daySelfSufficiency: entity(\"day_self_sufficiency_pct\"),\n    dayGridDependency: entity(\"day_grid_dependency_pct\"),\n\n    activeTariff: entity(\"active_tariff_name\"),\n    activeImportPrice: entity(\"active_import_price\"),\n    tempoColor: entity(\"tempo_color\"),\n\n    monthSavings: entity(\"month_savings_vs_no_solar\"),\n    monthSolarValue: entity(\"month_solar_production_value\"),\n    yearSavings: entity(\"year_savings_vs_no_solar\"),\n    yearSolarValue: entity(\"year_solar_production_value\"),\n\n    batteryDayCharge: entity(\"battery_day_charge_kwh\"),\n    batteryDayDischarge: entity(\"battery_day_discharge_kwh\"),\n    batteryDayValue: entity(\"battery_day_savings\"),\n\n    batteryMonthCharge: entity(\"battery_month_charge_kwh\"),\n    batteryMonthDischarge: entity(\"battery_month_discharge_kwh\"),\n    batteryMonthValue: entity(\"battery_month_savings\"),\n\n    batteryYearCharge: entity(\"battery_year_charge_kwh\"),\n    batteryYearDischarge: entity(\"battery_year_discharge_kwh\"),\n    batteryYearValue: entity(\"battery_year_savings\"),\n\n    historyArchive: entity(\"history_archive\")\n};\n\nfunction style(kind = \"neutral\") {\n    if (!HAS_CARD_MOD) return {};\n\n    const colors = {\n        orange: \"#f59e0b\",\n        green: \"#22c55e\",\n        blue: \"#38bdf8\",\n        purple: \"#a855f7\",\n        cyan: \"#06b6d4\",\n        neutral: \"#64748b\",\n        red: \"#ef4444\"\n    };\n\n    return {\n        card_mod: {\n            style: `\n                ha-card {\n                    border-top: 4px solid ${colors[kind] || colors.neutral};\n                    border-radius: 18px;\n                    overflow: hidden;\n                    box-shadow: 0 6px 18px rgba(0,0,0,0.12);\n                }\n            `\n        }\n    };\n}\n\nfunction titleCard(title, subtitle, kind = \"neutral\") {\n    return {\n        type: \"markdown\",\n        content: `# ${title}\\n## ${subtitle}`,\n        ...style(kind)\n    };\n}\n\nfunction infoCard(content, kind = \"neutral\") {\n    return {\n        type: \"markdown\",\n        content,\n        ...style(kind)\n    };\n}\n\nfunction tile(entityId, name, icon, kind) {\n    return {\n        type: \"tile\",\n        entity: entityId,\n        name,\n        icon,\n        vertical: false,\n        hide_state: false,\n        features_position: \"bottom\",\n        ...style(kind)\n    };\n}\n\nfunction grid(columns, cards) {\n    return {\n        type: \"grid\",\n        columns,\n        square: false,\n        cards: cards.filter(Boolean)\n    };\n}\n\nfunction stack(cards) {\n    return {\n        type: \"vertical-stack\",\n        cards: cards.filter(Boolean)\n    };\n}\n\nfunction entitiesCard(title, entities, kind) {\n    return {\n        type: \"entities\",\n        title,\n        show_header_toggle: false,\n        entities,\n        ...style(kind)\n    };\n}\n\nfunction donutCard(title, series, kind = \"neutral\", height = 430) {\n    if (!HAS_APEXCHARTS) {\n        return entitiesCard(title, series.map(s => ({\n            entity: s.entity,\n            name: s.name\n        })), kind);\n    }\n\n    return {\n        type: \"custom:apexcharts-card\",\n        chart_type: \"donut\",\n        header: {\n            show: true,\n            title: title,\n            show_states: true,\n            colorize_states: true,\n            standard_format: true,\n            floating: false\n        },\n        all_series_config: {\n            float_precision: 2,\n            show: {\n                in_header: true,\n                legend_value: true\n            }\n        },\n        series: series,\n        apex_config: {\n            chart: {\n                height: height\n            },\n            legend: {\n                show: true,\n                position: \"bottom\",\n                formatter: function (seriesName, opts) {\n                    const raw = opts?.w?.globals?.series?.[opts.seriesIndex];\n                    const n = Number(raw);\n                    if (!Number.isFinite(n)) return seriesName;\n                    const cents = Math.round(n * 100);\n                    const clean = cents / 100;\n                    return `${seriesName}: ${clean.toLocaleString(\"fr-FR\", {\n                        minimumFractionDigits: 2,\n                        maximumFractionDigits: 2\n                    })}`;\n                }\n            },\n            dataLabels: {\n                enabled: true,\n                formatter: function (_val, opts) {\n                    const raw = opts?.w?.globals?.series?.[opts.seriesIndex];\n                    const n = Number(raw);\n                    if (!Number.isFinite(n)) return \"\";\n                    const cents = Math.round(n * 100);\n                    const clean = cents / 100;\n                    return clean.toLocaleString(\"fr-FR\", {\n                        minimumFractionDigits: 2,\n                        maximumFractionDigits: 2\n                    });\n                },\n                style: {\n                    fontSize: \"13px\",\n                    fontWeight: \"bold\"\n                },\n                dropShadow: {\n                    enabled: false\n                }\n            },\n            plotOptions: {\n                pie: {\n                    donut: {\n                        size: \"58%\",\n                        labels: {\n                            show: true,\n                            name: {\n                                show: true,\n                                offsetY: 18\n                            },\n                            value: {\n                                show: true,\n                                offsetY: -18,\n                                formatter: function (val) {\n                                    const n = Number(val);\n                                    if (!Number.isFinite(n)) return \"\";\n                                    const cents = Math.round(n * 100);\n                                    const clean = cents / 100;\n                                    return clean.toLocaleString(\"fr-FR\", {\n                                        minimumFractionDigits: 2,\n                                        maximumFractionDigits: 2\n                                    });\n                                }\n                            },\n                            total: {\n                                show: true,\n                                showAlways: true,\n                                label: \"Total\",\n                                formatter: function (w) {\n                                    const totals = Array.isArray(w?.globals?.seriesTotals)\n                                        ? w.globals.seriesTotals\n                                        : [];\n                                    const totalCents = totals.reduce((acc, value) => {\n                                        const n = Number(value);\n                                        if (!Number.isFinite(n)) return acc;\n                                        return acc + Math.round(n * 100);\n                                    }, 0);\n                                    const clean = totalCents / 100;\n                                    return clean.toLocaleString(\"fr-FR\", {\n                                        minimumFractionDigits: 2,\n                                        maximumFractionDigits: 2\n                                    });\n                                }\n                            }\n                        }\n                    }\n                }\n            },\n            stroke: {\n                width: 2\n            },\n            tooltip: {\n                y: {\n                    formatter: function (value) {\n                        const n = Number(value);\n                        if (!Number.isFinite(n)) return value;\n                        const cents = Math.round(n * 100);\n                        const clean = cents / 100;\n                        return clean.toLocaleString(\"fr-FR\", {\n                            minimumFractionDigits: 2,\n                            maximumFractionDigits: 2\n                        });\n                    }\n                }\n            }\n        },\n        ...style(kind)\n    };\n}\n\nfunction historyChart(title, attributeName, kind = \"neutral\", height = 320, graphSpan = \"365d\") {\n    if (!HAS_APEXCHARTS) {\n        return entitiesCard(title, [\n            { entity: E.historyArchive, name: E.historyArchive }\n        ], kind);\n    }\n\n    const points =\n        attributeName === \"daily\" ? 30 :\n            attributeName === \"monthly\" ? 12 :\n                10;\n\n    const forcedGraphSpan =\n        attributeName === \"daily\" ? \"30d\" :\n            attributeName === \"monthly\" ? \"365d\" :\n                \"3650d\";\n\n    const columnWidth =\n        attributeName === \"daily\" ? \"38%\" :\n            attributeName === \"monthly\" ? \"48%\" :\n                \"56%\";\n\n    const xFormat =\n        attributeName === \"daily\" ? \"dd MMM\" :\n            attributeName === \"monthly\" ? \"MMM yy\" :\n                \"yyyy\";\n\n    const tooltipFormat =\n        attributeName === \"daily\" ? \"dd MMM yyyy\" :\n            attributeName === \"monthly\" ? \"MMM yyyy\" :\n                \"yyyy\";\n\n    return {\n        type: \"custom:apexcharts-card\",\n        header: {\n            show: true,\n            title: title,\n            show_states: true,\n            colorize_states: true,\n            floating: false\n        },\n        all_series_config: {\n            float_precision: 2,\n            show: {\n                in_header: true,\n                legend_value: true\n            }\n        },\n        graph_span: forcedGraphSpan,\n        span: {\n            end: \"day\"\n        },\n        series: [\n            {\n                entity: E.historyArchive,\n                name: title,\n                type: \"column\",\n                float_precision: 2,\n                data_generator: `\nconst raw = entity?.attributes?.[\"${attributeName}\"];\nconst arr = Array.isArray(raw) ? raw : [];\nconst out = [];\nconst now = new Date();\n\nfunction pad(v) {\n    return String(v).padStart(2, \"0\");\n}\n\nfunction dayKey(d) {\n    return d.getFullYear() + \"-\" + pad(d.getMonth() + 1) + \"-\" + pad(d.getDate());\n}\n\nfunction monthKey(d) {\n    return d.getFullYear() + \"-\" + pad(d.getMonth() + 1);\n}\n\nfunction yearKey(d) {\n    return String(d.getFullYear());\n}\n\nfunction valueFor(item) {\n    const v = Number(item?.savings_vs_no_solar ?? item?.real_total_with_subscription ?? 0);\n    return Number.isFinite(v) ? Number(v.toFixed(2)) : 0;\n}\n\nconst map = {};\nfor (const item of arr) {\n    if (item && item.key) {\n        map[item.key] = valueFor(item);\n    }\n}\n\nif (\"${attributeName}\" === \"daily\") {\n    for (let i = ${points - 1}; i >= 0; i--) {\n        const d = new Date(now);\n        d.setHours(0, 0, 0, 0);\n        d.setDate(d.getDate() - i);\n        const key = dayKey(d);\n        out.push([d.getTime(), map[key] ?? 0]);\n    }\n} else if (\"${attributeName}\" === \"monthly\") {\n    for (let i = ${points - 1}; i >= 0; i--) {\n        const d = new Date(now.getFullYear(), now.getMonth() - i, 1, 0, 0, 0, 0);\n        const key = monthKey(d);\n        out.push([d.getTime(), map[key] ?? 0]);\n    }\n} else {\n    for (let i = ${points - 1}; i >= 0; i--) {\n        const d = new Date(now.getFullYear() - i, 0, 1, 0, 0, 0, 0);\n        const key = yearKey(d);\n        out.push([d.getTime(), map[key] ?? 0]);\n    }\n}\n\nreturn out;\n                `\n            }\n        ],\n        apex_config: {\n            chart: {\n                height: height\n            },\n            plotOptions: {\n                bar: {\n                    borderRadius: 6,\n                    columnWidth: columnWidth\n                }\n            },\n            dataLabels: {\n                enabled: false\n            },\n            stroke: {\n                width: 1\n            },\n            xaxis: {\n                type: \"datetime\",\n                labels: {\n                    datetimeUTC: false,\n                    format: xFormat\n                }\n            },\n            yaxis: {\n                decimalsInFloat: 2,\n                labels: {\n                    formatter: function (value) {\n                        const n = Number(value);\n                        if (!Number.isFinite(n)) return value;\n                        return n.toLocaleString(\"fr-FR\", {\n                            minimumFractionDigits: 2,\n                            maximumFractionDigits: 2\n                        });\n                    }\n                }\n            },\n            tooltip: {\n                x: {\n                    format: tooltipFormat\n                },\n                y: {\n                    formatter: function (value) {\n                        const n = Number(value);\n                        if (!Number.isFinite(n)) return value;\n                        return n.toLocaleString(\"fr-FR\", {\n                            minimumFractionDigits: 2,\n                            maximumFractionDigits: 2\n                        });\n                    }\n                }\n            }\n        },\n        ...style(kind)\n    };\n}\n\nfunction economyView() {\n    return stack([\n        titleCard(t.view_economy, t.economy_sub, \"green\"),\n\n        grid(4, [\n            tile(E.daySavings, t.savings_day, \"mdi:cash-check\", \"green\"),\n            tile(E.monthSavings, t.savings_month, \"mdi:calendar-month\", \"blue\"),\n            tile(E.yearSavings, t.savings_year, \"mdi:calendar-range\", \"purple\"),\n            tile(E.batteryDayValue, t.battery_savings, \"mdi:battery-heart-variant\", \"orange\")\n        ]),\n\n        donutCard(`💶 ${t.economy_day_split}`, [\n            { entity: E.dayImportCost, name: t.import_cost },\n            { entity: E.dayExportRevenue, name: t.export_revenue },\n            { entity: E.daySolarProductionValue, name: t.solar_value },\n            { entity: E.batteryDayValue, name: t.battery_savings },\n            { entity: E.daySubscriptionCost, name: t.subscription }\n        ], \"green\", 470),\n\n        donutCard(`📅 ${t.economy_month_split}`, [\n            { entity: E.monthSavings, name: t.savings_month },\n            { entity: E.monthSolarValue, name: t.solar_value },\n            { entity: E.batteryMonthValue, name: t.battery_savings }\n        ], \"orange\", 440),\n\n        donutCard(`📆 ${t.economy_year_split}`, [\n            { entity: E.yearSavings, name: t.savings_year },\n            { entity: E.yearSolarValue, name: t.solar_value },\n            { entity: E.batteryYearValue, name: t.battery_savings }\n        ], \"purple\", 440)\n    ]);\n}\n\nfunction energyView() {\n    return stack([\n        titleCard(t.view_energy, t.energy_sub, \"cyan\"),\n\n        grid(4, [\n            tile(E.daySavings, t.savings_day, \"mdi:cash-check\", \"green\"),\n            tile(E.dayRealTotal, t.real_total_day, \"mdi:receipt\", \"orange\"),\n            tile(E.dayImportCost, t.import_cost, \"mdi:cash-minus\", \"red\"),\n            tile(E.dayExportRevenue, t.export_revenue, \"mdi:cash-plus\", \"blue\")\n        ]),\n\n        donutCard(`📊 ${t.energy_mix}`, [\n            { entity: E.daySolar, name: t.solar },\n            { entity: E.batteryDayDischarge, name: t.battery },\n            { entity: E.dayGridImport, name: t.grid }\n        ], \"cyan\", 470),\n\n        entitiesCard(`📌 ${t.current_context}`, [\n            { entity: E.activeTariff, name: t.tariff },\n            { entity: E.activeImportPrice, name: t.import_price },\n            { entity: E.tempoColor, name: t.tempo_color },\n            { entity: E.daySelfSufficiency, name: t.self_sufficiency },\n            { entity: E.dayGridDependency, name: t.grid_dependency }\n        ], \"blue\")\n    ]);\n}\n\nfunction batteryView() {\n    return stack([\n        titleCard(t.view_battery, t.battery_sub, \"purple\"),\n\n        grid(4, [\n            tile(E.batteryDayCharge, t.charge_day, \"mdi:battery-plus\", \"green\"),\n            tile(E.batteryDayDischarge, t.discharge_day, \"mdi:battery-minus\", \"blue\"),\n            tile(E.batteryDayValue, t.value_day, \"mdi:battery-heart-variant\", \"orange\"),\n            tile(E.batteryMonthValue, t.value_month, \"mdi:battery-heart\", \"purple\")\n        ]),\n\n        donutCard(`🔋 ${t.battery_day_split}`, [\n            { entity: E.batteryDayCharge, name: t.charge_day },\n            { entity: E.batteryDayDischarge, name: t.discharge_day },\n            { entity: E.batteryDayValue, name: t.value_day }\n        ], \"purple\", 440),\n\n        donutCard(`📅 ${t.battery_month_split}`, [\n            { entity: E.batteryMonthCharge, name: t.charge_month },\n            { entity: E.batteryMonthDischarge, name: t.discharge_month },\n            { entity: E.batteryMonthValue, name: t.value_month }\n        ], \"blue\", 440),\n\n        donutCard(`📆 ${t.battery_year_split}`, [\n            { entity: E.batteryYearCharge, name: t.charge_year },\n            { entity: E.batteryYearDischarge, name: t.discharge_year },\n            { entity: E.batteryYearValue, name: t.value_year }\n        ], \"green\", 440)\n    ]);\n}\n\nfunction statsView() {\n    return stack([\n        titleCard(t.view_stats, t.stats_sub, \"orange\"),\n\n        historyChart(`📅 ${t.daily_history}`, \"daily\", \"green\", 320, \"62d\"),\n        historyChart(`🗓️ ${t.monthly_history}`, \"monthly\", \"blue\", 320, \"730d\"),\n        historyChart(`📆 ${t.yearly_history}`, \"yearly\", \"purple\", 320, \"3650d\"),\n\n        entitiesCard(`ℹ️ ${t.history_source}`, [\n            { entity: E.historyArchive, name: E.historyArchive }\n        ], \"orange\"),\n    ]);\n}\n\nconst dashboard = {\n    dashboard_meta: {\n        title: t.dashboard_title,\n        icon: t.dashboard_icon,\n        url_path: \"smart-energy-finance\",\n        show_in_sidebar: true,\n        require_admin: false\n    },\n    config: {\n        title: t.dashboard_title,\n        views: [\n            {\n                title: t.view_economy,\n                path: \"economy\",\n                icon: \"mdi:cash-multiple\",\n                panel: true,\n                cards: [economyView()]\n            },\n            {\n                title: t.view_energy,\n                path: \"energy\",\n                icon: \"mdi:flash\",\n                panel: true,\n                cards: [energyView()]\n            },\n            {\n                title: t.view_battery,\n                path: \"battery\",\n                icon: \"mdi:battery-high\",\n                panel: true,\n                cards: [batteryView()]\n            },\n            {\n                title: t.view_stats,\n                path: \"economy-stats\",\n                icon: \"mdi:chart-bar\",\n                panel: true,\n                cards: [statsView()]\n            }\n        ]\n    }\n};\n\nmsg.filename = \"/config/dashboards/smart_energy_finance.json\";\nmsg.payload = JSON.stringify(dashboard, null, 2);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":40,"wires":[["0ece8ba8735f179c"]]},{"id":"0ece8ba8735f179c","type":"file","z":"a3a2e19c805d4c6b","name":"dashboard","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":790,"y":40,"wires":[["2267bf82b9aed7a3"]]},{"id":"2267bf82b9aed7a3","type":"exec","z":"a3a2e19c805d4c6b","command":"node /addon/dashboard_sync_smart_energy_finance.js upsert /config/dashboards/smart_energy_finance.json","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"EXEC DASHBOARD SCRIPT","x":1090,"y":40,"wires":[[],[],[]]},{"id":"1bb48ff1a640a508","type":"function","z":"a3a2e19c805d4c6b","name":"BUILD DELETE DASHBOARD","func":"msg.filename = \"/config/dashboards/smart_energy_finance.json\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":120,"wires":[["ae8bd326446e3102"]]},{"id":"ae8bd326446e3102","type":"exec","z":"a3a2e19c805d4c6b","command":"node /addon/dashboard_sync_smart_energy_finance.js delete /config/dashboards/smart_energy_finance.json","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"EXEC DELETE","x":1040,"y":120,"wires":[[],[],[]]},{"id":"49a9340a349f4267","type":"inject","z":"49450dbb7d879ab5","g":"21e1474893225a70","name":"Au démarrage","props":[],"repeat":"","crontab":"00 15 * * *","once":true,"onceDelay":"15","topic":"","x":240,"y":160,"wires":[["29c270e789d45f57"]]},{"id":"3af403fd0be33e48","type":"exec","z":"49450dbb7d879ab5","g":"21e1474893225a70","command":"uname -s 2>nul || echo Windows","addpay":false,"append":"","useSpawn":"false","timer":"2","winHide":true,"oldrc":false,"name":"Test OS basique","x":620,"y":180,"wires":[["dc1f1d12f35609dd"],[],[]]},{"id":"dc1f1d12f35609dd","type":"switch","z":"49450dbb7d879ab5","g":"21e1474893225a70","name":"Windows ou Linux?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Windows","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":280,"wires":[["801343754e5eccf9"],["f7f0fe7eef2fce8d"]]},{"id":"801343754e5eccf9","type":"change","z":"49450dbb7d879ab5","g":"21e1474893225a70","name":"Windows détecté","rules":[{"t":"set","p":"payload","pt":"msg","to":"Windows","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":260,"wires":[["a3cb67ca7522c71a"]]},{"id":"f7f0fe7eef2fce8d","type":"exec","z":"49450dbb7d879ab5","g":"21e1474893225a70","command":"([ -n \"$SUPERVISOR_TOKEN\" ] || [ -n \"$HASSIO_TOKEN\" ] || [ -f /etc/hassio.json ] || [ -d /usr/share/hassio ]) && echo 'HAOS' || ([ -f /.dockerenv ] && echo 'Docker') || echo 'Linux'","addpay":false,"append":"","useSpawn":"false","timer":"3","winHide":false,"oldrc":false,"name":"Détail Linux","x":490,"y":300,"wires":[["a3cb67ca7522c71a"],[],[]]},{"id":"a3cb67ca7522c71a","type":"function","z":"49450dbb7d879ab5","g":"21e1474893225a70","name":"Analyse environnement","func":"const inputEnv = msg.payload.toString().trim();\n\nlet configPath;\nlet statusColor;\nlet bip;\n\nswitch(inputEnv) {\n    case 'HAOS':\n        configPath = '/data/options.json';\n        msg.environment = 'Home Assistant OS';\n        bip = 1;\n        statusColor = 'green';\n        break;\n    case 'Docker':\n        configPath = '/data/options.json';\n        msg.environment = 'Docker (autre)';\n        bip = 2;\n        statusColor = 'blue';\n        break;\n    case 'Linux':\n        configPath = '/data/options.json';\n        msg.environment = 'Linux barebone';\n        bip = 3;\n        statusColor = 'yellow';\n        break;\n    case 'Windows':\n        configPath = 'C:\\\\data\\\\options.json';\n        msg.environment = 'Windows';\n        bip = 4;\n        statusColor = 'purple';\n        break;\n    default:\n        configPath = './data/options.json';\n        msg.environment = 'Inconnu';\n        bip = 5;\n        statusColor = 'red';\n}\n\n// 2ème digit : premium actif ou non\nconst premium = global.get('premium') || {};\nconst premiumDigit = (premium.status === 'active') ? '1' : '0';\n\nmsg.filename = configPath;\nmsg.payload = { \"bip\": String(bip) + premiumDigit };  // ex: \"11\", \"10\", \"21\"...\nmsg.headers = { \"Content-Type\": \"application/json\" };\nnode.status({fill: statusColor, shape: \"dot\", text: msg.environment});\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":300,"wires":[["991dc0533e0d8906","20733e2fee6ab282","241535a819102c37"]]},{"id":"991dc0533e0d8906","type":"file in","z":"49450dbb7d879ab5","d":true,"g":"21e1474893225a70","name":"Lit options.json","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":700,"y":380,"wires":[["4096ec4ef60fdf3c"]]},{"id":"4096ec4ef60fdf3c","type":"json","z":"49450dbb7d879ab5","d":true,"g":"21e1474893225a70","name":"Parse JSON","property":"payload","action":"","pretty":false,"x":870,"y":380,"wires":[["b781a7e6e5af752a"]]},{"id":"b781a7e6e5af752a","type":"debug","z":"49450dbb7d879ab5","d":true,"g":"21e1474893225a70","name":"Config chargée","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1080,"y":380,"wires":[]},{"id":"20733e2fee6ab282","type":"debug","z":"49450dbb7d879ab5","g":"21e1474893225a70","name":"OS type","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":260,"wires":[]},{"id":"29c270e789d45f57","type":"switch","z":"49450dbb7d879ab5","g":"21e1474893225a70","name":"bip permis ?","property":"Send_bip","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":160,"wires":[["3af403fd0be33e48"],[]]},{"id":"241535a819102c37","type":"http request","z":"49450dbb7d879ab5","g":"21e1474893225a70","name":"POST","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://www.smartphoton.ch/smart-energy-finance-endpoint.php","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":970,"y":300,"wires":[["e83ac98cc765668f"]]},{"id":"e83ac98cc765668f","type":"debug","z":"49450dbb7d879ab5","g":"21e1474893225a70","name":"debug 21","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":300,"wires":[]},{"id":"58146e629a2fc675","type":"inject","z":"49450dbb7d879ab5","g":"21e1474893225a70","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":200,"wires":[["3af403fd0be33e48"]]},{"id":"fc498b06c97f9560","type":"inject","z":"49450dbb7d879ab5","g":"21e1474893225a70","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"bip\": \"11\"}","payloadType":"json","x":910,"y":160,"wires":[["20733e2fee6ab282","241535a819102c37"]]}]