smart-energy-finance/flows.json
[{"id":"5b6a0644e28a43db","type":"tab","label":"Smart Energy Finance","disabled":false,"info":""},{"id":"1dcae953d4844580","type":"tab","label":"SEF Discovery","disabled":false,"info":""},{"id":"939035b1e7d79514","type":"tab","label":"SEF Premium","disabled":false,"info":""},{"id":"a278246cba66be16","type":"tab","label":"SEF Manual Correction","disabled":false,"info":"","env":[]},{"id":"ab117a35922ebe5b","type":"tab","label":"dashboard prenium","disabled":false,"info":"","env":[]},{"id":"e0a460d99fb601d7","type":"tab","label":"bip","disabled":false,"info":"","env":[]},{"id":"b5d00f243f572b42","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"13f6031584028d78","type":"group","z":"e0a460d99fb601d7","name":"Check OS type","style":{"stroke":"#92d04f","label":true,"color":"#ff0000"},"nodes":["c6e61d4b01687939","91c19224574da8d1","1a794317d569fba1","dcb614b835248bb1","26372b0d3e2e5c4c","5b19fb3bd083fbab","545946b427b7dd35","ecec8e4d14aa14fb","4e3b1cec318022f3","4ac0d0daa6cae11e","492a75153c076a42","b30f0cc17648bfe5","cf5da00fd30711bc","5d4268b075c1a1f9","3b2ba5ae57e447fd"],"x":114,"y":119,"w":1112,"h":302},{"id":"7751ca5dbc6d5850","type":"mqtt-broker","name":"HA MQTT Broker","broker":"core-mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"smart_energy_finance/availability","birthQos":"0","birthRetain":"true","birthPayload":"online","closeTopic":"smart_energy_finance/availability","closeQos":"0","closeRetain":"true","closePayload":"offline","willTopic":"smart_energy_finance/availability","willQos":"0","willRetain":"true","willPayload":"offline","userProps":"","sessionExpiry":""},{"id":"eb0e698914988d23","type":"inject","z":"5b6a0644e28a43db","name":"Startup","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":90,"y":100,"wires":[["15b045c88243599d"]]},{"id":"ef26461a6968f91d","type":"inject","z":"5b6a0644e28a43db","name":"Loop 10s","props":[],"repeat":"10","crontab":"","once":false,"onceDelay":"","topic":"","x":70,"y":220,"wires":[["8252d3c20baacca0"]]},{"id":"8252d3c20baacca0","type":"function","z":"5b6a0644e28a43db","name":"Prepare + Read Config","func":"const tz = env.get(\"ADDON_TIMEZONE\") || \"UTC\";\nconst contractType = String(env.get(\"CONTRACT_TYPE\") || \"fixed\").trim();\nconst currency = String(env.get(\"CURRENCY\") || \"EUR\").trim();\nconst lang = String(env.get(\"DASHBOARD_LANGUAGE\") || \"en\").trim().toLowerCase();\nconst sendBip = String(env.get(\"SEND_BIP\") || \"true\") === \"true\";\n\nconst dashboardCustomCardsInstalled = String(env.get(\"DASHBOARD_CUSTOM_CARDS_INSTALLED\") || \"false\") === \"true\";\nconst premiumKey = String(env.get(\"SMART_ENERGY_FINANCE_PREMIUM_KEY\") || env.get(\"PREMIUM_KEY\") || \"\").trim();\nconst premiumKeyConfigured = premiumKey.length > 0;\n\nglobal.set(\"config.dashboardLanguage\", lang === \"fr\" ? \"fr\" : \"en\");\nglobal.set(\"dashboard.language\", lang === \"fr\" ? \"fr\" : \"en\");\nglobal.set(\"config.dashboardCustomCardsInstalled\", dashboardCustomCardsInstalled);\nglobal.set(\"dashboard.custom_cards_installed\", dashboardCustomCardsInstalled);\nglobal.set(\"config.sendBip\", sendBip);\nglobal.set(\"send_bip\", sendBip);\nglobal.set(\"premium.key\", premiumKey);\nglobal.set(\"premium.key_configured\", premiumKeyConfigured);\n\nif (global.get(\"premium.active\") === undefined) global.set(\"premium.active\", false);\nif (!global.get(\"premium.status\")) global.set(\"premium.status\", premiumKeyConfigured ? \"pending_validation\" : \"missing_key\");\nif (global.get(\"premium.tier\") === undefined) global.set(\"premium.tier\", null);\n\nmsg.cfg = {\n    tz,\n    contractType,\n    currency,\n    lang,\n    sendBip,\n\n    monthlySubscriptionPrice: Number(env.get(\"MONTHLY_SUBSCRIPTION_PRICE\") || 0),\n    fixedImportPrice: Number(env.get(\"FIXED_IMPORT_PRICE\") || 0),\n    fixedExportPrice: Number(env.get(\"FIXED_EXPORT_PRICE\") || 0),\n\n    tariff1: {\n        name: String(env.get(\"TARIFF_1_NAME\") || \"\").trim(),\n        price: Number(env.get(\"TARIFF_1_PRICE\") || 0),\n        start: String(env.get(\"TARIFF_1_START\") || \"\").trim(),\n        end: String(env.get(\"TARIFF_1_END\") || \"\").trim()\n    },\n    tariff2: {\n        name: String(env.get(\"TARIFF_2_NAME\") || \"\").trim(),\n        price: Number(env.get(\"TARIFF_2_PRICE\") || 0),\n        start: String(env.get(\"TARIFF_2_START\") || \"\").trim(),\n        end: String(env.get(\"TARIFF_2_END\") || \"\").trim()\n    },\n    tariff3: {\n        name: String(env.get(\"TARIFF_3_NAME\") || \"\").trim(),\n        price: Number(env.get(\"TARIFF_3_PRICE\") || 0),\n        start: String(env.get(\"TARIFF_3_START\") || \"\").trim(),\n        end: String(env.get(\"TARIFF_3_END\") || \"\").trim()\n    },\n    tariff4: {\n        name: String(env.get(\"TARIFF_4_NAME\") || \"\").trim(),\n        price: Number(env.get(\"TARIFF_4_PRICE\") || 0),\n        start: String(env.get(\"TARIFF_4_START\") || \"\").trim(),\n        end: String(env.get(\"TARIFF_4_END\") || \"\").trim()\n    },\n\n    tempo: {\n        colorEntity: String(env.get(\"TEMPO_COLOR_ENTITY\") || \"\").trim(),\n        blueHc: Number(env.get(\"TEMPO_BLUE_HC_PRICE\") || 0),\n        blueHp: Number(env.get(\"TEMPO_BLUE_HP_PRICE\") || 0),\n        whiteHc: Number(env.get(\"TEMPO_WHITE_HC_PRICE\") || 0),\n        whiteHp: Number(env.get(\"TEMPO_WHITE_HP_PRICE\") || 0),\n        redHc: Number(env.get(\"TEMPO_RED_HC_PRICE\") || 0),\n        redHp: Number(env.get(\"TEMPO_RED_HP_PRICE\") || 0),\n        hcSlot1Start: String(env.get(\"TEMPO_HC_SLOT_1_START\") || \"22:00\").trim(),\n        hcSlot1End: String(env.get(\"TEMPO_HC_SLOT_1_END\") || \"06:00\").trim(),\n        hcSlot2Start: String(env.get(\"TEMPO_HC_SLOT_2_START\") || \"\").trim(),\n        hcSlot2End: String(env.get(\"TEMPO_HC_SLOT_2_END\") || \"\").trim()\n    },\n\n    solarEnabled: String(env.get(\"SOLAR_ENABLED\") || \"false\") === \"true\",\n    solarInputMode: String(env.get(\"SOLAR_INPUT_MODE\") || \"energy\").trim(),\n    solarEnergyEntity: String(env.get(\"SOLAR_ENERGY_ENTITY\") || \"\").trim(),\n    solarPowerEntity: String(env.get(\"SOLAR_POWER_ENTITY\") || \"\").trim(),\n\n    loadEnabled: String(env.get(\"LOAD_ENABLED\") || \"false\") === \"true\",\n    loadInputMode: String(env.get(\"LOAD_INPUT_MODE\") || \"energy\").trim(),\n    loadEnergyEntity: String(env.get(\"LOAD_ENERGY_ENTITY\") || \"\").trim(),\n    loadPowerEntity: String(env.get(\"LOAD_POWER_ENTITY\") || \"\").trim(),\n\n    batteryEnabled: String(env.get(\"BATTERY_ENABLED\") || \"false\") === \"true\",\n    batteryInputMode: String(env.get(\"BATTERY_INPUT_MODE\") || \"energy\").trim(),\n    batteryChargeEnergyEntity: String(env.get(\"BATTERY_CHARGE_ENERGY_ENTITY\") || \"\").trim(),\n    batteryDischargeEnergyEntity: String(env.get(\"BATTERY_DISCHARGE_ENERGY_ENTITY\") || \"\").trim(),\n    batteryChargePowerEntity: String(env.get(\"BATTERY_CHARGE_POWER_ENTITY\") || \"\").trim(),\n    batteryDischargePowerEntity: String(env.get(\"BATTERY_DISCHARGE_POWER_ENTITY\") || \"\").trim(),\n    batteryCapacityAh: Number(env.get(\"BATTERY_CAPACITY_AH\") || 0),\n    batteryTotalCapacityKwh: Number(env.get(\"BATTERY_TOTAL_CAPACITY_KWH\") || 0),\n\n    gridEnabled: String(env.get(\"GRID_ENABLED\") || \"false\") === \"true\",\n    gridInputMode: String(env.get(\"GRID_INPUT_MODE\") || \"energy\").trim(),\n    gridImportEnergyEntity: String(env.get(\"GRID_IMPORT_ENERGY_ENTITY\") || \"\").trim(),\n    gridExportEnergyEntity: String(env.get(\"GRID_EXPORT_ENERGY_ENTITY\") || \"\").trim(),\n    gridImportPowerEntity: String(env.get(\"GRID_IMPORT_POWER_ENTITY\") || \"\").trim(),\n    gridExportPowerEntity: String(env.get(\"GRID_EXPORT_POWER_ENTITY\") || \"\").trim()\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":200,"wires":[["4416e6126cd8c35f"]]},{"id":"4416e6126cd8c35f","type":"function","z":"5b6a0644e28a43db","name":"Build HA States Request","func":"const token = env.get(\"SUPERVISOR_TOKEN\") || \"\";\nif (!token) {\n    node.error(\"SUPERVISOR_TOKEN introuvable\");\n    return null;\n}\n\nmsg.method = \"GET\";\nmsg.url = \"http://supervisor/core/api/states\";\nmsg.headers = {\n    Authorization: `Bearer ${token}`,\n    \"Content-Type\": \"application/json\"\n};\nreturn msg;","outputs":1,"x":370,"y":280,"wires":[["dfe08dbe83aea2dd"]]},{"id":"dfe08dbe83aea2dd","type":"http request","z":"5b6a0644e28a43db","name":"Read HA States API","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":580,"y":200,"wires":[["26728a4229f0d2b5"]]},{"id":"26728a4229f0d2b5","type":"function","z":"5b6a0644e28a43db","name":"Extract Configured Entities","func":"const cfg = msg.cfg;\nconst list = Array.isArray(msg.payload) ? msg.payload : [];\n\nconst states = {};\nfor (const item of list) {\n    if (item && item.entity_id) states[item.entity_id] = item;\n}\n\nfunction num(entityId) {\n    if (!entityId || !states[entityId]) return 0;\n    const n = Number(states[entityId].state);\n    return Number.isFinite(n) ? n : 0;\n}\n\nfunction str(entityId) {\n    if (!entityId || !states[entityId]) return \"\";\n    return String(states[entityId].state || \"\").trim();\n}\n\nmsg.inputs = {\n    solarDay: cfg.solarEnabled && cfg.solarInputMode === \"energy\" ? num(cfg.solarEnergyEntity) : 0,\n    loadDay: cfg.loadEnabled && cfg.loadInputMode === \"energy\" ? num(cfg.loadEnergyEntity) : 0,\n    gridImportDay: cfg.gridEnabled && cfg.gridInputMode === \"energy\" ? num(cfg.gridImportEnergyEntity) : 0,\n    gridExportDay: cfg.gridEnabled && cfg.gridInputMode === \"energy\" ? num(cfg.gridExportEnergyEntity) : 0,\n    batteryChargeDay: cfg.batteryEnabled && cfg.batteryInputMode === \"energy\" ? num(cfg.batteryChargeEnergyEntity) : 0,\n    batteryDischargeDay: cfg.batteryEnabled && cfg.batteryInputMode === \"energy\" ? num(cfg.batteryDischargeEnergyEntity) : 0,\n\n    solarPower: cfg.solarEnabled && cfg.solarInputMode === \"power\" ? num(cfg.solarPowerEntity) : 0,\n    loadPower: cfg.loadEnabled && cfg.loadInputMode === \"power\" ? num(cfg.loadPowerEntity) : 0,\n    gridImportPower: cfg.gridEnabled && cfg.gridInputMode === \"power\" ? num(cfg.gridImportPowerEntity) : 0,\n    gridExportPower: cfg.gridEnabled && cfg.gridInputMode === \"power\" ? num(cfg.gridExportPowerEntity) : 0,\n    batteryChargePower: cfg.batteryEnabled && cfg.batteryInputMode === \"power\" ? num(cfg.batteryChargePowerEntity) : 0,\n    batteryDischargePower: cfg.batteryEnabled && cfg.batteryInputMode === \"power\" ? num(cfg.batteryDischargePowerEntity) : 0,\n\n    tempoColorRaw: cfg.contractType === \"tempo\" ? str(cfg.tempo.colorEntity) : \"\"\n};\n\nreturn msg;","outputs":1,"x":700,"y":280,"wires":[["5c7b3ccd12f66a88"]]},{"id":"5c7b3ccd12f66a88","type":"function","z":"5b6a0644e28a43db","name":"Free Engine","func":"const cfg = msg.cfg;\nconst inputs = msg.inputs || {};\nconst premiumActive = global.get(\"premium.active\") === true;\n\nfunction round(v, d = 2) {\n    return Number((Number(v || 0)).toFixed(d));\n}\n\nfunction hhmmToMinutes(s) {\n    if (!s || !/^\\d{2}:\\d{2}$/.test(s)) return null;\n    const [h, m] = s.split(\":\").map(Number);\n    if (!Number.isInteger(h) || !Number.isInteger(m)) return null;\n    if (h < 0 || h > 23 || m < 0 || m > 59) return null;\n    return h * 60 + m;\n}\n\nfunction minuteOfDay(t) {\n    return (Number(t.hour) * 60) + Number(t.minute);\n}\n\nfunction isMinuteInRange(minute, start, end) {\n    const s = hhmmToMinutes(start);\n    const e = hhmmToMinutes(end);\n    if (s === null || e === null) return false;\n    if (s === e) return true;\n    if (s < e) return minute >= s && minute < e;\n    return minute >= s || minute < e;\n}\n\nfunction normalizeTempoColor(v) {\n    const s = String(v || \"\").trim().toLowerCase();\n    if (s === \"bleu\") return \"blue\";\n    if (s === \"blanc\") return \"white\";\n    if (s === \"rouge\") return \"red\";\n    if (s === \"blue\") return \"blue\";\n    if (s === \"white\") return \"white\";\n    if (s === \"red\") return \"red\";\n    return \"unknown\";\n}\n\nfunction isTempoHc(minute, tempoCfg) {\n    return (\n        isMinuteInRange(minute, tempoCfg.hcSlot1Start, tempoCfg.hcSlot1End) ||\n        (tempoCfg.hcSlot2Start && tempoCfg.hcSlot2End && isMinuteInRange(minute, tempoCfg.hcSlot2Start, tempoCfg.hcSlot2End))\n    );\n}\n\nfunction dateParts(tz) {\n    const parts = new Intl.DateTimeFormat(\"en-CA\", {\n        timeZone: tz,\n        year: \"numeric\",\n        month: \"2-digit\",\n        day: \"2-digit\",\n        hour: \"2-digit\",\n        minute: \"2-digit\",\n        second: \"2-digit\",\n        hour12: false\n    }).formatToParts(new Date());\n\n    const m = {};\n    for (const p of parts) {\n        if (p.type !== \"literal\") m[p.type] = p.value;\n    }\n\n    return {\n        year: m.year,\n        month: m.month,\n        day: m.day,\n        hour: m.hour,\n        minute: m.minute,\n        second: m.second,\n        dayKey: `${m.year}-${m.month}-${m.day}`,\n        monthKey: `${m.year}-${m.month}`,\n        yearKey: `${m.year}`\n    };\n}\n\nfunction emptyEnergy() {\n    return {\n        solar: 0,\n        load: 0,\n        gridImport: 0,\n        gridExport: 0,\n        batteryCharge: 0,\n        batteryDischarge: 0\n    };\n}\n\nfunction emptyFinance() {\n    return {\n        import_cost: 0,\n        export_revenue: 0,\n        theoretical_no_solar_cost: 0,\n        solar_production_value: 0,\n        battery_discharge_value: 0,\n        home_supply_savings: 0\n    };\n}\n\nfunction currentDaySnapshot(inputs) {\n    return {\n        solar: Number(inputs.solarDay || 0),\n        load: Number(inputs.loadDay || 0),\n        gridImport: Number(inputs.gridImportDay || 0),\n        gridExport: Number(inputs.gridExportDay || 0),\n        batteryCharge: Number(inputs.batteryChargeDay || 0),\n        batteryDischarge: Number(inputs.batteryDischargeDay || 0)\n    };\n}\n\nfunction safeEnergyValue(v) {\n    const n = Number(v);\n    return Number.isFinite(n) && n >= 0 ? n : 0;\n}\n\nfunction sanitizeEnergySnapshot(s) {\n    return {\n        solar: safeEnergyValue(s && s.solar),\n        load: safeEnergyValue(s && s.load),\n        gridImport: safeEnergyValue(s && s.gridImport),\n        gridExport: safeEnergyValue(s && s.gridExport),\n        batteryCharge: safeEnergyValue(s && s.batteryCharge),\n        batteryDischarge: safeEnergyValue(s && s.batteryDischarge)\n    };\n}\n\nfunction sumEnergy(s) {\n    return (\n        Number(s.solar || 0) +\n        Number(s.load || 0) +\n        Number(s.gridImport || 0) +\n        Number(s.gridExport || 0) +\n        Number(s.batteryCharge || 0) +\n        Number(s.batteryDischarge || 0)\n    );\n}\n\nfunction addEnergy(a, b) {\n    return {\n        solar: round(Number(a.solar || 0) + Number(b.solar || 0), 6),\n        load: round(Number(a.load || 0) + Number(b.load || 0), 6),\n        gridImport: round(Number(a.gridImport || 0) + Number(b.gridImport || 0), 6),\n        gridExport: round(Number(a.gridExport || 0) + Number(b.gridExport || 0), 6),\n        batteryCharge: round(Number(a.batteryCharge || 0) + Number(b.batteryCharge || 0), 6),\n        batteryDischarge: round(Number(a.batteryDischarge || 0) + Number(b.batteryDischarge || 0), 6)\n    };\n}\n\nfunction addFinance(a, b) {\n    return {\n        import_cost: round(Number(a.import_cost || 0) + Number(b.import_cost || 0), 6),\n        export_revenue: round(Number(a.export_revenue || 0) + Number(b.export_revenue || 0), 6),\n        theoretical_no_solar_cost: round(Number(a.theoretical_no_solar_cost || 0) + Number(b.theoretical_no_solar_cost || 0), 6),\n        solar_production_value: round(Number(a.solar_production_value || 0) + Number(b.solar_production_value || 0), 6),\n        battery_discharge_value: round(Number(a.battery_discharge_value || 0) + Number(b.battery_discharge_value || 0), 6),\n        home_supply_savings: round(Number(a.home_supply_savings || 0) + Number(b.home_supply_savings || 0), 6)\n    };\n}\n\nfunction proratedSubscription(periodName, monthlyPrice, time) {\n    const p = Number(monthlyPrice || 0);\n    if (!p) return 0;\n    if (periodName === \"day\") {\n        const daysInMonth = new Date(Number(time.year), Number(time.month), 0).getDate();\n        return p / daysInMonth;\n    }\n    if (periodName === \"month\") return p;\n    if (periodName === \"year\") return p * 12;\n    return 0;\n}\n\nfunction buildPeriodFinance(accEnergy, accFinance, periodName, cfg, now) {\n    const importEnergy = Number(accEnergy.gridImport || 0);\n    const exportEnergy = Number(accEnergy.gridExport || 0);\n    const loadEnergy = Number(accEnergy.load || 0);\n    const solarEnergy = Number(accEnergy.solar || 0);\n    const batteryCharge = Number(accEnergy.batteryCharge || 0);\n    const batteryDischarge = Number(accEnergy.batteryDischarge || 0);\n\n    const importCost = Number(accFinance.import_cost || 0);\n    const exportRevenue = Number(accFinance.export_revenue || 0);\n    const theoreticalNoSolarCost = Number(accFinance.theoretical_no_solar_cost || 0);\n    const solarProductionValue = Number(accFinance.solar_production_value || 0);\n    const batteryDischargeValue = Number(accFinance.battery_discharge_value || 0);\n    const homeSupplySavings = Number(accFinance.home_supply_savings || 0);\n\n    const subscriptionCost = proratedSubscription(periodName, cfg.monthlySubscriptionPrice, now);\n    const realTotalWithSubscription = importCost + subscriptionCost - exportRevenue;\n    const savingsVsNoSolar = theoreticalNoSolarCost - importCost + exportRevenue;\n\n    let selfSufficiencyPct = 0;\n    if (loadEnergy > 0) {\n        selfSufficiencyPct = ((Math.max(0, loadEnergy - importEnergy)) / loadEnergy) * 100;\n    }\n\n    let gridDependencyPct = 0;\n    if (loadEnergy > 0) {\n        gridDependencyPct = (importEnergy / loadEnergy) * 100;\n    }\n\n    return {\n        energy: {\n            solar_kwh: round(solarEnergy),\n            load_kwh: round(loadEnergy),\n            grid_import_kwh: round(importEnergy),\n            grid_export_kwh: round(exportEnergy),\n            battery_charge_kwh: round(batteryCharge),\n            battery_discharge_kwh: round(batteryDischarge)\n        },\n        finance: {\n            import_cost: round(importCost),\n            export_revenue: round(exportRevenue),\n            subscription_cost: round(subscriptionCost),\n            theoretical_no_solar_cost: round(theoreticalNoSolarCost),\n            solar_production_value: round(solarProductionValue),\n            battery_discharge_value: round(batteryDischargeValue),\n            home_supply_savings: round(homeSupplySavings),\n            real_total_with_subscription: round(realTotalWithSubscription),\n            savings_vs_no_solar: round(savingsVsNoSolar)\n        },\n        ratios: {\n            self_sufficiency_pct: round(selfSufficiencyPct, 2),\n            grid_dependency_pct: round(gridDependencyPct, 2)\n        }\n    };\n}\n\nfunction clone(v) {\n    return JSON.parse(JSON.stringify(v));\n}\n\nfunction trimHistory(arr, maxLen) {\n    const a = Array.isArray(arr) ? arr : [];\n    while (a.length > maxLen) a.shift();\n    return a;\n}\n\nfunction makeHistoryEntry(key, periodData) {\n    return {\n        key,\n        import_cost: round(periodData.finance.import_cost),\n        export_revenue: round(periodData.finance.export_revenue),\n        theoretical_no_solar_cost: round(periodData.finance.theoretical_no_solar_cost),\n        solar_production_value: round(periodData.finance.solar_production_value),\n        battery_discharge_value: round(periodData.finance.battery_discharge_value),\n        home_supply_savings: round(periodData.finance.home_supply_savings),\n        real_total_with_subscription: round(periodData.finance.real_total_with_subscription),\n        savings_vs_no_solar: round(periodData.finance.savings_vs_no_solar),\n        grid_import_kwh: round(periodData.energy.grid_import_kwh),\n        grid_export_kwh: round(periodData.energy.grid_export_kwh),\n        solar_kwh: round(periodData.energy.solar_kwh),\n        load_kwh: round(periodData.energy.load_kwh),\n        battery_charge_kwh: round(periodData.energy.battery_charge_kwh),\n        battery_discharge_kwh: round(periodData.energy.battery_discharge_kwh),\n        self_sufficiency_pct: round(periodData.ratios.self_sufficiency_pct, 2),\n        grid_dependency_pct: round(periodData.ratios.grid_dependency_pct, 2)\n    };\n}\n\nfunction diff(cur, prev) {\n    return round(Number(cur || 0) - Number(prev || 0), 6);\n}\n\nfunction buildDeltaWithProtection(cur, prev, store, nowMs) {\n    const fields = [\"solar\", \"load\", \"gridImport\", \"gridExport\", \"batteryCharge\", \"batteryDischarge\"];\n    const delta = emptyEnergy();\n\n    const lastRunMs = Number(store.runtime.lastRunMs || 0);\n    const elapsedSec = lastRunMs > 0 ? Math.max(10, (nowMs - lastRunMs) / 1000) : 10;\n\n    const longGap = elapsedSec > 300;\n    const jumpFactor = 1.5;\n\n    let hasReset = false;\n    let hasProgress = false;\n    let hasImpossibleJump = false;\n    let impossibleField = \"\";\n\n    const curSum = sumEnergy(cur);\n    const prevSum = sumEnergy(prev);\n\n    if (curSum === 0 && prevSum > 0) {\n        return {\n            delta,\n            hasReset: false,\n            hasProgress: false,\n            hasImpossibleJump: true,\n            impossibleField: \"all_zero_after_restart\",\n            keepPreviousBaseline: true\n        };\n    }\n\n    for (const f of fields) {\n        const c = Number(cur[f] || 0);\n        const p = Number(prev[f] || 0);\n        const d = diff(c, p);\n\n        if (d < 0) {\n            hasReset = true;\n            delta[f] = 0;\n            continue;\n        }\n\n        if (!longGap && p > 1 && c > (p * jumpFactor)) {\n            hasImpossibleJump = true;\n            impossibleField = f;\n            delta[f] = 0;\n            continue;\n        }\n\n        delta[f] = d;\n        if (d > 0) hasProgress = true;\n    }\n\n    return {\n        delta,\n        hasReset,\n        hasProgress,\n        hasImpossibleJump,\n        impossibleField,\n        keepPreviousBaseline: false\n    };\n}\n\nfunction applyLiveFinanceFloor(store, liveDay, tariff) {\n    const importPrice = Number(tariff.importPrice || 0);\n    if (importPrice <= 0) return;\n\n    const load = Number(liveDay.load || 0);\n    const gridImport = Number(liveDay.gridImport || 0);\n\n    if (load <= 0) return;\n    if (gridImport < 0) return;\n    if (gridImport > load * 1.5) return;\n\n    const liveMinimumSavings = Math.max(0, load - gridImport) * importPrice;\n\n    if (\n        liveMinimumSavings > 0 &&\n        liveMinimumSavings > Number(store.currentDayFinanceAccumulator.home_supply_savings || 0)\n    ) {\n        store.currentDayFinanceAccumulator.home_supply_savings = round(liveMinimumSavings, 6);\n        store.runtime.lastRebaseReason = \"live_finance_floor_home_supply_savings\";\n        store.runtime.lastRebaseAt = new Date().toISOString();\n    }\n}\n\nconst now = dateParts(cfg.tz || \"UTC\");\nconst nowMs = Date.now();\nconst liveDay = sanitizeEnergySnapshot(currentDaySnapshot(inputs));\n\nfunction createDefaultStore() {\n    return {\n        keys: { dayKey: now.dayKey, monthKey: now.monthKey, yearKey: now.yearKey },\n        prevLiveDay: liveDay,\n        closedDayMonthAccumulator: emptyEnergy(),\n        closedDayYearAccumulator: emptyEnergy(),\n        currentDayFinanceAccumulator: emptyFinance(),\n        closedDayMonthFinanceAccumulator: emptyFinance(),\n        closedDayYearFinanceAccumulator: emptyFinance(),\n        currentDaySnapshot: liveDay,\n        lastClosedDayKey: \"\",\n        runtime: {\n            initialized: false,\n            lastRebaseReason: \"\",\n            lastRebaseAt: \"\",\n            lastRunMs: 0,\n            restartGuardUntilMs: 0,\n            maxAcceptedPowerKw: 60\n        },\n        history: {\n            daily: [],\n            monthly: [],\n            yearly: [],\n            lastArchivedMonthKey: \"\",\n            lastArchivedYearKey: \"\"\n        },\n        meta: {\n            lastTempoColor: \"\",\n            lastTariffName: \"\",\n            lastTariffPeriod: \"\",\n            lastRun: \"\"\n        }\n    };\n}\n\nconst flowStore = flow.get(\"finance_store\", \"persistent\");\nconst globalStore = global.get(\"sef.persisted_store\");\n\nlet store = flowStore || globalStore;\n\nconst flowCorrectionAt = String(flowStore?.meta?.lastManualCorrectionAt || \"\");\nconst globalCorrectionAt = String(globalStore?.meta?.lastManualCorrectionAt || \"\");\n\nif (globalStore && globalCorrectionAt && globalCorrectionAt > flowCorrectionAt) {\n    store = globalStore;\n}\nif (!store || typeof store !== \"object\") {\n    store = createDefaultStore();\n}\n\nstore.history = store.history || {};\nstore.history.daily = Array.isArray(store.history.daily) ? store.history.daily : [];\nstore.history.monthly = Array.isArray(store.history.monthly) ? store.history.monthly : [];\nstore.history.yearly = Array.isArray(store.history.yearly) ? store.history.yearly : [];\nstore.history.lastArchivedMonthKey = String(store.history.lastArchivedMonthKey || \"\");\nstore.history.lastArchivedYearKey = String(store.history.lastArchivedYearKey || \"\");\n\nstore.runtime = store.runtime || {};\nstore.runtime.initialized = store.runtime.initialized === true;\nstore.runtime.lastRebaseReason = String(store.runtime.lastRebaseReason || \"\");\nstore.runtime.lastRebaseAt = String(store.runtime.lastRebaseAt || \"\");\nstore.runtime.lastRunMs = Number(store.runtime.lastRunMs || 0);\nstore.runtime.restartGuardUntilMs = Number(store.runtime.restartGuardUntilMs || 0);\nstore.runtime.maxAcceptedPowerKw = Number(store.runtime.maxAcceptedPowerKw || 60);\n\nif (msg.restore && msg.restore.financeStoreRestored === true) {\n    store.runtime.restartGuardUntilMs = nowMs + 120000;\n    store.runtime.lastRebaseReason = \"restore_guard_started\";\n    store.runtime.lastRebaseAt = new Date().toISOString();\n}\n\nstore.prevLiveDay = sanitizeEnergySnapshot(store.prevLiveDay || emptyEnergy());\nstore.currentDaySnapshot = sanitizeEnergySnapshot(store.currentDaySnapshot || emptyEnergy());\nstore.closedDayMonthAccumulator = sanitizeEnergySnapshot(store.closedDayMonthAccumulator || emptyEnergy());\nstore.closedDayYearAccumulator = sanitizeEnergySnapshot(store.closedDayYearAccumulator || emptyEnergy());\nstore.currentDayFinanceAccumulator = store.currentDayFinanceAccumulator || emptyFinance();\nstore.closedDayMonthFinanceAccumulator = store.closedDayMonthFinanceAccumulator || emptyFinance();\nstore.closedDayYearFinanceAccumulator = store.closedDayYearFinanceAccumulator || emptyFinance();\n\nconst oldDayKey = String(store.keys?.dayKey || now.dayKey);\nconst oldMonthKey = String(store.keys?.monthKey || now.monthKey);\nconst oldYearKey = String(store.keys?.yearKey || now.yearKey);\n\nfunction getCurrentTariff() {\n    const minute = minuteOfDay(now);\n\n    if (cfg.contractType === \"fixed\") {\n        return {\n            mode: \"fixed\",\n            name: \"fixed\",\n            period: \"fixed\",\n            importPrice: Number(cfg.fixedImportPrice || 0),\n            exportPrice: Number(cfg.fixedExportPrice || 0),\n            tempoColor: \"\",\n            tempoColorRaw: \"\",\n            isTempoHc: false\n        };\n    }\n\n    if (cfg.contractType === \"time_based\") {\n        const tariffs = [cfg.tariff1, cfg.tariff2, cfg.tariff3, cfg.tariff4]\n            .filter(t => t && t.name && t.start && t.end);\n\n        for (const t of tariffs) {\n            if (isMinuteInRange(minute, t.start, t.end)) {\n                return {\n                    mode: \"time_based\",\n                    name: t.name,\n                    period: t.name,\n                    importPrice: Number(t.price || 0),\n                    exportPrice: Number(cfg.fixedExportPrice || 0),\n                    tempoColor: \"\",\n                    tempoColorRaw: \"\",\n                    isTempoHc: false\n                };\n            }\n        }\n\n        return {\n            mode: \"time_based\",\n            name: \"unmatched\",\n            period: \"unmatched\",\n            importPrice: 0,\n            exportPrice: Number(cfg.fixedExportPrice || 0),\n            tempoColor: \"\",\n            tempoColorRaw: \"\",\n            isTempoHc: false\n        };\n    }\n\n    if (cfg.contractType === \"tempo\") {\n        const colorRaw = String(inputs.tempoColorRaw || \"\").trim();\n        const color = normalizeTempoColor(colorRaw);\n        const hc = isTempoHc(minute, cfg.tempo);\n\n        let importPrice = 0;\n        let name = \"tempo_unknown\";\n        const period = hc ? \"hc\" : \"hp\";\n\n        if (color === \"blue\") {\n            importPrice = hc ? Number(cfg.tempo.blueHc || 0) : Number(cfg.tempo.blueHp || 0);\n            name = hc ? \"tempo_blue_hc\" : \"tempo_blue_hp\";\n        } else if (color === \"white\") {\n            importPrice = hc ? Number(cfg.tempo.whiteHc || 0) : Number(cfg.tempo.whiteHp || 0);\n            name = hc ? \"tempo_white_hc\" : \"tempo_white_hp\";\n        } else if (color === \"red\") {\n            importPrice = hc ? Number(cfg.tempo.redHc || 0) : Number(cfg.tempo.redHp || 0);\n            name = hc ? \"tempo_red_hc\" : \"tempo_red_hp\";\n        }\n\n        return {\n            mode: \"tempo\",\n            name,\n            period,\n            importPrice,\n            exportPrice: Number(cfg.fixedExportPrice || 0),\n            tempoColor: color,\n            tempoColorRaw: colorRaw || \"inconnu\",\n            isTempoHc: hc\n        };\n    }\n\n    return {\n        mode: \"fixed\",\n        name: \"fixed\",\n        period: \"fixed\",\n        importPrice: Number(cfg.fixedImportPrice || 0),\n        exportPrice: Number(cfg.fixedExportPrice || 0),\n        tempoColor: \"\",\n        tempoColorRaw: \"\",\n        isTempoHc: false\n    };\n}\n\nconst tariff = getCurrentTariff();\n\nif (oldDayKey !== now.dayKey) {\n    if (store.lastClosedDayKey !== oldDayKey) {\n        const closedDayData = buildPeriodFinance(\n            clone(store.currentDaySnapshot || emptyEnergy()),\n            clone(store.currentDayFinanceAccumulator || emptyFinance()),\n            \"day\",\n            cfg,\n            {\n                year: oldDayKey.slice(0, 4),\n                month: oldDayKey.slice(5, 7),\n                day: oldDayKey.slice(8, 10)\n            }\n        );\n\n        store.history.daily.push(makeHistoryEntry(oldDayKey, closedDayData));\n        store.history.daily = trimHistory(store.history.daily, 62);\n\n        store.closedDayMonthAccumulator = addEnergy(store.closedDayMonthAccumulator, store.currentDaySnapshot);\n        store.closedDayYearAccumulator = addEnergy(store.closedDayYearAccumulator, store.currentDaySnapshot);\n        store.closedDayMonthFinanceAccumulator = addFinance(store.closedDayMonthFinanceAccumulator, store.currentDayFinanceAccumulator);\n        store.closedDayYearFinanceAccumulator = addFinance(store.closedDayYearFinanceAccumulator, store.currentDayFinanceAccumulator);\n        store.lastClosedDayKey = oldDayKey;\n    }\n\n    if (oldMonthKey !== now.monthKey) {\n        if (store.history.lastArchivedMonthKey !== oldMonthKey) {\n            const closedMonthData = buildPeriodFinance(\n                clone(store.closedDayMonthAccumulator || emptyEnergy()),\n                clone(store.closedDayMonthFinanceAccumulator || emptyFinance()),\n                \"month\",\n                cfg,\n                {\n                    year: oldMonthKey.slice(0, 4),\n                    month: oldMonthKey.slice(5, 7)\n                }\n            );\n\n            store.history.monthly.push(makeHistoryEntry(oldMonthKey, closedMonthData));\n            store.history.monthly = trimHistory(store.history.monthly, 24);\n            store.history.lastArchivedMonthKey = oldMonthKey;\n        }\n\n        store.closedDayMonthAccumulator = emptyEnergy();\n        store.closedDayMonthFinanceAccumulator = emptyFinance();\n    }\n\n    if (oldYearKey !== now.yearKey) {\n        if (store.history.lastArchivedYearKey !== oldYearKey) {\n            const closedYearData = buildPeriodFinance(\n                clone(store.closedDayYearAccumulator || emptyEnergy()),\n                clone(store.closedDayYearFinanceAccumulator || emptyFinance()),\n                \"year\",\n                cfg,\n                { year: oldYearKey }\n            );\n\n            store.history.yearly.push(makeHistoryEntry(oldYearKey, closedYearData));\n            store.history.yearly = trimHistory(store.history.yearly, 10);\n            store.history.lastArchivedYearKey = oldYearKey;\n        }\n\n        store.closedDayYearAccumulator = emptyEnergy();\n        store.closedDayYearFinanceAccumulator = emptyFinance();\n    }\n\n    store.currentDayFinanceAccumulator = emptyFinance();\n    store.prevLiveDay = liveDay;\n    store.currentDaySnapshot = liveDay;\n    store.runtime.initialized = true;\n    store.runtime.lastRebaseReason = \"new_day\";\n    store.runtime.lastRebaseAt = new Date().toISOString();\n    store.runtime.restartGuardUntilMs = nowMs + 60000;\n}\n\nif (oldDayKey === now.dayKey) {\n    if (!store.runtime.initialized) {\n        store.prevLiveDay = liveDay;\n        store.currentDaySnapshot = liveDay;\n        store.runtime.initialized = true;\n        store.runtime.lastRebaseReason = \"startup_init\";\n        store.runtime.lastRebaseAt = new Date().toISOString();\n        store.runtime.restartGuardUntilMs = nowMs + 120000;\n    } else {\n        const inRestartGuard = nowMs < Number(store.runtime.restartGuardUntilMs || 0);\n        const calc = buildDeltaWithProtection(liveDay, store.prevLiveDay || emptyEnergy(), store, nowMs);\n        const delta = calc.delta;\n\n        if (inRestartGuard) {\n            store.prevLiveDay = liveDay;\n            store.currentDaySnapshot = liveDay;\n            store.runtime.lastRebaseReason = \"restart_guard_rebase\";\n            store.runtime.lastRebaseAt = new Date().toISOString();\n            node.status({ fill: \"yellow\", shape: \"ring\", text: \"restart guard: baseline only\" });\n\n        } else if (calc.keepPreviousBaseline) {\n            store.currentDaySnapshot = store.currentDaySnapshot || store.prevLiveDay;\n            store.runtime.lastRebaseReason = \"ignored_zero_states_after_restart\";\n            store.runtime.lastRebaseAt = new Date().toISOString();\n            node.status({ fill: \"yellow\", shape: \"ring\", text: \"ignored temporary zero states\" });\n\n        } else if (calc.hasReset) {\n            store.prevLiveDay = liveDay;\n            store.currentDaySnapshot = liveDay;\n            store.runtime.lastRebaseReason = \"counter_reset_or_restart\";\n            store.runtime.lastRebaseAt = new Date().toISOString();\n            node.status({ fill: \"yellow\", shape: \"ring\", text: \"rebase after reset/restart\" });\n\n        } else if (calc.hasImpossibleJump) {\n            store.prevLiveDay = liveDay;\n            store.currentDaySnapshot = liveDay;\n            store.runtime.lastRebaseReason = `ignored_impossible_jump_${calc.impossibleField || \"unknown\"}`;\n            store.runtime.lastRebaseAt = new Date().toISOString();\n            node.status({ fill: \"red\", shape: \"ring\", text: `ignored spike ${calc.impossibleField || \"\"}` });\n\n        } else {\n            store.currentDayFinanceAccumulator.import_cost = round(\n                Number(store.currentDayFinanceAccumulator.import_cost || 0) +\n                Number(delta.gridImport || 0) * Number(tariff.importPrice || 0),\n                6\n            );\n\n            store.currentDayFinanceAccumulator.export_revenue = round(\n                Number(store.currentDayFinanceAccumulator.export_revenue || 0) +\n                Number(delta.gridExport || 0) * Number(tariff.exportPrice || 0),\n                6\n            );\n\n            store.currentDayFinanceAccumulator.theoretical_no_solar_cost = round(\n                Number(store.currentDayFinanceAccumulator.theoretical_no_solar_cost || 0) +\n                Number(delta.load || 0) * Number(tariff.importPrice || 0),\n                6\n            );\n\n            store.currentDayFinanceAccumulator.solar_production_value = round(\n                Number(store.currentDayFinanceAccumulator.solar_production_value || 0) +\n                Number(delta.solar || 0) * Number(tariff.importPrice || 0),\n                6\n            );\n\n            store.currentDayFinanceAccumulator.battery_discharge_value = round(\n                Number(store.currentDayFinanceAccumulator.battery_discharge_value || 0) +\n                Number(delta.batteryDischarge || 0) * Number(tariff.importPrice || 0),\n                6\n            );\n\n            const coveredBySystem = Math.max(0, Number(delta.load || 0) - Number(delta.gridImport || 0));\n            store.currentDayFinanceAccumulator.home_supply_savings = round(\n                Number(store.currentDayFinanceAccumulator.home_supply_savings || 0) +\n                coveredBySystem * Number(tariff.importPrice || 0),\n                6\n            );\n\n            store.prevLiveDay = liveDay;\n            store.currentDaySnapshot = liveDay;\n\n            if (cfg.contractType === \"tempo\") {\n                node.status({\n                    fill: tariff.tempoColor === \"unknown\" ? \"grey\" : \"green\",\n                    shape: \"dot\",\n                    text: `tempo ${tariff.tempoColorRaw || \"inconnu\"} / ${tariff.period}`\n                });\n            } else {\n                node.status({ fill: \"blue\", shape: \"dot\", text: `${cfg.contractType} / ${tariff.name}` });\n            }\n        }\n    }\n}\n\napplyLiveFinanceFloor(store, liveDay, tariff);\n\nstore.keys = {\n    dayKey: now.dayKey,\n    monthKey: now.monthKey,\n    yearKey: now.yearKey\n};\n\nstore.meta.lastRun = new Date().toISOString();\nstore.meta.lastTempoColor = tariff.tempoColor;\nstore.meta.lastTariffName = tariff.name;\nstore.meta.lastTariffPeriod = tariff.period;\nstore.runtime.lastRunMs = nowMs;\n\nconst dayEnergy = liveDay;\nconst dayFinance = store.currentDayFinanceAccumulator;\nconst monthEnergy = addEnergy(store.closedDayMonthAccumulator, liveDay);\nconst yearEnergy = addEnergy(store.closedDayYearAccumulator, liveDay);\nconst monthFinance = addFinance(store.closedDayMonthFinanceAccumulator, dayFinance);\nconst yearFinance = addFinance(store.closedDayYearFinanceAccumulator, dayFinance);\n\nflow.set(\"finance_store\", store, \"persistent\");\nglobal.set(\"sef.persisted_store\", store);\n\nconst history = {\n    daily: clone(store.history.daily),\n    monthly: clone(store.history.monthly),\n    yearly: clone(store.history.yearly)\n};\n\nmsg.sef = {\n    cfg,\n    now,\n    tariff,\n    premiumActive,\n    dayEnergy,\n    dayFinance,\n    monthEnergy,\n    monthFinance,\n    yearEnergy,\n    yearFinance,\n    history\n};\n\nmsg.payload = {\n    info: {\n        module: \"smart_energy_finance\",\n        version: \"0.1.2\",\n        currency: cfg.currency,\n        timezone: cfg.tz,\n        contract_type: cfg.contractType,\n        premium_active: premiumActive,\n        premium_status: global.get(\"premium.status\") || (premiumActive ? \"valid\" : \"missing_key\"),\n        premium_tier: global.get(\"premium.tier\") || null,\n        premium_install_id: global.get(\"premium.install_id\") || null,\n        dashboard_language: global.get(\"config.dashboardLanguage\") || cfg.lang || \"en\",\n        dashboard_custom_cards_installed: global.get(\"config.dashboardCustomCardsInstalled\") === true,\n        active_tariff_name: tariff.name,\n        active_tariff_period: tariff.period,\n        active_import_price: round(tariff.importPrice, 4),\n        active_export_price: round(tariff.exportPrice, 4),\n        tempo_color: tariff.tempoColor,\n        tempo_color_raw: tariff.tempoColorRaw || \"inconnu\",\n        tempo_is_hc: tariff.isTempoHc,\n        day_key: now.dayKey,\n        month_key: now.monthKey,\n        year_key: now.yearKey,\n        premium_teaser_month: premiumActive ? \"active\" : \"premium_required\",\n        premium_teaser_battery: premiumActive ? \"active\" : \"premium_required\",\n        runtime_initialized: store.runtime.initialized === true,\n        last_rebase_reason: store.runtime.lastRebaseReason || \"\",\n        last_rebase_at: store.runtime.lastRebaseAt || \"\",\n        last_manual_correction_status: global.get(\"sef.manual_correction.last_status\") || \"none\",\n        last_manual_correction_date: global.get(\"sef.manual_correction.last_date\") || \"\",\n        last_manual_correction_at: global.get(\"sef.manual_correction.last_at\") || \"\",\n        updated_at: new Date().toISOString()\n    },\n    current_inputs: {\n        solar_day_kwh: inputs.solarDay,\n        load_day_kwh: inputs.loadDay,\n        grid_import_day_kwh: inputs.gridImportDay,\n        grid_export_day_kwh: inputs.gridExportDay,\n        battery_charge_day_kwh: inputs.batteryChargeDay,\n        battery_discharge_day_kwh: inputs.batteryDischargeDay,\n        solar_power_w: inputs.solarPower,\n        load_power_w: inputs.loadPower,\n        grid_import_power_w: inputs.gridImportPower,\n        grid_export_power_w: inputs.gridExportPower,\n        battery_charge_power_w: inputs.batteryChargePower,\n        battery_discharge_power_w: inputs.batteryDischargePower\n    },\n    free: {\n        day: buildPeriodFinance(dayEnergy, dayFinance, \"day\", cfg, now)\n    },\n    history\n};\n\nconst persistMsg = {\n    filename: \"/config/smart_energy_finance_store.json\",\n    payload: JSON.stringify(store, null, 2)\n};\n\nreturn [msg, persistMsg];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":200,"wires":[["763caa68b76ecdce"],["3745b9aed846774b"]]},{"id":"763caa68b76ecdce","type":"function","z":"5b6a0644e28a43db","name":"Premium Engine","func":"const premiumActive = global.get(\"premium.active\") === true;\nconst ctx = msg.sef || {};\n\nfunction round(v, d = 2) {\n    return Number((Number(v || 0)).toFixed(d));\n}\n\nfunction clone(v) {\n    return JSON.parse(JSON.stringify(v));\n}\n\nfunction proratedSubscription(periodName, monthlyPrice, time) {\n    const p = Number(monthlyPrice || 0);\n    if (!p) return 0;\n\n    if (periodName === \"day\") {\n        const daysInMonth = new Date(Number(time.year), Number(time.month), 0).getDate();\n        return p / daysInMonth;\n    }\n\n    if (periodName === \"month\") return p;\n    if (periodName === \"year\") return p * 12;\n\n    return 0;\n}\n\nfunction buildPeriodFinance(accEnergy, accFinance, periodName, cfg, now) {\n    const importEnergy = Number(accEnergy.gridImport || 0);\n    const exportEnergy = Number(accEnergy.gridExport || 0);\n    const loadEnergy = Number(accEnergy.load || 0);\n    const solarEnergy = Number(accEnergy.solar || 0);\n    const batteryCharge = Number(accEnergy.batteryCharge || 0);\n    const batteryDischarge = Number(accEnergy.batteryDischarge || 0);\n\n    const importCost = Number(accFinance.import_cost || 0);\n    const exportRevenue = Number(accFinance.export_revenue || 0);\n    const theoreticalNoSolarCost = Number(accFinance.theoretical_no_solar_cost || 0);\n    const solarProductionValue = Number(accFinance.solar_production_value || 0);\n    const batteryDischargeValue = Number(accFinance.battery_discharge_value || 0);\n    const homeSupplySavings = Number(accFinance.home_supply_savings || 0);\n\n    const subscriptionCost = proratedSubscription(periodName, cfg.monthlySubscriptionPrice, now);\n    const realTotalWithSubscription = importCost + subscriptionCost - exportRevenue;\n    const savingsVsNoSolar = theoreticalNoSolarCost - importCost + exportRevenue;\n\n    let selfSufficiencyPct = 0;\n    if (loadEnergy > 0) {\n        selfSufficiencyPct = ((Math.max(0, loadEnergy - importEnergy)) / loadEnergy) * 100;\n    }\n\n    let gridDependencyPct = 0;\n    if (loadEnergy > 0) {\n        gridDependencyPct = (importEnergy / loadEnergy) * 100;\n    }\n\n    return {\n        energy: {\n            solar_kwh: round(solarEnergy),\n            load_kwh: round(loadEnergy),\n            grid_import_kwh: round(importEnergy),\n            grid_export_kwh: round(exportEnergy),\n            battery_charge_kwh: round(batteryCharge),\n            battery_discharge_kwh: round(batteryDischarge)\n        },\n        finance: {\n            import_cost: round(importCost),\n            export_revenue: round(exportRevenue),\n            subscription_cost: round(subscriptionCost),\n            theoretical_no_solar_cost: round(theoreticalNoSolarCost),\n            solar_production_value: round(solarProductionValue),\n            battery_discharge_value: round(batteryDischargeValue),\n            home_supply_savings: round(homeSupplySavings),\n            real_total_with_subscription: round(realTotalWithSubscription),\n            savings_vs_no_solar: round(savingsVsNoSolar)\n        },\n        ratios: {\n            self_sufficiency_pct: round(selfSufficiencyPct, 2),\n            grid_dependency_pct: round(gridDependencyPct, 2)\n        }\n    };\n}\n\nif (!msg.payload || !ctx.cfg || !ctx.now) {\n    node.error(\"Contexte SEF manquant pour le noeud premium\");\n    return null;\n}\n\nif (premiumActive) {\n    const month = buildPeriodFinance(\n        ctx.monthEnergy,\n        ctx.monthFinance,\n        \"month\",\n        ctx.cfg,\n        ctx.now\n    );\n\n    const year = buildPeriodFinance(\n        ctx.yearEnergy,\n        ctx.yearFinance,\n        \"year\",\n        ctx.cfg,\n        ctx.now\n    );\n\n    msg.payload.premium = {\n        month,\n        year,\n        battery: {\n            day_charge_kwh: round(ctx.dayEnergy.batteryCharge),\n            day_discharge_kwh: round(ctx.dayEnergy.batteryDischarge),\n            day_discharge_value: round(Number(ctx.dayFinance?.battery_discharge_value || 0)),\n\n            month_charge_kwh: round(ctx.monthEnergy.batteryCharge),\n            month_discharge_kwh: round(ctx.monthEnergy.batteryDischarge),\n            month_discharge_value: round(Number(ctx.monthFinance?.battery_discharge_value || 0)),\n\n            year_charge_kwh: round(ctx.yearEnergy.batteryCharge),\n            year_discharge_kwh: round(ctx.yearEnergy.batteryDischarge),\n            year_discharge_value: round(Number(ctx.yearFinance?.battery_discharge_value || 0))\n        },\n        history: clone(ctx.history || { daily: [], monthly: [], yearly: [] })\n    };\n\n    node.status({\n        fill: \"green\",\n        shape: \"dot\",\n        text: \"premium actif\"\n    });\n} else {\n    const required = \"premium_required\";\n    msg.payload.premium = {\n        month: {\n            energy: {\n                solar_kwh: required,\n                load_kwh: required,\n                grid_import_kwh: required,\n                grid_export_kwh: required,\n                battery_charge_kwh: required,\n                battery_discharge_kwh: required\n            },\n            finance: {\n                import_cost: required,\n                export_revenue: required,\n                subscription_cost: required,\n                theoretical_no_solar_cost: required,\n                solar_production_value: required,\n                battery_discharge_value: required,\n                home_supply_savings: required,\n                real_total_with_subscription: required,\n                savings_vs_no_solar: required\n            },\n            ratios: {\n                self_sufficiency_pct: required,\n                grid_dependency_pct: required\n            }\n        },\n        year: {\n            energy: {\n                solar_kwh: required,\n                load_kwh: required,\n                grid_import_kwh: required,\n                grid_export_kwh: required,\n                battery_charge_kwh: required,\n                battery_discharge_kwh: required\n            },\n            finance: {\n                import_cost: required,\n                export_revenue: required,\n                subscription_cost: required,\n                theoretical_no_solar_cost: required,\n                solar_production_value: required,\n                battery_discharge_value: required,\n                home_supply_savings: required,\n                real_total_with_subscription: required,\n                savings_vs_no_solar: required\n            },\n            ratios: {\n                self_sufficiency_pct: required,\n                grid_dependency_pct: required\n            }\n        },\n        battery: {\n            day_charge_kwh: required,\n            day_discharge_kwh: required,\n            day_discharge_value: required,\n            month_charge_kwh: required,\n            month_discharge_kwh: required,\n            month_discharge_value: required,\n            year_charge_kwh: required,\n            year_discharge_kwh: required,\n            year_discharge_value: required\n        },\n        history: {\n            daily: [],\n            monthly: [],\n            yearly: []\n        }\n    };\n\n    node.status({\n        fill: \"grey\",\n        shape: \"ring\",\n        text: \"premium inactif\"\n    });\n}\n\ndelete msg.sef;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":180,"wires":[["bcbc4c221449a01a"]]},{"id":"bcbc4c221449a01a","type":"json","z":"5b6a0644e28a43db","name":"To JSON","property":"payload","action":"str","pretty":false,"x":1000,"y":120,"wires":[["6cc09239fa0cf98b"]]},{"id":"6cc09239fa0cf98b","type":"mqtt out","z":"5b6a0644e28a43db","name":"MQTT State","topic":"smart_energy_finance/state","qos":"0","retain":"true","broker":"7751ca5dbc6d5850","x":1190,"y":120,"wires":[]},{"id":"15b045c88243599d","type":"file in","z":"5b6a0644e28a43db","name":"Load persistent finance store","filename":"/config/smart_energy_finance_store.json","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":320,"y":40,"wires":[["86077b4fa8c193e7"]]},{"id":"86077b4fa8c193e7","type":"function","z":"5b6a0644e28a43db","name":"Restore persistent finance store","func":"let restored = false;\nlet restoreStatus = \"no_store_file\";\n\nif (msg.payload !== undefined && msg.payload !== null && msg.payload !== \"\") {\n    try {\n        const parsed = (typeof msg.payload === \"string\") ? JSON.parse(msg.payload) : msg.payload;\n\n        if (parsed && typeof parsed === \"object\") {\n            global.set(\"sef.persisted_store\", parsed);\n            flow.set(\"finance_store\", parsed, \"persistent\");\n            restored = true;\n            restoreStatus = \"restored\";\n            node.status({ fill: \"green\", shape: \"dot\", text: \"finance store restored\" });\n        } else {\n            restoreStatus = \"invalid_store_object\";\n            node.status({ fill: \"yellow\", shape: \"ring\", text: \"invalid finance store object\" });\n        }\n    } catch (e) {\n        restoreStatus = \"restore_parse_error\";\n        node.warn(\"Unable to restore persistent finance store: \" + e.message);\n        node.status({ fill: \"yellow\", shape: \"ring\", text: \"finance store restore parse error\" });\n    }\n} else {\n    node.status({ fill: \"grey\", shape: \"ring\", text: \"no finance store file\" });\n}\n\nmsg.restore = {\n    financeStoreRestored: restored,\n    financeStoreRestoreStatus: restoreStatus,\n    restoredAt: new Date().toISOString()\n};\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":40,"wires":[["8252d3c20baacca0"]]},{"id":"3745b9aed846774b","type":"file","z":"5b6a0644e28a43db","name":"Save persistent finance store","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1020,"y":280,"wires":[[]]},{"id":"e655c332e9b3ad72","type":"inject","z":"1dcae953d4844580","name":"Discovery at startup","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","x":140,"y":120,"wires":[["964bf2a4d7c48e49","a5878623c4e52282"]]},{"id":"964bf2a4d7c48e49","type":"function","z":"1dcae953d4844580","name":"Build Discovery (FR/EN + Premium)","func":"const currency = String(env.get(\"CURRENCY\") || \"EUR\").trim() || \"EUR\";\n\nconst stateTopic = \"smart_energy_finance/state\";\nconst availabilityTopic = \"smart_energy_finance/availability\";\nconst deviceRoot = \"smart_energy_finance\";\nconst discoveryPrefix = \"homeassistant\";\n\nconst device = {\n  identifiers: [deviceRoot],\n  name: \"Smart Energy Finance\",\n  manufacturer: \"OpenAI User Project\",\n  model: \"Node-RED Energy Finance Engine\",\n  sw_version: \"0.1.1\"\n};\n\nconst LABELS = {\n  day_import_cost: \"Day import cost\",\n  day_export_revenue: \"Day export revenue\",\n  day_subscription_cost: \"Day subscription cost\",\n  day_theoretical_no_solar_cost: \"Day theoretical no solar cost\",\n  day_solar_production_value: \"Day solar production value\",\n  day_home_supply_savings: \"Day home supply savings\",\n  day_real_total_with_subscription: \"Day real total with subscription\",\n  day_savings_vs_no_solar: \"Day savings vs no solar\",\n  day_grid_import_kwh: \"Day grid import\",\n  day_grid_export_kwh: \"Day grid export\",\n  day_solar_kwh: \"Day solar production\",\n  day_load_kwh: \"Day load consumption\",\n  day_self_sufficiency_pct: \"Day self sufficiency\",\n  day_grid_dependency_pct: \"Day grid dependency\",\n  active_tariff_name: \"Active tariff\",\n  active_import_price: \"Active import price\",\n  tempo_color: \"Tempo color\",\n  premium_teaser_month: \"Monthly analytics (Premium)\",\n  premium_teaser_battery: \"Battery analytics (Premium)\",\n\n  month_savings_vs_no_solar: \"Month savings vs no solar\",\n  month_solar_production_value: \"Month solar production value\",\n  month_home_supply_savings: \"Month home supply savings\",\n\n  year_savings_vs_no_solar: \"Year savings vs no solar\",\n  year_solar_production_value: \"Year solar production value\",\n  year_home_supply_savings: \"Year home supply savings\",\n\n  battery_day_charge_kwh: \"Battery charge day\",\n  battery_day_discharge_kwh: \"Battery discharge day\",\n  battery_day_savings: \"Battery savings vs grid day\",\n  battery_month_charge_kwh: \"Battery charge month\",\n  battery_month_discharge_kwh: \"Battery discharge month\",\n  battery_month_savings: \"Battery savings vs grid month\",\n  battery_year_charge_kwh: \"Battery charge year\",\n  battery_year_discharge_kwh: \"Battery discharge year\",\n  battery_year_savings: \"Battery savings vs grid year\",\n\n  history_archive: \"Economy history archive\"\n};\n\nfunction stableObjectId(objectId) {\n  return `smart_energy_finance_${objectId}`;\n}\n\nfunction discoveryTopic(domain, objectId) {\n  const uid = stableObjectId(objectId);\n  return `${discoveryPrefix}/${domain}/${uid}/config`;\n}\n\nfunction sensor(objectId, name, valueTemplate, options = {}) {\n  const uid = stableObjectId(objectId);\n  const payload = {\n    name,\n    unique_id: uid,\n    object_id: uid,\n    default_entity_id: `sensor.${uid}`,\n    state_topic: stateTopic,\n    availability_topic: availabilityTopic,\n    payload_available: \"online\",\n    payload_not_available: \"offline\",\n    value_template: valueTemplate,\n    force_update: true,\n    device\n  };\n\n  if (options.icon) payload.icon = options.icon;\n  if (options.unit) payload.unit_of_measurement = options.unit;\n  if (options.deviceClass) payload.device_class = options.deviceClass;\n  if (options.stateClass) payload.state_class = options.stateClass;\n  if (options.entityCategory) payload.entity_category = options.entityCategory;\n  if (options.enabledByDefault === false) payload.enabled_by_default = false;\n\n  return {\n    topic: discoveryTopic(\"sensor\", objectId),\n    payload: JSON.stringify(payload),\n    retain: true\n  };\n}\n\nfunction sensorWithAttributes(objectId, name, valueTemplate, attributesTemplate, options = {}) {\n  const uid = stableObjectId(objectId);\n  const payload = {\n    name,\n    unique_id: uid,\n    object_id: uid,\n    default_entity_id: `sensor.${uid}`,\n    state_topic: stateTopic,\n    availability_topic: availabilityTopic,\n    payload_available: \"online\",\n    payload_not_available: \"offline\",\n    value_template: valueTemplate,\n    json_attributes_topic: stateTopic,\n    json_attributes_template: attributesTemplate,\n    force_update: true,\n    device\n  };\n\n  if (options.icon) payload.icon = options.icon;\n  if (options.unit) payload.unit_of_measurement = options.unit;\n  if (options.deviceClass) payload.device_class = options.deviceClass;\n  if (options.stateClass) payload.state_class = options.stateClass;\n  if (options.entityCategory) payload.entity_category = options.entityCategory;\n  if (options.enabledByDefault === false) payload.enabled_by_default = false;\n\n  return {\n    topic: discoveryTopic(\"sensor\", objectId),\n    payload: JSON.stringify(payload),\n    retain: true\n  };\n}\n\nconst msgs = [];\n\nconst legacyIdsToClear = [\n  \"sef_day_import_cost\",\n  \"sef_day_export_revenue\",\n  \"sef_day_subscription_cost\",\n  \"sef_day_theoretical_no_solar_cost\",\n  \"sef_day_solar_production_value\",\n  \"sef_day_real_total_with_subscription\",\n  \"sef_day_savings_vs_no_solar\",\n  \"sef_day_grid_import_kwh\",\n  \"sef_day_grid_export_kwh\",\n  \"sef_day_solar_kwh\",\n  \"sef_day_load_kwh\",\n  \"sef_day_self_sufficiency_pct\",\n  \"sef_day_grid_dependency_pct\",\n  \"sef_active_tariff_name\",\n  \"sef_active_import_price\",\n  \"sef_tempo_color\",\n  \"sef_premium_teaser_month\",\n  \"sef_premium_teaser_battery\",\n  \"sef_month_savings_vs_no_solar\",\n  \"sef_month_solar_production_value\",\n  \"sef_month_home_supply_savings\",\n  \"sef_year_savings_vs_no_solar\",\n  \"sef_year_solar_production_value\",\n  \"sef_year_home_supply_savings\",\n  \"sef_battery_day_charge_kwh\",\n  \"sef_battery_day_discharge_kwh\",\n  \"sef_battery_day_discharge_value\",\n  \"sef_battery_month_charge_kwh\",\n  \"sef_battery_month_discharge_kwh\",\n  \"sef_battery_month_discharge_value\",\n  \"sef_battery_year_charge_kwh\",\n  \"sef_battery_year_discharge_kwh\",\n  \"sef_battery_year_discharge_value\",\n  \"sef_history_archive\"\n];\n\nfor (const oldId of legacyIdsToClear) {\n  msgs.push({\n    topic: `${discoveryPrefix}/sensor/smart_energy_finance_${oldId}/config`,\n    payload: \"\",\n    retain: true\n  });\n}\n\n// FREE\nmsgs.push(sensor(\"day_import_cost\", LABELS.day_import_cost, \"{{ value_json.free.day.finance.import_cost | default(0, true) }}\", { unit: currency, icon: \"mdi:cash\" }));\nmsgs.push(sensor(\"day_export_revenue\", LABELS.day_export_revenue, \"{{ value_json.free.day.finance.export_revenue | default(0, true) }}\", { unit: currency, icon: \"mdi:cash-plus\" }));\nmsgs.push(sensor(\"day_subscription_cost\", LABELS.day_subscription_cost, \"{{ value_json.free.day.finance.subscription_cost | default(0, true) }}\", { unit: currency, icon: \"mdi:calendar-month\" }));\nmsgs.push(sensor(\"day_theoretical_no_solar_cost\", LABELS.day_theoretical_no_solar_cost, \"{{ value_json.free.day.finance.theoretical_no_solar_cost | default(0, true) }}\", { unit: currency, icon: \"mdi:cash-remove\" }));\nmsgs.push(sensor(\"day_solar_production_value\", LABELS.day_solar_production_value, \"{{ value_json.free.day.finance.solar_production_value | default(0, true) }}\", { unit: currency, icon: \"mdi:solar-power-variant\" }));\nmsgs.push(sensor(\"day_home_supply_savings\", LABELS.day_home_supply_savings, \"{{ value_json.free.day.finance.home_supply_savings | default(0, true) }}\", { unit: currency, icon: \"mdi:home-lightning-bolt\" }));\nmsgs.push(sensor(\"day_real_total_with_subscription\", LABELS.day_real_total_with_subscription, \"{{ value_json.free.day.finance.real_total_with_subscription | default(0, true) }}\", { unit: currency, icon: \"mdi:receipt\" }));\nmsgs.push(sensor(\"day_savings_vs_no_solar\", LABELS.day_savings_vs_no_solar, \"{{ value_json.free.day.finance.savings_vs_no_solar | default(0, true) }}\", { unit: currency, icon: \"mdi:cash-check\" }));\n\nmsgs.push(sensor(\"day_grid_import_kwh\", LABELS.day_grid_import_kwh, \"{{ value_json.free.day.energy.grid_import_kwh | default(0, true) }}\", { unit: \"kWh\", icon: \"mdi:transmission-tower-import\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"day_grid_export_kwh\", LABELS.day_grid_export_kwh, \"{{ value_json.free.day.energy.grid_export_kwh | default(0, true) }}\", { unit: \"kWh\", icon: \"mdi:transmission-tower-export\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"day_solar_kwh\", LABELS.day_solar_kwh, \"{{ value_json.free.day.energy.solar_kwh | default(0, true) }}\", { unit: \"kWh\", icon: \"mdi:solar-power\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"day_load_kwh\", LABELS.day_load_kwh, \"{{ value_json.free.day.energy.load_kwh | default(0, true) }}\", { unit: \"kWh\", icon: \"mdi:home-lightning-bolt\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"day_self_sufficiency_pct\", LABELS.day_self_sufficiency_pct, \"{{ value_json.free.day.ratios.self_sufficiency_pct | default(0, true) }}\", { unit: \"%\", icon: \"mdi:percent\" }));\nmsgs.push(sensor(\"day_grid_dependency_pct\", LABELS.day_grid_dependency_pct, \"{{ value_json.free.day.ratios.grid_dependency_pct | default(0, true) }}\", { unit: \"%\", icon: \"mdi:percent-box\" }));\nmsgs.push(sensor(\"active_tariff_name\", LABELS.active_tariff_name, \"{{ value_json.info.active_tariff_name | default('', true) }}\", { icon: \"mdi:label\" }));\nmsgs.push(sensor(\"active_import_price\", LABELS.active_import_price, \"{{ value_json.info.active_import_price | default(0, true) }}\", { unit: currency, icon: \"mdi:cash-clock\" }));\nmsgs.push(sensor(\"tempo_color\", LABELS.tempo_color, \"{{ value_json.info.tempo_color_raw | default('', true) }}\", { icon: \"mdi:palette\" }));\nmsgs.push(sensor(\"premium_teaser_month\", LABELS.premium_teaser_month, \"{{ 'active' if value_json.info.premium_active else 'premium_required' }}\", { icon: \"mdi:lock\" }));\nmsgs.push(sensor(\"premium_teaser_battery\", LABELS.premium_teaser_battery, \"{{ 'active' if value_json.info.premium_active else 'premium_required' }}\", { icon: \"mdi:battery-lock\" }));\n\n// PREMIUM\nmsgs.push(sensor(\"month_savings_vs_no_solar\", LABELS.month_savings_vs_no_solar, \"{{ value_json.premium.month.finance.savings_vs_no_solar | default('premium_required', true) }}\", { unit: currency, icon: \"mdi:cash-check\" }));\nmsgs.push(sensor(\"month_solar_production_value\", LABELS.month_solar_production_value, \"{{ value_json.premium.month.finance.solar_production_value | default('premium_required', true) }}\", { unit: currency, icon: \"mdi:solar-power-variant\" }));\nmsgs.push(sensor(\"month_home_supply_savings\", LABELS.month_home_supply_savings, \"{{ value_json.premium.month.finance.home_supply_savings | default('premium_required', true) }}\", { unit: currency, icon: \"mdi:home-lightning-bolt\" }));\n\nmsgs.push(sensor(\"year_savings_vs_no_solar\", LABELS.year_savings_vs_no_solar, \"{{ value_json.premium.year.finance.savings_vs_no_solar | default('premium_required', true) }}\", { unit: currency, icon: \"mdi:cash-check\" }));\nmsgs.push(sensor(\"year_solar_production_value\", LABELS.year_solar_production_value, \"{{ value_json.premium.year.finance.solar_production_value | default('premium_required', true) }}\", { unit: currency, icon: \"mdi:solar-power-variant\" }));\nmsgs.push(sensor(\"year_home_supply_savings\", LABELS.year_home_supply_savings, \"{{ value_json.premium.year.finance.home_supply_savings | default('premium_required', true) }}\", { unit: currency, icon: \"mdi:home-lightning-bolt\" }));\n\nmsgs.push(sensor(\"battery_day_charge_kwh\", LABELS.battery_day_charge_kwh, \"{{ value_json.premium.battery.day_charge_kwh | default('premium_required', true) }}\", { unit: \"kWh\", icon: \"mdi:battery-plus\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"battery_day_discharge_kwh\", LABELS.battery_day_discharge_kwh, \"{{ value_json.premium.battery.day_discharge_kwh | default('premium_required', true) }}\", { unit: \"kWh\", icon: \"mdi:battery-minus\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"battery_day_savings\", LABELS.battery_day_savings, \"{{ value_json.premium.battery.day_discharge_value | default('premium_required', true) }}\", { unit: currency, icon: \"mdi:battery-heart-variant\" }));\n\nmsgs.push(sensor(\"battery_month_charge_kwh\", LABELS.battery_month_charge_kwh, \"{{ value_json.premium.battery.month_charge_kwh | default('premium_required', true) }}\", { unit: \"kWh\", icon: \"mdi:battery-plus\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"battery_month_discharge_kwh\", LABELS.battery_month_discharge_kwh, \"{{ value_json.premium.battery.month_discharge_kwh | default('premium_required', true) }}\", { unit: \"kWh\", icon: \"mdi:battery-minus\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"battery_month_savings\", LABELS.battery_month_savings, \"{{ value_json.premium.battery.month_discharge_value | default('premium_required', true) }}\", { unit: currency, icon: \"mdi:battery-heart-variant\" }));\n\nmsgs.push(sensor(\"battery_year_charge_kwh\", LABELS.battery_year_charge_kwh, \"{{ value_json.premium.battery.year_charge_kwh | default('premium_required', true) }}\", { unit: \"kWh\", icon: \"mdi:battery-plus\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"battery_year_discharge_kwh\", LABELS.battery_year_discharge_kwh, \"{{ value_json.premium.battery.year_discharge_kwh | default('premium_required', true) }}\", { unit: \"kWh\", icon: \"mdi:battery-minus\", deviceClass: \"energy\" }));\nmsgs.push(sensor(\"battery_year_savings\", LABELS.battery_year_savings, \"{{ value_json.premium.battery.year_discharge_value | default('premium_required', true) }}\", { unit: currency, icon: \"mdi:battery-heart-variant\" }));\n\n// HISTORY ARCHIVE\nmsgs.push(\n  sensorWithAttributes(\n    \"history_archive\",\n    LABELS.history_archive,\n    \"{{ value_json.info.updated_at | default('', true) }}\",\n    \"{{ value_json.premium.history | tojson }}\",\n    { icon: \"mdi:chart-bar\" }\n  )\n);\n\nmsgs.push({\n  topic: availabilityTopic,\n  payload: \"online\",\n  retain: true\n});\n\nmsg.payload = msgs;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":80,"wires":[["5e050da349d7e2c0"]]},{"id":"5e050da349d7e2c0","type":"split","z":"1dcae953d4844580","name":"One by one","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":730,"y":80,"wires":[["81d6ede90bd0b11a"]]},{"id":"81d6ede90bd0b11a","type":"function","z":"1dcae953d4844580","name":"Normalize Split Item","func":"if (!msg.payload || typeof msg.payload !== \"object\") {\n    return null;\n}\n\nif (!msg.payload.topic) {\n    return null;\n}\n\nmsg.topic = msg.payload.topic;\nmsg.retain = msg.payload.retain === true;\nmsg.qos = 0;\nmsg.payload = msg.payload.payload;\n\nreturn msg;","outputs":1,"x":940,"y":80,"wires":[["cbf1782a3fef4c57"]]},{"id":"cbf1782a3fef4c57","type":"mqtt out","z":"1dcae953d4844580","name":"MQTT Discovery Out","topic":"","qos":"0","retain":"true","broker":"7751ca5dbc6d5850","x":1200,"y":120,"wires":[]},{"id":"a5878623c4e52282","type":"function","z":"1dcae953d4844580","name":"MQTT discovery system","func":"const discoveryPrefix = \"homeassistant\";\nconst uniqueBase = \"smart_energy_finance_system\";\nconst stateTopic = \"smart_energy_finance/system/info\";\nconst device = {\n    identifiers: [\"smart_energy_finance_system\"],\n    name: \"Smart Energy Finance System\",\n    manufacturer: \"Smart Energy Finance\",\n    model: \"Node-RED Add-on\",\n    sw_version: \"0.1.0\"\n};\nfunction sensorPayload(name, unique_id, template, icon) {\n    return { name, unique_id, state_topic: stateTopic, value_template: template, icon, entity_category: \"diagnostic\", device };\n}\nconst payloadInstallId = sensorPayload(\"Smart Energy Finance Premium Install ID\", `${uniqueBase}_premium_install_id`, \"{{ value_json.install_id }}\", \"mdi:key\");\nconst payloadPremiumActive = { name: \"Smart Energy Finance Premium Active\", unique_id: `${uniqueBase}_premium_active`, state_topic: stateTopic, value_template: \"{{ value_json.premium_active }}\", payload_on: \"ON\", payload_off: \"OFF\", icon: \"mdi:crown\", entity_category: \"diagnostic\", device };\nconst payloadPremiumStatus = sensorPayload(\"Smart Energy Finance Premium Status\", `${uniqueBase}_premium_status`, \"{{ value_json.premium_status }}\", \"mdi:shield-check\");\nconst payloadPremiumTier = sensorPayload(\"Smart Energy Finance Premium Tier\", `${uniqueBase}_premium_tier`, \"{{ value_json.premium_tier }}\", \"mdi:crown-outline\");\nconst payloadDashboardLanguage = sensorPayload(\"Smart Energy Finance Dashboard Language\", `${uniqueBase}_dashboard_language`, \"{{ value_json.dashboard_language }}\", \"mdi:translate\");\nconst payloadDashboardCards = { name: \"Smart Energy Finance Dashboard Custom Cards\", unique_id: `${uniqueBase}_dashboard_custom_cards_installed`, state_topic: stateTopic, value_template: \"{{ value_json.dashboard_custom_cards_installed }}\", payload_on: \"ON\", payload_off: \"OFF\", icon: \"mdi:view-dashboard\", entity_category: \"diagnostic\", device };\nmsg.payload = [\n    { topic: `${discoveryPrefix}/sensor/smart_energy_finance_system/premium_install_id/config`, payload: JSON.stringify(payloadInstallId), retain: true },\n    { topic: `${discoveryPrefix}/binary_sensor/smart_energy_finance_system/premium_active/config`, payload: JSON.stringify(payloadPremiumActive), retain: true },\n    { topic: `${discoveryPrefix}/sensor/smart_energy_finance_system/premium_status/config`, payload: JSON.stringify(payloadPremiumStatus), retain: true },\n    { topic: `${discoveryPrefix}/sensor/smart_energy_finance_system/premium_tier/config`, payload: JSON.stringify(payloadPremiumTier), retain: true },\n    { topic: `${discoveryPrefix}/sensor/smart_energy_finance_system/dashboard_language/config`, payload: JSON.stringify(payloadDashboardLanguage), retain: true },\n    { topic: `${discoveryPrefix}/binary_sensor/smart_energy_finance_system/dashboard_custom_cards_installed/config`, payload: JSON.stringify(payloadDashboardCards), retain: true }\n];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":160,"wires":[["81a6e209535049c3"]]},{"id":"81a6e209535049c3","type":"split","z":"1dcae953d4844580","name":"One by one system","splt":"\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":690,"y":160,"wires":[["a015f7b877de6b80"]]},{"id":"a015f7b877de6b80","type":"function","z":"1dcae953d4844580","name":"Normalize Split Item system","func":"if (!msg.payload || typeof msg.payload !== \"object\") {\n    return null;\n}\n\nif (!msg.payload.topic) {\n    return null;\n}\n\nmsg.topic = msg.payload.topic;\nmsg.retain = msg.payload.retain === true;\nmsg.qos = 0;\nmsg.payload = msg.payload.payload;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":160,"wires":[["cbf1782a3fef4c57"]]},{"id":"ff6e2af73c4c1f36","type":"inject","z":"939035b1e7d79514","name":"Init premium startup","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","x":130,"y":80,"wires":[["5e6b78920fa12906"]]},{"id":"5e6b78920fa12906","type":"function","z":"939035b1e7d79514","name":"PREMIUM STORAGE INIT","func":"const crypto = global.get(\"crypto\");\nconst fs = global.get(\"fs\");\nconst path = global.get(\"path\");\n\nfunction normStr(v) { return (v ?? \"\").toString().trim(); }\n\nfunction generateInstallId() {\n    if (crypto && typeof crypto.randomUUID === \"function\") return crypto.randomUUID();\n    return \"sef-\" + Date.now().toString(36) + \"-\" + Math.random().toString(36).slice(2, 10);\n}\n\nconst PREMIUM_FILE = \"/config/smart_energy_finance_premium.json\";\nlet installId = null;\nlet createdAt = null;\nlet fileStatus = \"unknown\";\n\nif (!fs || !path) {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"fs/path unavailable\" });\n    node.error(\"PREMIUM STORAGE INIT -> fs/path unavailable in functionGlobalContext\", msg);\n    return null;\n}\n\ntry {\n    if (fs.existsSync(PREMIUM_FILE)) {\n        const raw = fs.readFileSync(PREMIUM_FILE, \"utf8\");\n        const data = JSON.parse(raw);\n        installId = normStr(data.install_id);\n        createdAt = data.created_at || null;\n        fileStatus = installId ? \"loaded\" : \"invalid_file\";\n    } else {\n        fileStatus = \"missing_file\";\n    }\n} catch (e) {\n    node.warn(\"PREMIUM STORAGE INIT -> read error: \" + e.message);\n    fileStatus = \"read_error\";\n}\n\nif (!installId) {\n    installId = generateInstallId();\n    createdAt = Date.now();\n    const dataToSave = { version: 1, install_id: installId, created_at: createdAt };\n    try {\n        fs.mkdirSync(path.dirname(PREMIUM_FILE), { recursive: true });\n        fs.writeFileSync(PREMIUM_FILE, JSON.stringify(dataToSave, null, 2), \"utf8\");\n        fileStatus = \"created\";\n    } catch (e) {\n        node.status({ fill: \"red\", shape: \"ring\", text: \"write error\" });\n        node.error(\"PREMIUM STORAGE INIT -> write error: \" + e.message, msg);\n        return null;\n    }\n}\n\nglobal.set(\"premium.install_id\", installId);\nglobal.set(\"premium.install_created_at\", createdAt);\n\nnode.status({ fill: \"green\", shape: \"dot\", text: `install_id ${fileStatus}` });\n\nmsg.payload = msg.payload && typeof msg.payload === \"object\" ? msg.payload : {};\nmsg.payload.premium_storage = { install_id: installId, created_at: createdAt, file_status: fileStatus, file: PREMIUM_FILE };\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":80,"wires":[["c334a3925f8b48e1"]]},{"id":"c334a3925f8b48e1","type":"function","z":"939035b1e7d79514","name":"premium init","func":"/* =========================\n   PREMIUM INIT\n   Format licence :\n   SVP|premium|INSTALL_ID|SIGNATURE\n   ========================= */\nconst crypto = global.get(\"crypto\");\nfunction normStr(v) { return (v ?? \"\").toString().trim(); }\nconst LICENSE_SECRET = \"SVP_2026_9f7c2e51b4d84f38a1e9c7b6d5e4f301_ULTRA_LONG_SECRET\";\nfunction signPayload(payload) {\n    return crypto.createHmac(\"sha256\", LICENSE_SECRET).update(payload, \"utf8\").digest(\"hex\");\n}\nfunction safeEqual(a, b) {\n    const aa = Buffer.from(String(a || \"\"), \"utf8\");\n    const bb = Buffer.from(String(b || \"\"), \"utf8\");\n    if (aa.length !== bb.length) return false;\n    return crypto.timingSafeEqual(aa, bb);\n}\nconst premiumKey = normStr(global.get(\"premium.key\"));\nconst installId = normStr(global.get(\"premium.install_id\"));\nlet premiumActive = false;\nlet premiumStatus = \"missing_key\";\nlet premiumTier = null;\nif (!crypto) premiumStatus = \"crypto_missing\";\nelse if (!installId) premiumStatus = \"missing_install_id\";\nelse if (!premiumKey) premiumStatus = \"missing_key\";\nelse {\n    const parts = premiumKey.split(\"|\");\n    if (parts.length !== 4) premiumStatus = \"invalid_format\";\n    else {\n        const prefix = normStr(parts[0]);\n        const tier = normStr(parts[1]);\n        const licenseInstallId = normStr(parts[2]);\n        const signature = normStr(parts[3]);\n        if (prefix !== \"SVP\") premiumStatus = \"invalid_prefix\";\n        else if (tier !== \"premium\") premiumStatus = \"invalid_tier\";\n        else if (!licenseInstallId) premiumStatus = \"missing_license_install_id\";\n        else if (!signature) premiumStatus = \"missing_signature\";\n        else if (licenseInstallId !== installId) premiumStatus = \"install_id_mismatch\";\n        else {\n            const payload = `${prefix}|${tier}|${licenseInstallId}`;\n            const expected = signPayload(payload);\n            if (!safeEqual(signature, expected)) premiumStatus = \"invalid_signature\";\n            else {\n                premiumActive = true;\n                premiumStatus = \"valid\";\n                premiumTier = \"premium\";\n                global.set(\"premium.last_valid\", Date.now());\n            }\n        }\n    }\n}\nglobal.set(\"premium.active\", premiumActive);\nglobal.set(\"premium.status\", premiumStatus);\nglobal.set(\"premium.tier\", premiumTier);\nconst premiumState = { install_id: installId || null, active: premiumActive, status: premiumStatus, tier: premiumTier };\nif (premiumActive) node.status({ fill: \"green\", shape: \"dot\", text: \"Premium active\" });\nelse if ([\"invalid_format\",\"invalid_prefix\",\"invalid_tier\",\"missing_license_install_id\",\"missing_signature\",\"install_id_mismatch\",\"invalid_signature\",\"crypto_missing\"].includes(premiumStatus)) node.status({ fill: \"red\", shape: \"ring\", text: \"Premium \" + premiumStatus });\nelse node.status({ fill: \"yellow\", shape: \"ring\", text: \"Free / \" + premiumStatus });\nmsg.payload = msg.payload && typeof msg.payload === \"object\" ? msg.payload : {};\nmsg.payload.premium = premiumState;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":120,"wires":[["32be33dfc150bb6e"]]},{"id":"32be33dfc150bb6e","type":"function","z":"939035b1e7d79514","name":"MQTT system state","func":"const installId = global.get(\"premium.install_id\") || null;\nconst premiumActive = global.get(\"premium.active\") === true ? \"ON\" : \"OFF\";\nconst premiumStatus = global.get(\"premium.status\") || \"unknown\";\nconst premiumTier = global.get(\"premium.tier\") || null;\nconst dashboardLanguage = global.get(\"config.dashboardLanguage\") || \"en\";\nconst dashboardCustomCardsInstalled = global.get(\"config.dashboardCustomCardsInstalled\") === true ? \"ON\" : \"OFF\";\nconst dashboardPremiumGenerated = global.get(\"dashboard.premium_generated\") === true ? \"ON\" : \"OFF\";\nconst dashboardPremiumStatus = global.get(\"dashboard.premium_status\") || \"unknown\";\nconst dashboardPremiumGeneratedAt = global.get(\"dashboard.premium_generated_at\") || \"\";\n\nmsg.topic = \"smart_energy_finance/system/info\";\nmsg.payload = {\n    install_id: installId,\n    premium_active: premiumActive,\n    premium_status: premiumStatus,\n    premium_tier: premiumTier,\n    dashboard_language: dashboardLanguage,\n    dashboard_custom_cards_installed: dashboardCustomCardsInstalled,\n    dashboard_premium_generated: dashboardPremiumGenerated,\n    dashboard_premium_status: dashboardPremiumStatus,\n    dashboard_premium_generated_at: dashboardPremiumGeneratedAt\n};\nmsg.retain = true;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":120,"wires":[["91133bde29894681"]]},{"id":"91133bde29894681","type":"json","z":"939035b1e7d79514","name":"To JSON","property":"payload","action":"str","pretty":false,"x":1100,"y":120,"wires":[["5173881d0b40b2bb"]]},{"id":"5173881d0b40b2bb","type":"mqtt out","z":"939035b1e7d79514","name":"MQTT System Info","topic":"smart_energy_finance/system/info","qos":"0","retain":"true","broker":"7751ca5dbc6d5850","x":1310,"y":120,"wires":[]},{"id":"b271e122930da5c5","type":"inject","z":"a278246cba66be16","name":"Publish correction discovery","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":160,"y":60,"wires":[["59235139140544a4"]]},{"id":"59235139140544a4","type":"function","z":"a278246cba66be16","name":"Build correction discovery","func":"const discoveryPrefix = \"homeassistant\";\nconst stateTopic = \"smart_energy_finance/state\";\nconst availabilityTopic = \"smart_energy_finance/availability\";\n\nconst device = {\n    identifiers: [\"smart_energy_finance\"],\n    name: \"Smart Energy Finance\",\n    manufacturer: \"OpenAI User Project\",\n    model: \"Node-RED Energy Finance Engine\"\n};\n\nfunction configTopic(domain, objectId) {\n    return `${discoveryPrefix}/${domain}/smart_energy_finance_${objectId}/config`;\n}\n\nfunction textEntity(objectId, name, commandTopic, icon) {\n    return {\n        topic: configTopic(\"text\", objectId),\n        retain: true,\n        payload: JSON.stringify({\n            name,\n            unique_id: `smart_energy_finance_${objectId}`,\n            object_id: `smart_energy_finance_${objectId}`,\n            default_entity_id: `text.smart_energy_finance_${objectId}`,\n            command_topic: commandTopic,\n            availability_topic: availabilityTopic,\n            payload_available: \"online\",\n            payload_not_available: \"offline\",\n            icon,\n            device\n        })\n    };\n}\n\nfunction buttonEntity(objectId, name, payloadPress, icon) {\n    return {\n        topic: configTopic(\"button\", objectId),\n        retain: true,\n        payload: JSON.stringify({\n            name,\n            unique_id: `smart_energy_finance_${objectId}`,\n            object_id: `smart_energy_finance_${objectId}`,\n            default_entity_id: `button.smart_energy_finance_${objectId}`,\n            command_topic: \"smart_energy_finance/correction/action\",\n            payload_press: payloadPress,\n            availability_topic: availabilityTopic,\n            payload_available: \"online\",\n            payload_not_available: \"offline\",\n            icon,\n            device\n        })\n    };\n}\n\nfunction sensorEntity(objectId, name, valueTemplate, icon) {\n    return {\n        topic: configTopic(\"sensor\", objectId),\n        retain: true,\n        payload: JSON.stringify({\n            name,\n            unique_id: `smart_energy_finance_${objectId}`,\n            object_id: `smart_energy_finance_${objectId}`,\n            default_entity_id: `sensor.smart_energy_finance_${objectId}`,\n            state_topic: stateTopic,\n            value_template: valueTemplate,\n            availability_topic: availabilityTopic,\n            payload_available: \"online\",\n            payload_not_available: \"offline\",\n            icon,\n            entity_category: \"diagnostic\",\n            device\n        })\n    };\n}\n\nconst msgs = [\n    textEntity(\"correction_date\", \"Correction date\", \"smart_energy_finance/correction/date/set\", \"mdi:calendar-edit\"),\n\n    textEntity(\"correction_solar_kwh\", \"Correction solar kWh\", \"smart_energy_finance/correction/solar_kwh/set\", \"mdi:solar-power\"),\n    textEntity(\"correction_load_kwh\", \"Correction load kWh\", \"smart_energy_finance/correction/load_kwh/set\", \"mdi:home-lightning-bolt\"),\n    textEntity(\"correction_grid_import_kwh\", \"Correction grid import kWh\", \"smart_energy_finance/correction/grid_import_kwh/set\", \"mdi:transmission-tower-import\"),\n    textEntity(\"correction_grid_export_kwh\", \"Correction grid export kWh\", \"smart_energy_finance/correction/grid_export_kwh/set\", \"mdi:transmission-tower-export\"),\n    textEntity(\"correction_battery_charge_kwh\", \"Correction battery charge kWh\", \"smart_energy_finance/correction/battery_charge_kwh/set\", \"mdi:battery-arrow-up\"),\n    textEntity(\"correction_battery_discharge_kwh\", \"Correction battery discharge kWh\", \"smart_energy_finance/correction/battery_discharge_kwh/set\", \"mdi:battery-arrow-down\"),\n    textEntity(\"correction_import_cost\", \"Correction import cost\", \"smart_energy_finance/correction/import_cost/set\", \"mdi:cash-minus\"),\n    textEntity(\"correction_export_revenue\", \"Correction export revenue\", \"smart_energy_finance/correction/export_revenue/set\", \"mdi:cash-plus\"),\n    textEntity(\"correction_theoretical_no_solar_cost\", \"Correction theoretical no solar cost\", \"smart_energy_finance/correction/theoretical_no_solar_cost/set\", \"mdi:cash-clock\"),\n    textEntity(\"correction_solar_production_value\", \"Correction solar production value\", \"smart_energy_finance/correction/solar_production_value/set\", \"mdi:solar-power\"),\n    textEntity(\"correction_battery_discharge_value\", \"Correction battery discharge value\", \"smart_energy_finance/correction/battery_discharge_value/set\", \"mdi:battery-heart\"),\n    textEntity(\"correction_home_supply_savings\", \"Correction home supply savings\", \"smart_energy_finance/correction/home_supply_savings/set\", \"mdi:home-currency-usd\"),\n    textEntity(\"correction_real_total_with_subscription\", \"Correction real total\", \"smart_energy_finance/correction/real_total_with_subscription/set\", \"mdi:receipt\"),\n    textEntity(\"correction_savings_vs_no_solar\", \"Correction savings vs no solar\", \"smart_energy_finance/correction/savings_vs_no_solar/set\", \"mdi:piggy-bank\"),\n    textEntity(\n        \"confirmation_reset_all\",\n        \"Confirm reset all (type RESET ALL)\",\n        \"smart_energy_finance/correction/confirmation_reset_all/set\",\n        \"mdi:shield-alert\"\n    ),\n\n    buttonEntity(\"apply_correction\", \"Apply correction\", \"apply\", \"mdi:check-circle\"),\n    buttonEntity(\"reset_day_counters\", \"Reset selected day counters\", \"reset_day\", \"mdi:calendar-remove\"),\n    buttonEntity(\"reset_all_counters\", \"Reset all counters\", \"reset_all\", \"mdi:delete-alert\"),\n    buttonEntity(\"restore_day_backup\", \"Restore selected day from backup\", \"restore_day\", \"mdi:backup-restore\"),\n    buttonEntity(\"clear_correction\", \"Clear correction fields\", \"clear\", \"mdi:eraser\"),\n\n    sensorEntity(\n        \"last_manual_correction\",\n        \"Last manual correction\",\n        \"{{ value_json.info.last_manual_correction_status | default('none') }}\",\n        \"mdi:history\"\n    )\n];\n\nreturn [msgs];","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":60,"wires":[["3bc865e5ed174416"]]},{"id":"3bc865e5ed174416","type":"mqtt out","z":"a278246cba66be16","name":"MQTT Correction Discovery","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7751ca5dbc6d5850","x":760,"y":60,"wires":[]},{"id":"292b3102e201314c","type":"mqtt in","z":"a278246cba66be16","name":"Correction values IN","topic":"smart_energy_finance/correction/+/set","qos":"0","datatype":"auto-detect","broker":"7751ca5dbc6d5850","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":120,"wires":[["5cbf41e1829d343c"]]},{"id":"5cbf41e1829d343c","type":"function","z":"a278246cba66be16","name":"Store correction input","func":"const topic = String(msg.topic || \"\");\nconst value = String(msg.payload ?? \"\").trim();\n\nconst m = topic.match(/^smart_energy_finance\\/correction\\/([^/]+)\\/set$/);\nif (!m) return null;\n\nconst allowed = [\n    \"date\",\n\n    // sécurité reset all\n    \"confirmation_reset_all\",\n\n    // kWh\n    \"solar_kwh\",\n    \"load_kwh\",\n    \"grid_import_kwh\",\n    \"grid_export_kwh\",\n    \"battery_charge_kwh\",\n    \"battery_discharge_kwh\",\n\n    // €\n    \"import_cost\",\n    \"export_revenue\",\n    \"theoretical_no_solar_cost\",\n    \"solar_production_value\",\n    \"battery_discharge_value\",\n    \"home_supply_savings\",\n    \"real_total_with_subscription\",\n    \"savings_vs_no_solar\"\n];\n\nconst key = m[1];\n\nif (!allowed.includes(key)) {\n    node.warn(\"Correction key not allowed: \" + key);\n    return null;\n}\n\nglobal.set(`sef.manual_correction.${key}`, value);\n\nnode.status({\n    fill: \"blue\",\n    shape: \"dot\",\n    text: `${key} = ${value || \"empty\"}`\n});\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":120,"wires":[[]]},{"id":"3aa39aa05bbd90ec","type":"mqtt in","z":"a278246cba66be16","name":"Correction action IN","topic":"smart_energy_finance/correction/action","qos":"0","datatype":"auto-detect","broker":"7751ca5dbc6d5850","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":200,"wires":[["0f377c32b02a7288"]]},{"id":"0f377c32b02a7288","type":"switch","z":"a278246cba66be16","name":"Correction action switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"apply","vt":"str"},{"t":"eq","v":"reset_day","vt":"str"},{"t":"eq","v":"reset_all","vt":"str"},{"t":"eq","v":"restore_day","vt":"str"},{"t":"eq","v":"clear","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":450,"y":200,"wires":[["2c4bc85b6ad47229"],["2c4bc85b6ad47229"],["2c4bc85b6ad47229"],["2c4bc85b6ad47229"],["d43b0760b83477c2"]]},{"id":"2c4bc85b6ad47229","type":"function","z":"a278246cba66be16","name":"Apply Manual Correction","func":"const fs = global.get(\"fs\") || require(\"fs\");\n\nconst STORE_FILE = \"/config/smart_energy_finance_store.json\";\nconst BACKUP_FILE = \"/config/smart_energy_finance_store.backup.json\";\n\nconst action = String(msg.payload || \"apply\").trim();\nconst date = String(global.get(\"sef.manual_correction.date\") || \"\").trim();\n\nfunction round(v, d = 2) {\n    return Number((Number(v || 0)).toFixed(d));\n}\n\nfunction num(v) {\n    if (v === null || v === undefined || v === \"\") return null;\n    const n = Number(String(v).replace(\",\", \".\"));\n    return Number.isFinite(n) ? n : null;\n}\n\nfunction todayKey() {\n    const tz = env.get(\"ADDON_TIMEZONE\") || \"UTC\";\n    const parts = new Intl.DateTimeFormat(\"en-CA\", {\n        timeZone: tz,\n        year: \"numeric\",\n        month: \"2-digit\",\n        day: \"2-digit\"\n    }).formatToParts(new Date());\n\n    const m = {};\n    for (const p of parts) {\n        if (p.type !== \"literal\") m[p.type] = p.value;\n    }\n\n    return `${m.year}-${m.month}-${m.day}`;\n}\n\nfunction emptyEnergy() {\n    return {\n        solar: 0,\n        load: 0,\n        gridImport: 0,\n        gridExport: 0,\n        batteryCharge: 0,\n        batteryDischarge: 0\n    };\n}\n\nfunction emptyFinance() {\n    return {\n        import_cost: 0,\n        export_revenue: 0,\n        theoretical_no_solar_cost: 0,\n        solar_production_value: 0,\n        battery_discharge_value: 0,\n        home_supply_savings: 0\n    };\n}\n\nconst fields = [\n    \"solar_kwh\",\n    \"load_kwh\",\n    \"grid_import_kwh\",\n    \"grid_export_kwh\",\n    \"battery_charge_kwh\",\n    \"battery_discharge_kwh\",\n    \"import_cost\",\n    \"export_revenue\",\n    \"theoretical_no_solar_cost\",\n    \"solar_production_value\",\n    \"battery_discharge_value\",\n    \"home_supply_savings\",\n    \"real_total_with_subscription\",\n    \"savings_vs_no_solar\",\n    \"self_sufficiency_pct\",\n    \"grid_dependency_pct\"\n];\n\nfunction loadStoreFromFile(file) {\n    if (!fs.existsSync(file)) return null;\n    try {\n        return JSON.parse(fs.readFileSync(file, \"utf8\"));\n    } catch (e) {\n        node.warn(\"Impossible de lire \" + file + \": \" + e.message);\n        return null;\n    }\n}\n\nfunction backupBeforeWrite() {\n    if (action === \"restore_day\") return true;\n\n    try {\n        let source = flow.get(\"finance_store\", \"persistent\") || global.get(\"sef.persisted_store\");\n\n        if (!source && fs.existsSync(STORE_FILE)) {\n            source = loadStoreFromFile(STORE_FILE);\n        }\n\n        if (!source || typeof source !== \"object\") {\n            node.warn(\"Backup annulé : store source introuvable\");\n            return false;\n        }\n\n        const backupPayload = JSON.stringify(source, null, 2);\n        fs.writeFileSync(BACKUP_FILE, backupPayload, \"utf8\");\n\n        global.set(\"sef.manual_correction.last_backup_at\", new Date().toISOString());\n        node.warn(\"Backup créé : \" + BACKUP_FILE);\n\n        return true;\n    } catch (e) {\n        node.warn(\"Erreur création backup : \" + e.message);\n        return false;\n    }\n}\n\nfunction applyDeltaToPeriod(periodArray, key, before, after) {\n    const entry = periodArray.find(e => e && e.key === key);\n    if (!entry) return;\n\n    for (const f of fields) {\n        const delta = Number(after[f] || 0) - Number(before[f] || 0);\n        entry[f] = round(Number(entry[f] || 0) + delta, 2);\n        if (entry[f] < 0) entry[f] = 0;\n    }\n\n    if (Number(entry.load_kwh || 0) > 0) {\n        entry.self_sufficiency_pct = round(\n            (Math.max(0, Number(entry.load_kwh || 0) - Number(entry.grid_import_kwh || 0)) / Number(entry.load_kwh || 0)) * 100,\n            2\n        );\n        entry.grid_dependency_pct = round(\n            (Number(entry.grid_import_kwh || 0) / Number(entry.load_kwh || 0)) * 100,\n            2\n        );\n    } else {\n        entry.self_sufficiency_pct = 0;\n        entry.grid_dependency_pct = 0;\n    }\n\n    entry.manual_adjusted = true;\n    entry.manual_adjusted_at = new Date().toISOString();\n}\n\nfunction saveStore(store, status, dateValue) {\n    store.meta = store.meta || {};\n    store.meta.lastManualCorrectionAt = new Date().toISOString();\n    store.meta.lastManualCorrectionAction = action;\n    store.meta.lastManualCorrectionDate = dateValue;\n\n    flow.set(\"finance_store\", store, \"persistent\");\n    global.set(\"sef.persisted_store\", store);\n\n    global.set(\"sef.manual_correction.last_status\", status);\n    global.set(\"sef.manual_correction.last_date\", dateValue);\n    global.set(\"sef.manual_correction.last_at\", new Date().toISOString());\n\n    msg.filename = STORE_FILE;\n    msg.payload = JSON.stringify(store, null, 2);\n\n    node.status({\n        fill: \"green\",\n        shape: \"dot\",\n        text: `${status} ${dateValue}`\n    });\n\n    return msg;\n}\n\nlet store = flow.get(\"finance_store\", \"persistent\") || global.get(\"sef.persisted_store\");\n\nif (!store && fs.existsSync(STORE_FILE)) {\n    store = loadStoreFromFile(STORE_FILE);\n}\n\nif (!store || typeof store !== \"object\") {\n    node.warn(\"Store introuvable\");\n    return null;\n}\n\nstore.history = store.history || {};\nstore.history.daily = Array.isArray(store.history.daily) ? store.history.daily : [];\nstore.history.monthly = Array.isArray(store.history.monthly) ? store.history.monthly : [];\nstore.history.yearly = Array.isArray(store.history.yearly) ? store.history.yearly : [];\n\nif ([\"apply\", \"reset_day\", \"reset_all\"].includes(action)) {\n    if (!backupBeforeWrite()) {\n        node.warn(\"Action annulée : backup impossible\");\n        return null;\n    }\n}\n\nif (action === \"reset_day\") {\n    if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(date)) {\n        node.warn(\"Date invalide pour reset_day\");\n        return null;\n    }\n\n    if (date >= todayKey()) {\n        node.warn(\"Reset journée actuelle refusé\");\n        return null;\n    }\n\n    const entry = store.history.daily.find(d => d && d.key === date);\n    if (!entry) {\n        node.warn(\"Date introuvable dans history.daily: \" + date);\n        return null;\n    }\n\n    const before = JSON.parse(JSON.stringify(entry));\n\n    for (const f of fields) {\n        entry[f] = 0;\n    }\n\n    entry.manual_before = before;\n    entry.manual_corrected = true;\n    entry.manual_corrected_at = new Date().toISOString();\n    entry.manual_correction_type = \"reset_day\";\n\n    applyDeltaToPeriod(store.history.monthly, date.slice(0, 7), before, entry);\n    applyDeltaToPeriod(store.history.yearly, date.slice(0, 4), before, entry);\n\n    return saveStore(store, \"reset_day_ok\", date);\n}\n\nif (action === \"restore_day\") {\n    if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(date)) {\n        node.warn(\"Date invalide pour restore_day\");\n        return null;\n    }\n\n    const backup = loadStoreFromFile(BACKUP_FILE);\n    if (!backup || typeof backup !== \"object\") {\n        node.warn(\"Backup introuvable ou invalide\");\n        return null;\n    }\n\n    backup.history = backup.history || {};\n    backup.history.daily = Array.isArray(backup.history.daily) ? backup.history.daily : [];\n\n    const backupEntry = backup.history.daily.find(d => d && d.key === date);\n    if (!backupEntry) {\n        node.warn(\"Date introuvable dans le backup: \" + date);\n        return null;\n    }\n\n    let currentEntry = store.history.daily.find(d => d && d.key === date);\n\n    const before = currentEntry\n        ? JSON.parse(JSON.stringify(currentEntry))\n        : fields.reduce((o, f) => {\n            o[f] = 0;\n            return o;\n        }, { key: date });\n\n    const restored = JSON.parse(JSON.stringify(backupEntry));\n    restored.restored_from_backup = true;\n    restored.restored_from_backup_at = new Date().toISOString();\n\n    if (currentEntry) {\n        Object.keys(currentEntry).forEach(k => delete currentEntry[k]);\n        Object.assign(currentEntry, restored);\n    } else {\n        store.history.daily.push(restored);\n        store.history.daily.sort((a, b) => String(a.key).localeCompare(String(b.key)));\n        currentEntry = restored;\n    }\n\n    applyDeltaToPeriod(store.history.monthly, date.slice(0, 7), before, currentEntry);\n    applyDeltaToPeriod(store.history.yearly, date.slice(0, 4), before, currentEntry);\n\n    return saveStore(store, \"restore_day_ok\", date);\n}\n\nif (action === \"reset_all\") {\n    const confirm = String(global.get(\"sef.manual_correction.confirmation_reset_all\") || \"\").trim();\n\n    if (confirm !== \"RESET ALL\") {\n        node.warn(\"Reset all refusé : confirmation manquante. Écrire exactement RESET ALL.\");\n\n        global.set(\"sef.manual_correction.last_status\", \"reset_all_confirmation_required\");\n        global.set(\"sef.manual_correction.last_date\", \"all\");\n        global.set(\"sef.manual_correction.last_at\", new Date().toISOString());\n\n        node.status({\n            fill: \"red\",\n            shape: \"ring\",\n            text: \"confirmation RESET ALL required\"\n        });\n\n        return null;\n    }\n\n    // On vide la confirmation après validation pour éviter un 2e reset accidentel\n    global.set(\"sef.manual_correction.confirmation_reset_all\", \"\");\n\n    store.history.daily = [];\n    store.history.monthly = [];\n    store.history.yearly = [];\n    store.history.lastArchivedMonthKey = \"\";\n    store.history.lastArchivedYearKey = \"\";\n\n    store.closedDayMonthAccumulator = emptyEnergy();\n    store.closedDayYearAccumulator = emptyEnergy();\n    store.currentDayFinanceAccumulator = emptyFinance();\n    store.closedDayMonthFinanceAccumulator = emptyFinance();\n    store.closedDayYearFinanceAccumulator = emptyFinance();\n\n    store.currentDaySnapshot = emptyEnergy();\n    store.prevLiveDay = emptyEnergy();\n    store.lastClosedDayKey = \"\";\n\n    store.runtime = store.runtime || {};\n    store.runtime.initialized = false;\n    store.runtime.lastRebaseReason = \"manual_reset_all\";\n    store.runtime.lastRebaseAt = new Date().toISOString();\n    store.runtime.restartGuardUntilMs = Date.now() + 120000;\n\n    store.meta = store.meta || {};\n    store.meta.lastManualResetAllConfirmedAt = new Date().toISOString();\n\n    return saveStore(store, \"reset_all_ok\", \"all\");\n}\n\nif (action === \"apply\") {\n    if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(date)) {\n        node.warn(\"Date invalide\");\n        return null;\n    }\n\n    if (date >= todayKey()) {\n        node.warn(\"Impossible de corriger aujourd’hui\");\n        return null;\n    }\n\n    const entry = store.history.daily.find(d => d && d.key === date);\n    if (!entry) {\n        node.warn(\"Date introuvable dans history.daily: \" + date);\n        return null;\n    }\n\n    const before = JSON.parse(JSON.stringify(entry));\n    let changed = false;\n\n    for (const f of fields) {\n        const v = num(global.get(`sef.manual_correction.${f}`));\n        if (v !== null) {\n            entry[f] = v;\n            changed = true;\n        }\n    }\n\n    if (!changed) {\n        node.warn(\"Aucune valeur à corriger\");\n        return null;\n    }\n\n    if (Number(entry.load_kwh || 0) > 0) {\n        entry.self_sufficiency_pct = round(\n            (Math.max(0, Number(entry.load_kwh || 0) - Number(entry.grid_import_kwh || 0)) / Number(entry.load_kwh || 0)) * 100,\n            2\n        );\n        entry.grid_dependency_pct = round(\n            (Number(entry.grid_import_kwh || 0) / Number(entry.load_kwh || 0)) * 100,\n            2\n        );\n    } else {\n        entry.self_sufficiency_pct = 0;\n        entry.grid_dependency_pct = 0;\n    }\n\n    entry.manual_before = before;\n    entry.manual_corrected = true;\n    entry.manual_corrected_at = new Date().toISOString();\n    entry.manual_correction_type = \"manual_apply\";\n\n    applyDeltaToPeriod(store.history.monthly, date.slice(0, 7), before, entry);\n    applyDeltaToPeriod(store.history.yearly, date.slice(0, 4), before, entry);\n\n    return saveStore(store, \"apply_ok\", date);\n}\n\nnode.warn(\"Action inconnue: \" + action);\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":160,"wires":[["56ba9890c8e66e4e"]]},{"id":"56ba9890c8e66e4e","type":"file","z":"a278246cba66be16","name":"Save corrected finance store","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":1000,"y":160,"wires":[[]]},{"id":"d43b0760b83477c2","type":"function","z":"a278246cba66be16","name":"Clear correction fields","func":"const keys = [\n    \"date\",\n    \"solar_kwh\",\n    \"load_kwh\",\n    \"grid_import_kwh\",\n    \"grid_export_kwh\",\n    \"battery_charge_kwh\",\n    \"battery_discharge_kwh\"\n];\n\nfor (const k of keys) {\n    global.set(`sef.manual_correction.${k}`, \"\");\n}\n\nglobal.set(\"sef.manual_correction.last_status\", \"cleared\");\nglobal.set(\"sef.manual_correction.last_at\", new Date().toISOString());\n\nnode.status({\n    fill: \"grey\",\n    shape: \"ring\",\n    text: \"correction fields cleared\"\n});\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":240,"wires":[[]]},{"id":"2a0d9fabc10c5b07","type":"inject","z":"ab117a35922ebe5b","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"15","x":110,"y":80,"wires":[["810881a714ba7041"]]},{"id":"810881a714ba7041","type":"function","z":"ab117a35922ebe5b","name":"CHECK PREMIUM","func":"const premiumActive = global.get(\"premium.active\") === true;\n\nif (premiumActive) {\n    global.set(\"dashboard.premium_last_check\", \"premium_active\");\n\n    node.warn(\"[Smart Energy Finance] Premium status: ACTIVE\");\n\n    node.status({\n        fill: \"green\",\n        shape: \"dot\",\n        text: \"premium active\"\n    });\n\n    return [msg, null];\n}\n\nglobal.set(\"dashboard.premium_generated\", false);\nglobal.set(\"dashboard.premium_status\", \"skipped_premium_inactive\");\nglobal.set(\"dashboard.premium_generated_at\", \"\");\nglobal.set(\"dashboard.premium_last_check\", \"premium_inactive\");\n\nnode.warn(\"[Smart Energy Finance] Premium status: INACTIVE\");\nnode.warn(\"[Smart Energy Finance] Auto dashboard: SKIPPED - premium inactive\");\n\nnode.status({\n    fill: \"grey\",\n    shape: \"ring\",\n    text: \"premium inactive\"\n});\n\nreturn [null, msg];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":80,"wires":[["e9594c522469b592"],["dde3bb5d813ced10"]]},{"id":"e9594c522469b592","type":"function","z":"ab117a35922ebe5b","name":"BUILD PREMIUM DASHBOARD ","func":"const premiumActive = global.get(\"premium.active\") === true;\n\nif (!premiumActive) {\n    global.set(\"dashboard.premium_generated\", false);\n    global.set(\"dashboard.premium_status\", \"premium_inactive\");\n    global.set(\"dashboard.premium_generated_at\", \"\");\n\n    node.warn(\"[Smart Energy Finance] Premium status: INACTIVE\");\n    node.warn(\"[Smart Energy Finance] Auto dashboard: SKIPPED - premium inactive\");\n\n    return null;\n}\n\nnode.warn(\"[Smart Energy Finance] Premium status: ACTIVE\");\n\nconst customCardsInstalled = global.get(\"config.dashboardCustomCardsInstalled\") === true;\nconst lang = String(global.get(\"config.dashboardLanguage\") || \"en\").trim().toLowerCase() === \"fr\" ? \"fr\" : \"en\";\n\nconst HAS_APEXCHARTS = customCardsInstalled;\nconst HAS_CARD_MOD = customCardsInstalled;\n\nconst i18n = {\n    fr: {\n        dashboard_title: \"Smart Energy Finance Premium\",\n        dashboard_icon: \"mdi:finance\",\n        view_energy: \"Énergie\",\n        view_economy: \"Économie\",\n        view_battery: \"Batterie\",\n        view_stats: \"Statistiques économie\",\n        energy_sub: \"Synthèse énergétique premium\",\n        economy_sub: \"Analyse économique premium\",\n        battery_sub: \"Analyse batterie premium\",\n        stats_sub: \"Historique économique journalier, mensuel et annuel\",\n        current_context: \"Contexte actuel\",\n        energy_mix: \"Mix énergie\",\n        economy_day_split: \"Répartition économique jour\",\n        economy_month_split: \"Répartition économique mois\",\n        economy_year_split: \"Répartition économique année\",\n        battery_day_split: \"Répartition batterie jour\",\n        battery_month_split: \"Répartition batterie mois\",\n        battery_year_split: \"Répartition batterie année\",\n        import_cost: \"Coût import\",\n        export_revenue: \"Revenu export\",\n        solar_value: \"Valeur solaire\",\n        battery_savings: \"Économie batterie\",\n        subscription: \"Abonnement\",\n        savings_day: \"Économie jour\",\n        savings_month: \"Économie mois\",\n        savings_year: \"Économie année\",\n        real_total_day: \"Coût réel jour\",\n        solar: \"Solaire\",\n        battery: \"Batterie\",\n        grid: \"Réseau\",\n        charge_day: \"Charge jour\",\n        discharge_day: \"Décharge jour\",\n        value_day: \"Valeur jour\",\n        charge_month: \"Charge mois\",\n        discharge_month: \"Décharge mois\",\n        value_month: \"Valeur mois\",\n        charge_year: \"Charge année\",\n        discharge_year: \"Décharge année\",\n        value_year: \"Valeur année\",\n        tariff: \"Tarif actif\",\n        import_price: \"Prix import actif\",\n        tempo_color: \"Couleur tempo\",\n        self_sufficiency: \"Autosuffisance\",\n        grid_dependency: \"Dépendance réseau\",\n        daily_history: \"Historique journalier\",\n        monthly_history: \"Historique mensuel\",\n        yearly_history: \"Historique annuel\",\n        history_source: \"Source historique\"\n    },\n    en: {\n        dashboard_title: \"Smart Energy Finance Premium\",\n        dashboard_icon: \"mdi:finance\",\n        view_energy: \"Energy\",\n        view_economy: \"Economy\",\n        view_battery: \"Battery\",\n        view_stats: \"Economy statistics\",\n        energy_sub: \"Premium energy overview\",\n        economy_sub: \"Premium economic analytics\",\n        battery_sub: \"Premium battery analytics\",\n        stats_sub: \"Daily, monthly and yearly economic history\",\n        current_context: \"Current context\",\n        energy_mix: \"Energy mix\",\n        economy_day_split: \"Day economic split\",\n        economy_month_split: \"Month economic split\",\n        economy_year_split: \"Year economic split\",\n        battery_day_split: \"Battery day split\",\n        battery_month_split: \"Battery month split\",\n        battery_year_split: \"Battery year split\",\n        import_cost: \"Import cost\",\n        export_revenue: \"Export revenue\",\n        solar_value: \"Solar value\",\n        battery_savings: \"Battery savings\",\n        subscription: \"Subscription\",\n        savings_day: \"Day savings\",\n        savings_month: \"Month savings\",\n        savings_year: \"Year savings\",\n        real_total_day: \"Day real total\",\n        solar: \"Solar\",\n        battery: \"Battery\",\n        grid: \"Grid\",\n        charge_day: \"Day charge\",\n        discharge_day: \"Day discharge\",\n        value_day: \"Day value\",\n        charge_month: \"Month charge\",\n        discharge_month: \"Month discharge\",\n        value_month: \"Month value\",\n        charge_year: \"Year charge\",\n        discharge_year: \"Year discharge\",\n        value_year: \"Year value\",\n        tariff: \"Active tariff\",\n        import_price: \"Active import price\",\n        tempo_color: \"Tempo color\",\n        self_sufficiency: \"Self sufficiency\",\n        grid_dependency: \"Grid dependency\",\n        daily_history: \"Daily history\",\n        monthly_history: \"Monthly history\",\n        yearly_history: \"Yearly history\",\n        history_source: \"History source\"\n    }\n};\n\nconst t = i18n[lang] || i18n.en;\n\nfunction entity(objectId) {\n    return `sensor.smart_energy_finance_${objectId}`;\n}\n\nconst E = {\n    dayImportCost: entity(\"day_import_cost\"),\n    dayExportRevenue: entity(\"day_export_revenue\"),\n    daySubscriptionCost: entity(\"day_subscription_cost\"),\n    daySolarProductionValue: entity(\"day_solar_production_value\"),\n    dayRealTotal: entity(\"day_real_total_with_subscription\"),\n    daySavings: entity(\"day_savings_vs_no_solar\"),\n    dayGridImport: entity(\"day_grid_import_kwh\"),\n    dayGridExport: entity(\"day_grid_export_kwh\"),\n    daySolar: entity(\"day_solar_kwh\"),\n    dayLoad: entity(\"day_load_kwh\"),\n    daySelfSufficiency: entity(\"day_self_sufficiency_pct\"),\n    dayGridDependency: entity(\"day_grid_dependency_pct\"),\n    activeTariff: entity(\"active_tariff_name\"),\n    activeImportPrice: entity(\"active_import_price\"),\n    tempoColor: entity(\"tempo_color\"),\n    monthSavings: entity(\"month_savings_vs_no_solar\"),\n    monthSolarValue: entity(\"month_solar_production_value\"),\n    yearSavings: entity(\"year_savings_vs_no_solar\"),\n    yearSolarValue: entity(\"year_solar_production_value\"),\n    batteryDayCharge: entity(\"battery_day_charge_kwh\"),\n    batteryDayDischarge: entity(\"battery_day_discharge_kwh\"),\n    batteryDayValue: entity(\"battery_day_savings\"),\n    batteryMonthCharge: entity(\"battery_month_charge_kwh\"),\n    batteryMonthDischarge: entity(\"battery_month_discharge_kwh\"),\n    batteryMonthValue: entity(\"battery_month_savings\"),\n    batteryYearCharge: entity(\"battery_year_charge_kwh\"),\n    batteryYearDischarge: entity(\"battery_year_discharge_kwh\"),\n    batteryYearValue: entity(\"battery_year_savings\"),\n    historyArchive: entity(\"history_archive\")\n};\n\nfunction style(kind = \"neutral\") {\n    if (!HAS_CARD_MOD) return {};\n\n    const colors = {\n        orange: \"#f59e0b\",\n        green: \"#22c55e\",\n        blue: \"#38bdf8\",\n        purple: \"#a855f7\",\n        cyan: \"#06b6d4\",\n        neutral: \"#64748b\",\n        red: \"#ef4444\"\n    };\n\n    return {\n        card_mod: {\n            style: `\n                ha-card {\n                    border-top: 4px solid ${colors[kind] || colors.neutral};\n                    border-radius: 18px;\n                    overflow: hidden;\n                    box-shadow: 0 6px 18px rgba(0,0,0,0.12);\n                }\n            `\n        }\n    };\n}\n\nfunction titleCard(title, subtitle, kind = \"neutral\") {\n    return {\n        type: \"markdown\",\n        content: `# ${title}\\n## ${subtitle}`,\n        ...style(kind)\n    };\n}\n\nfunction tile(entityId, name, icon, kind) {\n    return {\n        type: \"tile\",\n        entity: entityId,\n        name,\n        icon,\n        vertical: false,\n        hide_state: false,\n        features_position: \"bottom\",\n        ...style(kind)\n    };\n}\n\nfunction grid(columns, cards) {\n    return {\n        type: \"grid\",\n        columns,\n        square: false,\n        cards: cards.filter(Boolean)\n    };\n}\n\nfunction stack(cards) {\n    return {\n        type: \"vertical-stack\",\n        cards: cards.filter(Boolean)\n    };\n}\n\nfunction entitiesCard(title, entities, kind) {\n    return {\n        type: \"entities\",\n        title,\n        show_header_toggle: false,\n        entities,\n        ...style(kind)\n    };\n}\n\nfunction donutCard(title, series, kind = \"neutral\", height = 430) {\n    if (!HAS_APEXCHARTS) {\n        return entitiesCard(title, series.map(s => ({\n            entity: s.entity,\n            name: s.name\n        })), kind);\n    }\n\n    return {\n        type: \"custom:apexcharts-card\",\n        chart_type: \"donut\",\n        header: {\n            show: true,\n            title,\n            show_states: true,\n            colorize_states: true,\n            standard_format: true,\n            floating: false\n        },\n        all_series_config: {\n            float_precision: 2,\n            show: {\n                in_header: true,\n                legend_value: true\n            }\n        },\n        series,\n        apex_config: {\n            chart: {\n                height\n            },\n            legend: {\n                show: true,\n                position: \"bottom\"\n            },\n            dataLabels: {\n                enabled: true\n            },\n            plotOptions: {\n                pie: {\n                    donut: {\n                        size: \"58%\",\n                        labels: {\n                            show: true,\n                            total: {\n                                show: true,\n                                showAlways: true,\n                                label: \"Total\"\n                            }\n                        }\n                    }\n                }\n            },\n            tooltip: {\n                y: {\n                    formatter: function (value) {\n                        const n = Number(value);\n                        if (!Number.isFinite(n)) return value;\n                        return n.toLocaleString(\"fr-FR\", {\n                            minimumFractionDigits: 2,\n                            maximumFractionDigits: 2\n                        });\n                    }\n                }\n            }\n        },\n        ...style(kind)\n    };\n}\n\nfunction historyChart(title, attributeName, kind = \"neutral\", height = 320, graphSpan = \"365d\") {\n    if (!HAS_APEXCHARTS) {\n        return entitiesCard(title, [\n            { entity: E.historyArchive, name: E.historyArchive }\n        ], kind);\n    }\n\n    const points =\n        attributeName === \"daily\" ? 30 :\n            attributeName === \"monthly\" ? 12 :\n                10;\n\n    const forcedGraphSpan =\n        attributeName === \"daily\" ? \"30d\" :\n            attributeName === \"monthly\" ? \"365d\" :\n                \"3650d\";\n\n    const columnWidth =\n        attributeName === \"daily\" ? \"38%\" :\n            attributeName === \"monthly\" ? \"48%\" :\n                \"56%\";\n\n    const xFormat =\n        attributeName === \"daily\" ? \"dd MMM\" :\n            attributeName === \"monthly\" ? \"MMM yy\" :\n                \"yyyy\";\n\n    const tooltipFormat =\n        attributeName === \"daily\" ? \"dd MMM yyyy\" :\n            attributeName === \"monthly\" ? \"MMM yyyy\" :\n                \"yyyy\";\n\n    const totalEntity =\n        attributeName === \"daily\" ? E.daySavings :\n            attributeName === \"monthly\" ? E.monthSavings :\n                E.yearSavings;\n\n    const totalName =\n        attributeName === \"daily\" ? t.savings_day :\n            attributeName === \"monthly\" ? t.savings_month :\n                t.savings_year;\n\n    function dataGenerator(valueField) {\n        return `\nconst raw = entity?.attributes?.[\"${attributeName}\"];\nconst arr = Array.isArray(raw) ? raw : [];\nconst out = [];\nconst now = new Date();\n\nfunction pad(v) {\n    return String(v).padStart(2, \"0\");\n}\n\nfunction dayKey(d) {\n    return d.getFullYear() + \"-\" + pad(d.getMonth() + 1) + \"-\" + pad(d.getDate());\n}\n\nfunction monthKey(d) {\n    return d.getFullYear() + \"-\" + pad(d.getMonth() + 1);\n}\n\nfunction yearKey(d) {\n    return String(d.getFullYear());\n}\n\nfunction valueFor(item) {\n    let v = 0;\n\n    if (\"${valueField}\" === \"solar_savings_part\") {\n        const total = Number(item?.savings_vs_no_solar ?? 0);\n        const battery = Number(item?.battery_discharge_value ?? 0);\n        v = Math.max(0, total - battery);\n    } else {\n        v = Number(item?.[\"${valueField}\"] ?? 0);\n    }\n\n    return Number.isFinite(v) ? Number(v.toFixed(2)) : 0;\n}\n\nconst map = {};\nfor (const item of arr) {\n    if (item && item.key) {\n        map[item.key] = valueFor(item);\n    }\n}\n\nif (\"${attributeName}\" === \"daily\") {\n    for (let i = ${points - 1}; i >= 0; i--) {\n        const d = new Date(now);\n        d.setHours(0, 0, 0, 0);\n        d.setDate(d.getDate() - i);\n        const key = dayKey(d);\n        out.push([d.getTime(), map[key] ?? 0]);\n    }\n} else if (\"${attributeName}\" === \"monthly\") {\n    for (let i = ${points - 1}; i >= 0; i--) {\n        const d = new Date(now.getFullYear(), now.getMonth() - i, 1, 0, 0, 0, 0);\n        const key = monthKey(d);\n        out.push([d.getTime(), map[key] ?? 0]);\n    }\n} else {\n    for (let i = ${points - 1}; i >= 0; i--) {\n        const d = new Date(now.getFullYear() - i, 0, 1, 0, 0, 0, 0);\n        const key = yearKey(d);\n        out.push([d.getTime(), map[key] ?? 0]);\n    }\n}\n\nreturn out;\n`;\n    }\n\n    return {\n        type: \"custom:apexcharts-card\",\n        header: {\n            show: true,\n            title: title,\n            show_states: true,\n            colorize_states: true,\n            floating: false\n        },\n        graph_span: forcedGraphSpan,\n        span: {\n            end: \"day\"\n        },\n        series: [\n            {\n                entity: totalEntity,\n                name: totalName,\n                type: \"line\",\n                float_precision: 2,\n                show: {\n                    in_chart: false,\n                    in_header: true,\n                    legend_value: false\n                }\n            },\n            {\n                entity: E.historyArchive,\n                name: t.solar,\n                type: \"column\",\n                float_precision: 2,\n                show: {\n                    in_header: false,\n                    legend_value: false\n                },\n                data_generator: dataGenerator(\"solar_savings_part\")\n            },\n            {\n                entity: E.historyArchive,\n                name: t.battery,\n                type: \"column\",\n                float_precision: 2,\n                show: {\n                    in_header: false,\n                    legend_value: false\n                },\n                data_generator: dataGenerator(\"battery_discharge_value\")\n            }\n        ],\n        apex_config: {\n            chart: {\n                height: height,\n                stacked: true\n            },\n            plotOptions: {\n                bar: {\n                    borderRadius: 6,\n                    columnWidth: columnWidth,\n                    dataLabels: {\n                        total: {\n                            enabled: true,\n                            style: {\n                                fontSize: \"12px\",\n                                fontWeight: 700\n                            },\n                            formatter: function (value) {\n                                const n = Number(value);\n                                if (!Number.isFinite(n)) return \"\";\n                                return n.toLocaleString(\"fr-FR\", {\n                                    minimumFractionDigits: 2,\n                                    maximumFractionDigits: 2\n                                });\n                            }\n                        }\n                    }\n                }\n            },\n            tooltip: {\n                shared: true,\n                intersect: false,\n                x: {\n                    format: tooltipFormat\n                },\n                y: {\n                    formatter: function (value) {\n                        const n = Number(value);\n                        if (!Number.isFinite(n)) return value;\n                        return n.toLocaleString(\"fr-FR\", {\n                            minimumFractionDigits: 2,\n                            maximumFractionDigits: 2\n                        }) + \" €\";\n                    }\n                }\n            }\n        },\n        ...style(kind)\n    };\n}\n\nfunction economyView() {\n    return stack([\n        titleCard(t.view_economy, t.economy_sub, \"green\"),\n        grid(4, [\n            tile(E.daySavings, t.savings_day, \"mdi:cash-check\", \"green\"),\n            tile(E.monthSavings, t.savings_month, \"mdi:calendar-month\", \"blue\"),\n            tile(E.yearSavings, t.savings_year, \"mdi:calendar-range\", \"purple\"),\n            tile(E.batteryDayValue, t.battery_savings, \"mdi:battery-heart-variant\", \"orange\")\n        ]),\n        donutCard(`💶 ${t.economy_day_split}`, [\n            { entity: E.dayImportCost, name: t.import_cost },\n            { entity: E.dayExportRevenue, name: t.export_revenue },\n            { entity: E.daySolarProductionValue, name: t.solar_value },\n            { entity: E.batteryDayValue, name: t.battery_savings },\n            { entity: E.daySubscriptionCost, name: t.subscription }\n        ], \"green\", 470),\n        donutCard(`📅 ${t.economy_month_split}`, [\n            { entity: E.monthSavings, name: t.savings_month },\n            { entity: E.monthSolarValue, name: t.solar_value },\n            { entity: E.batteryMonthValue, name: t.battery_savings }\n        ], \"orange\", 440),\n        donutCard(`📆 ${t.economy_year_split}`, [\n            { entity: E.yearSavings, name: t.savings_year },\n            { entity: E.yearSolarValue, name: t.solar_value },\n            { entity: E.batteryYearValue, name: t.battery_savings }\n        ], \"purple\", 440)\n    ]);\n}\n\nfunction energyView() {\n    return stack([\n        titleCard(t.view_energy, t.energy_sub, \"cyan\"),\n        grid(4, [\n            tile(E.daySavings, t.savings_day, \"mdi:cash-check\", \"green\"),\n            tile(E.dayRealTotal, t.real_total_day, \"mdi:receipt\", \"orange\"),\n            tile(E.dayImportCost, t.import_cost, \"mdi:cash-minus\", \"red\"),\n            tile(E.dayExportRevenue, t.export_revenue, \"mdi:cash-plus\", \"blue\")\n        ]),\n        donutCard(`📊 ${t.energy_mix}`, [\n            { entity: E.daySolar, name: t.solar },\n            { entity: E.batteryDayDischarge, name: t.battery },\n            { entity: E.dayGridImport, name: t.grid }\n        ], \"cyan\", 470),\n        entitiesCard(`📌 ${t.current_context}`, [\n            { entity: E.activeTariff, name: t.tariff },\n            { entity: E.activeImportPrice, name: t.import_price },\n            { entity: E.tempoColor, name: t.tempo_color },\n            { entity: E.daySelfSufficiency, name: t.self_sufficiency },\n            { entity: E.dayGridDependency, name: t.grid_dependency }\n        ], \"blue\")\n    ]);\n}\n\nfunction batteryView() {\n    return stack([\n        titleCard(t.view_battery, t.battery_sub, \"purple\"),\n        grid(4, [\n            tile(E.batteryDayCharge, t.charge_day, \"mdi:battery-plus\", \"green\"),\n            tile(E.batteryDayDischarge, t.discharge_day, \"mdi:battery-minus\", \"blue\"),\n            tile(E.batteryDayValue, t.value_day, \"mdi:battery-heart-variant\", \"orange\"),\n            tile(E.batteryMonthValue, t.value_month, \"mdi:battery-heart\", \"purple\")\n        ]),\n        donutCard(`🔋 ${t.battery_day_split}`, [\n            { entity: E.batteryDayCharge, name: t.charge_day },\n            { entity: E.batteryDayDischarge, name: t.discharge_day },\n            { entity: E.batteryDayValue, name: t.value_day }\n        ], \"purple\", 440),\n        donutCard(`📅 ${t.battery_month_split}`, [\n            { entity: E.batteryMonthCharge, name: t.charge_month },\n            { entity: E.batteryMonthDischarge, name: t.discharge_month },\n            { entity: E.batteryMonthValue, name: t.value_month }\n        ], \"blue\", 440),\n        donutCard(`📆 ${t.battery_year_split}`, [\n            { entity: E.batteryYearCharge, name: t.charge_year },\n            { entity: E.batteryYearDischarge, name: t.discharge_year },\n            { entity: E.batteryYearValue, name: t.value_year }\n        ], \"green\", 440)\n    ]);\n}\n\nfunction statsView() {\n    return stack([\n        titleCard(t.view_stats, t.stats_sub, \"orange\"),\n        historyChart(`📅 ${t.daily_history}`, \"daily\", \"green\", 320, \"62d\"),\n        historyChart(`🗓️ ${t.monthly_history}`, \"monthly\", \"blue\", 320, \"730d\"),\n        historyChart(`📆 ${t.yearly_history}`, \"yearly\", \"purple\", 320, \"3650d\"),\n        entitiesCard(`ℹ️ ${t.history_source}`, [\n            { entity: E.historyArchive, name: E.historyArchive }\n        ], \"orange\")\n    ]);\n}\n\nconst dashboard = {\n    dashboard_meta: {\n        title: t.dashboard_title,\n        icon: t.dashboard_icon,\n        url_path: \"smart-energy-finance\",\n        show_in_sidebar: true,\n        require_admin: false\n    },\n    config: {\n        title: t.dashboard_title,\n        views: [\n            {\n                title: t.view_economy,\n                path: \"economy\",\n                icon: \"mdi:cash-multiple\",\n                panel: true,\n                cards: [economyView()]\n            },\n            {\n                title: t.view_energy,\n                path: \"energy\",\n                icon: \"mdi:flash\",\n                panel: true,\n                cards: [energyView()]\n            },\n            {\n                title: t.view_battery,\n                path: \"battery\",\n                icon: \"mdi:battery-high\",\n                panel: true,\n                cards: [batteryView()]\n            },\n            {\n                title: t.view_stats,\n                path: \"economy-stats\",\n                icon: \"mdi:chart-bar\",\n                panel: true,\n                cards: [statsView()]\n            }\n        ]\n    }\n};\n\nmsg.filename = \"/config/dashboards/smart_energy_finance.json\";\nmsg.payload = JSON.stringify(dashboard, null, 2);\n\nglobal.set(\"dashboard.premium_generated\", true);\nglobal.set(\"dashboard.premium_status\", \"generated\");\nglobal.set(\"dashboard.premium_generated_at\", new Date().toISOString());\n\nnode.warn(\"[Smart Energy Finance] Auto dashboard: GENERATED\");\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":40,"wires":[["96ce04afeebaa41b"]]},{"id":"96ce04afeebaa41b","type":"file","z":"ab117a35922ebe5b","name":"dashboard","filename":"filename","filenameType":"msg","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"utf8","x":790,"y":40,"wires":[["61c3e883fb201a90"]]},{"id":"61c3e883fb201a90","type":"exec","z":"ab117a35922ebe5b","command":"node /addon/dashboard_sync_smart_energy_finance.js upsert /config/dashboards/smart_energy_finance.json","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"EXEC DASHBOARD SCRIPT","x":1090,"y":40,"wires":[[],[],[]]},{"id":"dde3bb5d813ced10","type":"function","z":"ab117a35922ebe5b","name":"BUILD DELETE DASHBOARD","func":"msg.filename = \"/config/dashboards/smart_energy_finance.json\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":120,"wires":[["75812cd3df898544"]]},{"id":"75812cd3df898544","type":"exec","z":"ab117a35922ebe5b","command":"node /addon/dashboard_sync_smart_energy_finance.js delete /config/dashboards/smart_energy_finance.json","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"EXEC DELETE","x":1040,"y":120,"wires":[[],[],[]]},{"id":"c6e61d4b01687939","type":"inject","z":"e0a460d99fb601d7","g":"13f6031584028d78","name":"Au démarrage","props":[],"repeat":"","crontab":"00 15 * * *","once":true,"onceDelay":"15","topic":"","x":240,"y":160,"wires":[["492a75153c076a42"]]},{"id":"91c19224574da8d1","type":"exec","z":"e0a460d99fb601d7","g":"13f6031584028d78","command":"uname -s 2>nul || echo Windows","addpay":false,"append":"","useSpawn":"false","timer":"2","winHide":true,"oldrc":false,"name":"Test OS basique","x":620,"y":180,"wires":[["1a794317d569fba1"],[],[]]},{"id":"1a794317d569fba1","type":"switch","z":"e0a460d99fb601d7","g":"13f6031584028d78","name":"Windows ou Linux?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Windows","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":280,"wires":[["dcb614b835248bb1"],["26372b0d3e2e5c4c"]]},{"id":"dcb614b835248bb1","type":"change","z":"e0a460d99fb601d7","g":"13f6031584028d78","name":"Windows détecté","rules":[{"t":"set","p":"payload","pt":"msg","to":"Windows","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":260,"wires":[["5b19fb3bd083fbab"]]},{"id":"26372b0d3e2e5c4c","type":"exec","z":"e0a460d99fb601d7","g":"13f6031584028d78","command":"([ -n \"$SUPERVISOR_TOKEN\" ] || [ -n \"$HASSIO_TOKEN\" ] || [ -f /etc/hassio.json ] || [ -d /usr/share/hassio ]) && echo 'HAOS' || ([ -f /.dockerenv ] && echo 'Docker') || echo 'Linux'","addpay":false,"append":"","useSpawn":"false","timer":"3","winHide":false,"oldrc":false,"name":"Détail Linux","x":490,"y":300,"wires":[["5b19fb3bd083fbab"],[],[]]},{"id":"5b19fb3bd083fbab","type":"function","z":"e0a460d99fb601d7","g":"13f6031584028d78","name":"Analyse environnement","func":"const inputEnv = msg.payload.toString().trim();\n\nlet configPath;\nlet statusColor;\nlet bip;\n\nswitch(inputEnv) {\n    case 'HAOS':\n        configPath = '/data/options.json';\n        msg.environment = 'Home Assistant OS';\n        bip = 1;\n        statusColor = 'green';\n        break;\n    case 'Docker':\n        configPath = '/data/options.json';\n        msg.environment = 'Docker (autre)';\n        bip = 2;\n        statusColor = 'blue';\n        break;\n    case 'Linux':\n        configPath = '/data/options.json';\n        msg.environment = 'Linux barebone';\n        bip = 3;\n        statusColor = 'yellow';\n        break;\n    case 'Windows':\n        configPath = 'C:\\\\data\\\\options.json';\n        msg.environment = 'Windows';\n        bip = 4;\n        statusColor = 'purple';\n        break;\n    default:\n        configPath = './data/options.json';\n        msg.environment = 'Inconnu';\n        bip = 5;\n        statusColor = 'red';\n}\n\n// 2ème digit : premium actif ou non\nconst premium = global.get('premium') || {};\nconst premiumDigit = (premium.status === 'active') ? '1' : '0';\n\nmsg.filename = configPath;\nmsg.payload = { \"bip\": String(bip) + premiumDigit };  // ex: \"11\", \"10\", \"21\"...\nmsg.headers = { \"Content-Type\": \"application/json\" };\nnode.status({fill: statusColor, shape: \"dot\", text: msg.environment});\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":300,"wires":[["545946b427b7dd35","4ac0d0daa6cae11e","b30f0cc17648bfe5"]]},{"id":"545946b427b7dd35","type":"file in","z":"e0a460d99fb601d7","d":true,"g":"13f6031584028d78","name":"Lit options.json","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":700,"y":380,"wires":[["ecec8e4d14aa14fb"]]},{"id":"ecec8e4d14aa14fb","type":"json","z":"e0a460d99fb601d7","d":true,"g":"13f6031584028d78","name":"Parse JSON","property":"payload","action":"","pretty":false,"x":870,"y":380,"wires":[["4e3b1cec318022f3"]]},{"id":"4e3b1cec318022f3","type":"debug","z":"e0a460d99fb601d7","d":true,"g":"13f6031584028d78","name":"Config chargée","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1080,"y":380,"wires":[]},{"id":"4ac0d0daa6cae11e","type":"debug","z":"e0a460d99fb601d7","g":"13f6031584028d78","name":"OS type","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":260,"wires":[]},{"id":"492a75153c076a42","type":"switch","z":"e0a460d99fb601d7","g":"13f6031584028d78","name":"bip permis ?","property":"Send_bip","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":160,"wires":[["91c19224574da8d1"],[]]},{"id":"b30f0cc17648bfe5","type":"http request","z":"e0a460d99fb601d7","g":"13f6031584028d78","name":"POST","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://www.smartphoton.ch/smart-energy-finance-endpoint.php","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":970,"y":300,"wires":[["cf5da00fd30711bc"]]},{"id":"cf5da00fd30711bc","type":"debug","z":"e0a460d99fb601d7","g":"13f6031584028d78","name":"debug 21","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":300,"wires":[]},{"id":"5d4268b075c1a1f9","type":"inject","z":"e0a460d99fb601d7","g":"13f6031584028d78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":200,"wires":[["91c19224574da8d1"]]},{"id":"3b2ba5ae57e447fd","type":"inject","z":"e0a460d99fb601d7","g":"13f6031584028d78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"bip\": \"11\"}","payloadType":"json","x":910,"y":160,"wires":[["4ac0d0daa6cae11e","b30f0cc17648bfe5"]]}]